<template>
  <div>
    <div class="rounded-lg shadow bg-base-200 drawer drawer-mobile h-screen">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="flex flex-col drawer-content">
        <div class="w-full navbar bg-base-300">
          <div class="flex-none lg:hidden">
            <label for="my-drawer-2" class="btn btn-square btn-ghost">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
          </div>
          <div class="flex-1 px-2 mx-2"></div>

          <div class="">
            <div>
              <div class="avatar">
                <div class="w-10 rounded-full">
                  <img :src="user.profile_picture_url" />
                </div>
              </div>
              <!-- <span class="-mt-10"> {{ user.full_name }}</span> -->
            </div>
            <div class="dropdown dropdown-end">
              <div tabindex="0" class="btn btn-square btn-ghost m-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="inline-block w-6 h-6 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                  ></path>
                </svg>
              </div>
              <!-- <div  class="m-1 btn">Dropdown</div> -->

              <ul
                tabindex="0"
                class="
                  p-2
                  shadow
                  menu
                  dropdown-content
                  bg-base-100
                  rounded-box
                  w-52
                "
              >
                <div>
                  <p class="font-bold text-gray-400">{{ user.full_name }}</p>
                </div>
                <hr />
                <li>
                  <button
                    @click="
                      $router.push({
                        name: 'Tutor Profile Settings',
                      })
                    "
                  >
                    Settings
                  </button>
                </li>
                <li>
                  <a @click="logout()">Logout</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex-none">
            <div class="avatar">
              <div class="rounded-full w-10 h-10 m-1">
                <p></p>
                <!--<img src="https://i.pravatar.cc/500?img=32" />-->
              </div>
            </div>
          </div>
        </div>

        <div class="container mx-auto p-5">
          <!-- <div class="card text-center"> -->
          <!-- <div class="container"> -->
          <router-view />
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-2" class="drawer-overlay"></label>

        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <li id="nav" v-for="(navItem, index) in navItems" :key="index">
            <router-link
              class="leading-6 text-black"
              :to="{ name: navItem.name }"
            >
              {{ navItem.text }}
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import AuthUser from "../../classes/AuthUser";

export default {
  created() {
    AuthUser.authCheck()
      .then((response) => {
        // this.logged_in = true;
        this.user = response.data.user;
        // this.user_roles = response.data.roles;
        // next();
      })
      .catch(() => {
        //    next('/login');
      });
  },
  data() {
    return {
      open: false,
      user: {},
      dimmer: true,
      right: false,
      navItems: [
        {
          text: "Home",
          url: "/home",
          name: "Tutor Home",
        },
        {
          text: "Offers",
          url: "/offers",
          name: "Offers",
        },
        // {
        //   text: "Our Tutors",
        //   url: "/tutors",
        //   name: "Tutors",
        // },
        // {
        //   text: "About Us",
        //   url: "/about-us",
        //   name: "About",
        // },
        // {
        //   text: "Login",
        //   url: "/Login",
        //   name: "Login",
        // },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },
  methods: {
    toggle() {
      this.open = !this.open;
    },
    logout() {
      AuthUser.authCheck().then((response) => {
        axios
          .post("/api/logout")
          .then((response) => {
            this.$router.replace("/login");
          })
          .catch((err) => {});
      });
      // $user =
    },
  },
};
</script>

<style scoped>
html {
  background: #efefef;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease-out;
}

#nav a.router-link-exact-active {
  background-color: lightgray;
  color: black;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
