<template>
  <Link
    as="div"
    :href="'/job-posts/' + job_details.id"
    class="p-4 cursor-pointer shadow-md rounded-md flex flex-col transition ease-in-out delay-50 space-y-4 border hover:border-2 hover:border-primary group w-full"
  >
    <!-- href="/" -->
    <header>
      <h1
        class="text-xl font-bold transition ease-in-out delay-50 group-hover:text-primary"
      >
        {{ job_details.title }}
      </h1>
    </header>
    <div>
      <p>
        {{ job_details.trimmed_description }}
      </p>
    </div>

    <div class="mt-auto">
      <div class="flex flex-row">
        <Link
          as="button"
          :href="'/job-posts/' + job_details.id"
          class="p-2 border rounded-md bg-gray-100 group-hover:border-primary"
        >
          Read More
        </Link>
      </div>
    </div>
  </Link>
</template>

<script>
export default {
  props: {
    job_details: {
      type: Object,
    },
  },
};
</script>

<style>
</style>
