<template>
  <div>
    <input
      type="checkbox"
      id="job-post-summary-modal"
      :checked="show_modal"
      class="modal-toggle"
    />
    <div class="modal">
      <div class="modal-box bg-white relative text-black">
        <label
          @click="$emit('closeModal')"
          class="btn btn-sm btn-circle absolute right-2 top-2"
          >✕</label
        >
        <h2 class="text-2xl">
          <slot name="title"> </slot>
        </h2>
        <slot></slot>

        <div class="modal-action">
          <slot name="modal-actions"></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["show_modal"],
};
</script>

<style>
</style>
