<template>
  <div class="container mx-auto">
    <div class="card shadow-2xl">
      <div class="card-body">
        <div class="container relative mx-auto shadow-sm">
          <h1
            class="text-black sm:text-center lg:text-left font-bold text-3xl lg:text-4xl pb-20"
          >
            Submit Your Application
          </h1>

          <profile-pic-uploader
            :user="this.tutor_details"
            @input="addImageToFormData($event)"
          ></profile-pic-uploader>
          <!--Tutorial Details-->
          <div class="flex sm:flex-col">
            <ul class="steps text-black">
              <li
                v-for="step in steps"
                :key="step.index"
                class="step"
                v-bind:class="{ 'step-primary': step.index == current_step }"
              >
                {{ step.name }}
              </li>
            </ul>
          </div>

          <!--Work Experience-->
          <div v-show="current_step == 1">
            <div class="container mx-auto">
              <!-- jobs -->
              <div class="card text-black shadow-lg">
                <div class="card-body">
                  <div class="card-title flex justify-between">
                    <h2 class="order-first">Job History</h2>
                    <button
                      class="btn btn-circle mr-4 order-last rounded-full"
                      @click="showJobAdditionModal = true"
                    >
                      <!-- <label for="my-modal-2" class="btn btn-circle modal-button"> -->
                      <!-- <label class="btn btn-circle"> -->
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                        />
                      </svg>
                      <!-- </label> -->
                    </button>
                  </div>
                  <hr />
                  <div
                    class="text-black pt-9 flex justify-between"
                    v-for="(job, index) in tutor_details.jobs"
                    :key="index"
                  >
                    <div class="order-first">
                      <h1 class="text-2xl font-bold text-black">
                        {{ job.title }}
                      </h1>
                      <p>{{ job.employer }}</p>
                    </div>
                    <div class="order-last">
                      <h1 class="text-1xl font-medium">
                        Worked for {{ job.employment_duration }}
                      </h1>
                      <span v-if="job.is_current_job">(current job)</span>
                      <div>
                        <button
                          class="mt-4 ml-2 btn-circle btn-xs hover:bg-red-300"
                          @click="removeJob(index)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- skills -->

              <div class="card text-black shadow-lg mt-8">
                <div class="card-body">
                  <div class="card-title flex justify-between">
                    <h2 class="order-first">Teaching Skills</h2>
                    <button class="mr-4 order-last rounded-full">
                      <label
                        for="my-modal-3"
                        class="btn btn-circle modal-button"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                          />
                        </svg>
                      </label>
                    </button>
                  </div>
                  <hr />
                  <div
                    class="text-black pt-9 flex justify-between"
                    v-for="(skill, index) in tutor_details.skills"
                    :key="index"
                  >
                    <div class="order-first">
                      <h1 class="text-2xl font-bold text-black">
                        {{ skill.text }}
                      </h1>
                      <!-- <p>{{ skill.text }}</p> -->
                      <!-- <br /> -->
                      <div v-if="skill.languages">
                        <span
                          class="badge mr-2"
                          v-for="(language, index) in skill.languages"
                          :key="index"
                        >
                          {{ language.text }}
                        </span>
                      </div>
                    </div>
                    <div class="order-last">
                      <!-- <h1 class="text-1xl font-medium">
                        {{ job.employed_from }} to {{ job.employed_to }}
                      </h1> -->
                      <div>
                        <button
                          class="mt-4 ml-2 btn-circle btn-xs hover:bg-red-300"
                          @click="removeSkill(index)"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-show="current_step == 2">
            <div
              class="grid gap-6 lg:grid-cols-2 md:grid-cols-2 text-black py-9"
            >
              <div>
                <!-- <div>
                  <multiselect v-model="value" :options="options"></multiselect>
                </div> -->

                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black"
                      >Subjects I Can Teach*</span
                    >
                  </label>
                  <multiselect
                    v-model.trim="$v.selectedSubjects.$model"
                    :options="subjects"
                    :multiple="true"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Pick Subjects"
                  >
                  </multiselect>
                  <p
                    class="error text-sm text-red-500 text-left"
                    v-if="$v.selectedSubjects.$error"
                  >
                    This field is required
                  </p>
                </div>
              </div>
              <div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black">Specialty*</span>
                  </label>
                  <multiselect
                    :disabled="selectedSubjects.length === 0"
                    v-model.trim="$v.specialty.$model"
                    :options="selectedSubjects"
                    :searchable="false"
                    :close-on-select="false"
                    :show-labels="false"
                    placeholder="Pick a specialty"
                  ></multiselect>
                  <p
                    class="error text-sm text-red-500 text-left"
                    v-if="$v.specialty.$error"
                  >
                    This field is required
                  </p>
                  <!-- <multiselect
                    :disabled="selectedSubjects.length === 0"
                    v-model="specialty"
                    :options="selectedSubjects"
                    :searchable="false"
                    :close-on-select="false"
                    :show-labels="false"
                    label="name"
                    track-by="name"
                    placeholder="Pick a value"
                  ></multiselect> -->
                  <!-- <input
                    type="text"
                    placeholder="middle name"
                    class="input input-bordered bg-white border-black"
                    v-bind="tutor_details.middle_name"
                  /> -->
                </div>
              </div>
              <!-- <div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black">Third Name</span>
                  </label>
                  <input
                    type="text"
                    placeholder="last name"
                    class="input input-bordered bg-white border-black"
                    v-bind="tutor_details.last_name"
                  />
                </div>
              </div> -->
            </div>
          </div>

          <!-- scheduling -->
          <div v-show="current_step == 3">
            <div class="container mx-auto">
              <div class="card text-black shadow-lg">
                <div class="card-body">
                  <div class="card-title flex justify-between">
                    <h2 class="order-first">
                      On what days will you be available?*
                    </h2>
                  </div>
                  <hr />
                  <div class="grid lg:grid-cols-3 md:grid-cols-3 text-black">
                    <div class="form-control">
                      <label
                        class="cursor-pointer label"
                        v-for="day in days"
                        :key="day"
                      >
                        <span class="label-text text-black">{{ day }}</span>
                        <input
                          :value="day"
                          type="checkbox"
                          v-model="tutor_details.available_days"
                          class="checkbox"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-black mt-4">*indicates a required field</p>
        <div class="grid grid-cols-2 card-actions">
          <button
            class="btn place-self-start"
            :disabled="current_step <= 1"
            @click="current_step--"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              />
            </svg>
            Previous
          </button>

          <button
            v-show="current_step < 4"
            @click="nextStep"
            class="btn place-self-end"
          >
            Next

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>

          <label
            v-show="current_step == 4"
            class="modal-button btn btn-success place-self-end"
            @click="openSubmissionConfirmationModal = true"
          >
            submit
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </label>
        </div>
      </div>
    </div>

    <!-- skills modal -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box bg-white">
        <div class="form-control text-black">
          <label class="label">
            <span class="label-text text-black">Skill</span>
          </label>
          <multiselect
            v-model="selectedTeachingSkill"
            :options="usefulTeachingSkills"
            :searchable="false"
            :close-on-select="true"
            :show-labels="false"
            label="text"
            track-by="value"
            placeholder="Pick a value"
          ></multiselect>
        </div>

        <div
          class="form-control"
          v-if="selectedTeachingSkill.value === 'Language'"
        >
          <label class="label">
            <span class="label-text text-black">Languages</span>
          </label>
          <multiselect
            v-model="selectedLanguages"
            :options="languages"
            :multiple="true"
            :searchable="false"
            :close-on-select="false"
            track-by="value"
            label="text"
            :show-labels="false"
            placeholder="What languages"
          ></multiselect>
        </div>

        <div class="modal-action">
          <label for="my-modal-3" class="btn btn-primary" @click="addSkill"
            >Save</label
          >
          <label for="my-modal-3" class="btn">Cancel</label>
        </div>
      </div>
    </div>
    <!-- jobs modal -->
    <input
      type="checkbox"
      :checked="showJobAdditionModal"
      id="my-modal-2"
      class="modal-toggle"
    />
    <div class="modal" v-if="showJobAdditionModal">
      <div class="modal-box bg-white">
        <div class="form-control text-black">
          <label class="label">
            <span class="label-text text-black">Job Title*</span>
          </label>

          <input
            type="text"
            placeholder="Job Title"
            class="input input-bordered bg-white border-black"
            v-model.trim="$v.job.title.$model"
          />
          <p class="error text-sm text-red-500" v-if="$v.job.title.$error">
            The job's title is required
          </p>
        </div>

        <div>
          <div class="form-control text-black">
            <label class="label">
              <span class="label-text text-black">Employer*</span>
            </label>

            <input
              type="text"
              placeholder="Name Of Employer"
              class="input input-bordered bg-white border-black"
              v-model.trim="$v.job.employer.$model"
            />
            <p class="error text-sm text-red-500" v-if="$v.job.employer.$error">
              The job's title is required
            </p>
          </div>
        </div>
        <div class="flex flex-col gap-3 pt-5">
          <div class="form-control text-black">
            <label class="label">
              <span class="label-text text-black"
                >How long have you worked here</span
              >
            </label>
            <multiselect
              style="border: 1px solid #4a5364"
              v-model.trim="$v.job.employment_duration.$model"
              :options="[
                '1 year',
                ' 2 years',
                '3 years',
                '4 years',
                '5 year',
                `6 years+`,
              ]"
              :searchable="false"
              :close-on-select="true"
              :show-labels="false"
              placeholder="Pick a value"
              >How long have you worked here</multiselect
            >
            <p
              class="error text-sm text-red-500"
              v-if="$v.job.employment_duration.$error"
            >
              required
            </p>
            <label class="cursor-pointer label">
              <span class="label-text font-weight-bold"
                >This is still my job</span
              >
              <input
                type="checkbox"
                v-model.trim="$v.job.is_current_job.$model"
                class="checkbox"
              />
            </label>
          </div>
        </div>

        <div class="form-control text-black">
          <label class="label text-black">
            <span class="label-text text-black">Job Description*</span>
          </label>

          <textarea
            class="textarea h-24 textarea-bordered bg-white border-black"
            placeholder="what's the job like? (max. 50)"
            v-model.trim="$v.job.description.$model"
          ></textarea>
          <p
            class="error text-sm text-red-500"
            v-if="$v.job.description.$error"
          >
            The job description is required
          </p>
        </div>
        <div class="modal-action">
          <label class="btn btn-primary" @click="addJob">Save</label>

          <label @click="closeJobAdditionModal()" class="btn">Cancel</label>
        </div>
      </div>
    </div>

    <!-- submission confirmation modal if checked will show modal -->
    <input
      type="checkbox"
      :checked="openSubmissionConfirmationModal"
      id="submission-confirmation"
      class="modal-toggle"
    />
    <div class="modal">
      <div class="modal-box">
        <h1 class="text-2xl">Confirmation</h1>
        <p>Submit request?</p>
        <div>
          <ul>
            <li
              v-for="(error, index) in errors"
              v-bind:key="index"
              class="text-error"
            >
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="modal-action">
          <label
            v-if="errors.length === 0"
            @click="submit()"
            class="btn btn-primary"
            v-bind:class="{ loading: submitingRequest === true }"
            >Yes</label
          >
          <label
            v-else
            for="submition-confirmation"
            @click="closeModalAndClearErrors()"
            class="btn bg-accent-1"
            >Ok</label
          >

          <label
            :disabled="disabled"
            @click="openSubmissionConfirmationModal = false"
            class="btn"
            >No</label
          >
        </div>
      </div>
    </div>

    <input
      type="checkbox"
      :checked="openSubmissionReponseModal"
      class="modal-toggle"
    />
    <div class="modal">
      <div class="modal-box">
        <h1 class="text-2xl">Confirmation</h1>

        <p>{{ submissionResponseMessage }}</p>

        <div class="modal-action">
          <label class="btn btn-primary" @click="$router.go()">Ok</label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DatePicker from "vue2-datepicker";
import Subjects from "../../classes/Subjects";

import "vue2-datepicker/index.css";
import Multiselect from "vue-multiselect";
import axios from "axios";
import ProfilePicUploader from "./ProfilePicUploader.vue";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
} from "vuelidate/lib/validators";

export default {
  components: { DatePicker, Multiselect, ProfilePicUploader },
  mounted() {
    this.subjects = Subjects.getSubjects();
    console.log(this.subjects);
  },
  methods: {
    closeModalAndClearErrors() {
      this.errors = [];
      this.openSubmissionConfirmationModal = false;
    },
    closeJobAdditionModal() {
      this.showJobAdditionModal = false;
      this.$v.job.$reset();
    },
    nextStep() {
      this.$v.tutor_details.$touch();
      if (this.current_step === 3) {
        this.$v.selectedSubjects.$touch();
        this.$v.specialty.$touch();

        if (this.$v.selectedSubjects.$invalid || this.$v.specialty.$invalid) {
          return null;
        }
      }
      if (this.$v.tutor_details.$invalid) {
        return null;
      }
      this.current_step++;
    },
    addJob() {
      this.$v.job.$touch();
      if (!this.$v.job.$invalid) {
        this.tutor_details.jobs.push(this.job);
        console.log(this.job);
        console.log(this.showJobAdditionModal);

        this.job = {};
        this.$v.job.$reset();
        console.log(this.tutor_details.jobs);
        this.showJobAdditionModal = false;
      }
    },
    removeJob(index) {
      this.tutor_details.jobs.splice(index, 1);
    },
    addSkill() {
      if (this.selectedTeachingSkill.value === "Language") {
        this.selectedTeachingSkill.languages = this.selectedLanguages;
      }
      this.tutor_details.skills.push(this.selectedTeachingSkill);
      // const updatedHero = hero.filter(item => item.id !== 1);
      this.usefulTeachingSkills.filter(
        (skill) => skill.value !== "Communication"
      );
      // this.usefulTeachingSkills.splice(
      //   this.usefulTeachingSkills.indexOf(this.selectedTeachingSkill.value),
      //   1
      // );
      this.selectedTeachingSkill = {};
      this.selectedLanguages = [];
      // console.log(this.tutor_details.selectedTeachingSkill);
    },
    removeSkill(index) {
      this.tutor_details.skills.splice(index, 1);
    },
    addImageToFormData(image) {
      this.my_form_data.append("image", image);
      console.log(this.my_form_data);
    },
    submit() {
      this.submitingRequest = true;
      let tutor = {
        // tutor_details : this.tutor_details,
        first_name: this.tutor_details.first_name,
        middle_name: this.tutor_details.middle_name,
        last_name: this.tutor_details.last_name,
        email: this.tutor_details.email,
        phone_number: this.tutor_details.phone_number,
        bio: this.tutor_details.bio,
        subjects: this.selectedSubjects,
        specialty: this.specialty,
        skills: this.tutor_details.skills,
        jobs: this.tutor_details.jobs,
        available_days: this.tutor_details.available_days,
        image: this.tutor_details.image,
      };
      // works
      let keys = Object.keys(tutor);
      let values = Object.values(tutor);

      let fd = new FormData();
      //works

      // let tutor = this.tutor_details

      for (let i = 0; i < keys.length; i++) {
        if (values[i]) {
          fd.append(keys[i], values[i]);
        }
      }
      fd.delete("jobs");
      fd.delete("subjects");
      fd.delete("skills");
      fd.delete("specialty");

      fd.append("jobs", JSON.stringify(tutor.jobs));
      fd.append("subjects", JSON.stringify(tutor.subjects));
      fd.append("skills", JSON.stringify(tutor.skills));
      fd.append("specialty", JSON.stringify(tutor.specialty));

      axios
        .post("api/tutors", fd)
        .then((response) => {
          // this.$router.go()
          this.submitingRequest = false;
          this.openSubmissionConfirmationModal = false;
          this.openSubmissionReponseModal = true;

          this.submissionResponseMessage =
            "Application submitted successfully, we'll be in touch via email, Thanks!";
        })
        .catch((err) => {
          for (let msg in err.response.data.errors) {
            let i = 0;
            //text += person[x] + " ";
            this.errors.push(err.response.data.errors[msg][i]);
            i++;
          }

          console.log(this.errors);
          console.log(err.response.data.errors);

          this.submitingRequest = false;
        });
    },
  },

  name: "Tutor-Enrollment-Form",
  data() {
    return {
      showing: true,
      submitingRequest: false,
      submissionResponseMessage: "",
      openSubmissionReponseModal: false,
      //backend validation
      //   errors: new Error(),
      errors: [],
      submissionError: false,
      showJobAdditionModal: false,
      openSubmissionConfirmationModal: false,
      submitStatus: null,
      subjects: [],
      name: "",
      age: 0,
      selectedTeachingSkill: {},
      my_form_data: new FormData(),
      previewImage: null,
      usefulTeachingSkills: [
        { text: "I can speak more than one language", value: "Language" },
        { text: "Active Listening", value: "Active Listening" },
        { text: "I'm a good communicator", value: "Communication" },
        { text: "Technical Knowledge", value: "Technical Knowledge" },
        { text: "Time Management", value: "Time Management" },
        { text: "Problem-Solving", value: "Problem-Solving" },
        { text: "Patience", value: "Patience" },
        { text: "Positivity", value: "Positivity" },
        { text: "Empathy", value: "Empathy" },
      ],
      languages: [
        {
          text: "Arabic",
          value: "Arabic",
        },
        {
          text: "Chinese",
          value: "Chinese",
        },
        {
          text: "French",
          value: "French",
        },
        {
          text: "Fulfude",
          value: "Fulfude",
        },
        {
          text: "Igbo",
          value: "Igbo",
        },
        {
          text: "German",
          value: "German",
        },
        {
          text: "Hindi",
          value: "Hindi",
        },
        {
          text: "Hausa",
          value: "Hausa",
        },
        // "",
      ],
      selectedLanguages: [],
      // subject specialty
      specialty: [],
      days: [
        "Mondays",
        "Tuesdays",
        "Wednesdays",
        "Thursdays",
        "Fridays",
        "Saturdays",
        "Sundays",
      ],
      selectedSubjects: [],
      value: [],
      //   subjects: [
      //     { name: "Maths", language: "JavaScript" },
      //     { name: "English", language: "JavaScript" },
      //     { name: "French", language: "Ruby" },
      //     { name: "Social Studies", language: "Ruby" },
      //     { name: "Further Maths", language: "PHP" },
      //     { name: "Physics", language: "Elixir" },
      //     { name: "Linguistics", language: "Elixir" },
      //   ],
      current_step: 1,
      time1: null,
      time2: null,
      time3: null,

      steps: [
        {
          name: "Personal Info",
          index: 1,
        },
        {
          name: "Skills and Work Experience",
          index: 2,
        },
        {
          name: "Preferred Subjects",
          index: 3,
        },
        {
          name: "Schedule",
          index: 4,
        },
      ],
      tutor_details: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
        phone_number: "",
        bio: "",
        image: "",
        jobs: [],
        skills: [],
        available_days: [],
        subjects: [],
      },
      job: {
        // title: "",
        // employer: "",
        // employed_from: "",
        // employed_to: "",
        // description: "",
      },
      skill: {
        // title: "",
        // employer: "",
        // employed_from: "",
        // employed_to: "",
        // description: "",
      },
    };
  },
  //   validations: {
  //     name: {
  //       required,
  //       minLength: minLength(4),
  //     },
  //     age: {
  //       between: between(20, 30),
  //     },
  //   },
  validations: {
    tutor_details: {
      first_name: {
        required,
        // minLength: minLength(4),
      },
      last_name: {
        required,
        // minLength: minLength(4),
      },
      email: {
        required,
        email,
        // minLength: minLength(4),
      },
      phone_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
      },
      bio: {
        required,
        // minLength: minLength(4),
      },
      //   image: {
      //     required,
      // minLength: minLength(4),
      //   },
      //   available_days: {
      //   required,
      // minLength: minLength(4),
      //   },
    },
    job: {
      title: {
        required,
      },
      employer: {
        required,
      },
      description: {
        required,
      },
      employment_duration: {
        required,
      },
      is_current_job: {},
    },
    selectedSubjects: {
      required,
    },
    specialty: {
      required,
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
