<template>
  <div class="container mx-auto">
    <div class="card my-10 shadow-2xl px-10">
      <div class="card-body">
        <div class="container relative mx-auto shadow-sm">
          <h1 class="text-black text-center font-bold text-4xl pb-20">
            Tutor Offer Form
          </h1>
          <div class="grid justify-center mb-10">
            <div class="avatar justify-center">
              <div
                class="mb-8 rounded-full w-28 h-28 ring ring-black ring-offset-base-100 ring-offset-2"
              >
                <img :src="tutor.profile_picture_url" />
                <!-- <img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png" /> -->
              </div>
            </div>
            <div class="mb-3">
              <h1 class="font-bold text-black text-2xl text-center">
                {{ tutor.full_name }}
              </h1>
            </div>
            <div class="flex justify-center">
              <Link
                as="button"
                class="btn btn-md bg-accent-3 text-white"
                :href="'/tutors/' + tutor.id"
              >
                See Profile
              </Link>
              <!-- <button class="btn">See Profile</button> -->
            </div>
          </div>
          <!--Tutorial Details-->
          <div
            class="grid lg:grid-cols-2 md:grid-cols-2 text-black py-9 px-4 md:px-9"
          >
            <div>
              <h1
                class="font-bold md:text-2xl lg:text-2xl text-xl text-center text-black lg:text-left md:text-left"
              >
                Select the subject(s) you want to be tutored in
              </h1>
              <div class="mb-10">
                <div
                  class="form-control md:w-auto lg:w-auto"
                  v-for="(subject, index) in tutor.subjects"
                  :key="index"
                >
                  <label class="cursor-pointer label text-black">
                    <span class="label-text text-black"
                      >{{ subject.name
                      }}<span v-if="subject.is_specialty"
                        >(specialty)</span
                      ></span
                    >

                    <input
                      type="checkbox"
                      checked="checked"
                      class="checkbox border-black"
                      @click="subjectIsChecked(subject, $event)"
                      :value="subject"
                      name="subject"
                      v-model="checkedSubjects"
                    />
                  </label>
                </div>
              </div>
            </div>
            <div>
              <h1
                class="font-bold md:text-2xl lg:text-2xl text-xl text-black text-center"
              >
                How many Students? {{ students }} (max 3)
              </h1>
              <div class="flex justify-center mt-4">
                <button
                  class="btn btn-square mr-4"
                  :disabled="students == 0"
                  @click="decreaseStudents()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M20 12H4"
                    />
                  </svg>
                </button>
                <button
                  class="btn btn-square"
                  :disabled="students == 3"
                  @click="increaseStudents()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <!--Scheduling-->
          <div class="">
            <div class="container lg:px-9 md:px-9 text-black">
              <div class="lg:text-center md:text-center text-left py-5">
                <h1 class="font-bold md:text-2xl lg:text-2xl text-2xl">
                  Scheduling
                </h1>
                <p>
                  !Scheduling depends on {{ tutor.full_name }}'s availabilty
                </p>
              </div>
            </div>
            <div
              class="grid lg:grid-cols-2 grid-cols-1 text-black py-9 md:px-9 lg:px-9"
            >
              <div class="flex lg:justify-left justify-center flex-col w-full">
                <label> How many sessions a week? </label>
                <select
                  class="select select-bordered bg-white border-black lg:w-96 text-black"
                  @change="onchange($event)"
                  v-model="number_of_sessions_per_week"
                >
                  <option disabled="disabled" selected="selected">
                    How many sessions a week?
                  </option>
                  <option
                    v-for="(day_count, index) in tutor.available_days.length"
                    :value="day_count"
                    :key="index"
                  >
                    {{ day_count }}
                  </option>
                </select>
              </div>

              <div>
                <h1
                  class="font-bold md:text-2xl lg:text-2xl mt-4 text-black text-center"
                >
                  John Doe Is available for Sessions On:
                </h1>
                <div class="flex flex-col justify-center mt-4 mr-6 w-64">
                  <div class="form-control grid grid-cols-2">
                    <label
                      class="cursor-pointer label lg:w-32"
                      v-for="(day, index) in tutor.available_days"
                      :key="index"
                    >
                      <span class="label-text text-black">{{ day.name }}</span>
                      <input
                        type="checkbox"
                        class="checkbox border-black mr-3"
                        @click="dayIsChecked(day, $event)"
                        :value="day"
                        name="day"
                        v-model="selectedDays"
                        :disabled="
                          selectedDays.length >= period &&
                          selectedDays.indexOf(index) == -1
                        "
                      />
                    </label>
                    <!-- <label
                      class="cursor-pointer label lg:w-32"
                      v-for="(day, index) in tutor.available_days"
                      :key="index"
                    >
                      <span class="label-text text-black">{{ day }}</span>
                      <input
                        type="checkbox"
                        class="checkbox border-black mr-3"
                        @click="dayIsChecked(day, $event)"
                        :value="day"
                        name="day"
                        v-model="selectedDays"
                        :disabled="
                          selectedDays.length >= period &&
                          selectedDays.indexOf(index) == -1
                        "
                      />
                    </label> -->
                  </div>
                </div>
                <div v-if="period != 0">
                  <div class="" v-if="selectedDays.length >= period">
                    <h1 class="font-bold text-1xl text-black text-left">
                      Session Duration
                    </h1>
                    <span data-tip="duration per session" class="tooltip">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>

                    <div class="form-control w-60">
                      <label
                        v-for="(duration, index) in durations"
                        :key="index"
                        class="cursor-pointer label"
                      >
                        <span class="label-text text-black">
                          {{ duration.name }}</span
                        >
                        <input
                          type="checkbox"
                          class="checkbox border-black"
                          @click="durationIsChecked(duration, $event)"
                          :value="index"
                          name="duration"
                          v-model="selectedDuration"
                          :disabled="
                            selectedDuration.length >= 1 &&
                            selectedDuration.indexOf(index) == -1
                          "
                        />
                      </label>
                    </div>
                  </div>

                  <!-- <div>
                    <div class="" v-if="selectedDuration !== ''">
                      <h1 class="font-bold text-1xl text-black text-center">
                        Starts At
                      </h1>
                      <vue-timepicker
                        :hour-range="[[7, 19]]"
                        format="hh:mm A"
                        v-model="startingTime"
                        @change="setStartingTime()"
                      ></vue-timepicker>
                      <p class="text-bold">
                        Sessions will start at {{ startingTime }} and end
                        {{ selectedDuration[0] }} after
                      </p>
                    </div>
                    <div class="form-control">
                      <label class="label">
                        <span class="label-text font-bold text-1xl text-black"
                          >Agreement Duration</span
                        >
                      </label>
                      <label class="input-group input-group-md">
                        <input
                          type="number"
                          v-model="agreement_duration"
                          class="input input-bordered input-md"
                        />
                        <span>Months</span>
                      </label>
                    </div>

                    <div class="form-control text-black">
                      <label class="label">
                        <span class="label-text text-black">Starting Date</span>
                      </label>
                      <date-picker
                        placeholder="Choose date"
                        v-model="starting_date"
                        format="YYYY-MM-DD"
                        valueType="format"
                        type="date"
                      ></date-picker>
                    </div>
                  </div> -->
                  <!-- <div class="">
                <select
                  class="select select-bordered bg-white border-black lg:w-96"
                  @change="onchange($event)"
                >
                  <option disabled="disabled" selected="selected">
                    Agreement Duration
                  </option>
                  <option
                    v-for="(day_count, index) in tutor.available_days.length"
                    :value="day_count"
                    :key="index"
                  >
                    {{ day_count }}
                  </option>

                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div> -->
                </div>
              </div>
              <!-- <div class="flex justify-center">
          <select class="select select-bordered bg-white select-primary w-full max-w-xs">
            <option disabled="disabled" selected="selected">
              Choose your superpower
            </option>
            <option>telekinesis</option>
            <option>time travel</option>
            <option>invisibility</option>
          </select>
        </div> -->
            </div>
          </div>
        </div>

        <div class="flex flex-row justify-center pt-9 card-actions">
          <button
            class="btn text-white"
            :disabled="disableSubmitButton"
            @click="showRequestSummaryModal = true"
          >
            Submit Offer

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <input
      type="checkbox"
      :checked="showRequestSummaryModal"
      class="modal-toggle"
    />
    <div class="modal modal-bottom sm:modal-middle">
      <div class="modal-box gap-y-9 bg-white text-black">
        <h1 class="text-2xl font-bold mb-5">
          Offer Summary For {{ tutor.full_name }}
        </h1>

        <div class="container flex-row space-y-2">
          <h2>
            <span class="font-semibold">Offer for</span> {{ tutor.full_name }}
          </h2>
          <p>
            <span class="font-semibold">To tutor:</span> {{ students }} students
          </p>
          <p>
            <span class="font-semibold">subjects:</span>
            <span v-for="subject in checkedSubjects" :key="subject">
              {{ subject.name }},
            </span>
          </p>

          <p>
            <span class="font-semibold"> Number Of Sessions Per Week:</span>
            {{ number_of_sessions_per_week }}
          </p>
          <p>
            <span class="font-semibold"> Days Of Sessions:</span>
            <span v-for="day in selectedDays" :key="day">
              {{ day.name }}
            </span>
          </p>

          <p>
            <span class="font-semibold"> Duration Per Session:</span>
            {{ selectedDuration[0] }}
          </p>
          <!-- <p>
            <span class="font-semibold"> Time for sessions:</span>
            {{ startingTime }}
          </p> -->

          <!-- <p>
            <span class="font-semibold">Agreement Duration:</span>
            {{ agreement_duration }} Months
          </p> -->

          <!-- <p>
            <span class="font-semibold">Starting Date:</span>
            {{ starting_date }}
          </p> -->

          <div class="form-control text-black bg-white">
            <label class="label text-black bg-white">
              <span class="label-text text-black bg-white"
                >Name a fair price</span
              >
            </label>
            <label class="input-group input-group-md text-black bg-white">
              <span class="text-black bg-white">₦</span>
              <input
                :placeholder="proposed_price"
                type="text"
                v-model="proposed_price"
                class="input input-bordered input-sm text-black bg-white border-black"
              />
              <span class="text-black bg-white">monthly</span>
            </label>
          </div>
        </div>
        <div class="modal-action">
          <label
            class="btn btn-secondary btn-outline"
            @click="showRequestSummaryModal = false"
            >Close</label
          >
          <label class="btn btn-primary" @click="submitOffer()">Send</label>

          <!-- <label
            @click="submit()"
            class="btn btn-primary"
            v-bind:class="{ loading: submitingRequest === true }"
            >Yes</label
          > -->
          <!-- <label for="submition-confirmation" class="btn">No</label> -->
        </div>
      </div>
    </div>
    <div class="bg-white">
      <!-- Put this part before </body> tag -->
      <input
        type="checkbox"
        :checked="showOfferSubmissionModal"
        id="my-modal-4"
        class="modal-toggle"
      />
      <label class="modal modal-bottom bg-white sm:modal-middle">
        <label class="modal-box relative" for="">
          <h3 class="text-lg font-bold">
            Your Offer has been submitted, please check your email for a
            confirmation mail
          </h3>
          <div class="modal-action">
            <Link class="btn btn-primary" to="/tutors">OK</Link>
          </div>
        </label>
      </label>
    </div>
  </div>
</template>

<script>
import "vue2-datepicker/index.css";
import DatePicker from "vue2-datepicker";

// Main JS (in UMD format)
import VueTimepicker from "vue2-timepicker";

// CSS
import "vue2-timepicker/dist/VueTimepicker.css";
import { Inertia } from "@inertiajs/inertia";
export default {
  name: "TutorRequestForm",
  components: {
    DatePicker,
  },
  props: {
    tutor: {
      type: Object,
    },
  },
  data() {
    return {
      showRequestSummaryModal: false,
      showOfferSubmissionModal: false,

      students: 0,
      proposed_price: null,
      checkedSubjects: [],
      subjectChecked: false,
      subjects: [], //these are the teacher's subjects
      // period:[
      // 1,
      // 2,
      // 3,
      // 4,
      // 5,
      // 6,
      // 7
      // ],
      period: 0,
      maxDuration: 1,
      days: [
        "mondays",
        "tuesdays",
        "wednesdays",
        "thursdays",
        "fridays",
        "saturdays",
        "sundays",
      ],
      durations: [
        {
          name: "30-mins",
          price: 1000,
        },
        {
          name: "1-hour",
          price: 2000,
        },
        {
          name: "2-hours",
          price: 3000,
        },
        {
          name: "3-hours",
          price: 4000,
        },
        {
          name: "4-hours",
          price: 5000,
        },
      ],

      //   selectedDuration: "",
      selectedDuration: [],

      number_of_sessions_per_week: 0,

      selectedDays: [],

      startingTime: "",
      starting_date: "",
      agreement_duration: 0,

      submitting_form: false,
    };
  },
  inject: ["toggleToast"],

  computed: {
    disableSubmitButton() {
      return this.checkedSubjects.length == 0 ||
        this.students == 0 ||
        this.number_of_sessions_per_week == null ||
        this.selectedDays.length == 0 ||
        this.agreement_duration == null ||
        this.selectedDuration.length == 0
        ? true
        : false;
    },
  },

  methods: {
    onchange: function (event) {
      this.period = event.target.value;
    },
    submitOffer() {
      const data = {
        subjects: this.checkedSubjects,
        number_of_students: this.students,
        number_of_sessions_per_week: this.number_of_sessions_per_week,
        session_days: this.selectedDays,
        duration_per_session: this.selectedDuration[0],
        // time_of_day: this.startingTime,
        agreement_duration: this.agreement_duration,
        // starting_date: this.starting_date,
        proposed_price: this.proposed_price,
        tutor_id: this.tutor.id,
      };
      Inertia.post("/offers", data, {
        onStart: () => {
          this.submitting_form = true;
          this.toggleToast("Submitting", true);
        },
        onFinish: () => {
          this.submitting_form = false;
          this.showOfferSubmissionModal = true;
          this.toggleToast("Offer Submitted");
        },
        onError: (errors) => {
          this.toggleToast("Something went wrong", false, "danger");
        },
      });
      //   axios
      //     .post("/api/offer", data)
      //     .then((response) => {
      //       this.showOfferSubmissionModal = true;
      //       //   this.router.go(-1);
      //     })
      //     .catch((error) => {});
    },
    increaseStudents() {
      this.students += 1;
      this.price += 5000;
    },

    decreaseStudents() {
      this.students -= 1;
      this.price -= 5000;
    },

    increasePrice() {
      this.price += 5000;
    },

    decreasePrice() {
      this.price -= 5000;
    },
    dayIsChecked(value, event) {
      if (event.target.checked) {
        this.price += 5000;
      } else {
        this.price -= 5000;
      }
    },
    subjectIsChecked(value, event) {
      if (event.target.checked) {
        this.price += 5000;
      } else {
        this.price -= 5000;
      }
    },

    durationIsChecked(duration, event) {
      if (event.target.checked) {
        this.selectedDuration.push(duration.name);
        this.price += duration.price;
      } else {
        this.selectedDuration = [];
        this.price -= duration.price;
      }
    },

    isChecked(value, event) {
      if (event.target.checked) {
        this.price += 5000;
      } else {
        this.price -= 5000;
      }
    },
  },
  components: {
    VueTimepicker,
  },
  created() {
    this.subjects = this.tutor.subjects;
  },
};
</script>

<style></style>
