<template>
  <!--<div>
    <div class="flex flex-row p-8">
      <div>
        <img
          class="w-24 h-24 rounded-full drop-shadow-2xl"
          src="https://kad-tutors-bucket.s3.us-east-2.amazonaws.com/img/yS0P7YLnWTqYSTpxwUf3sMU2WVT25nyAb2kLkq9T.jpg"
          alt=""
          width="384"
          height="512"
        />
      </div>
      <div class="mt-5 ml-6">
        <p class="text-lg font-medium">full name</p>
      </div>
    </div>

    <figure class="bg-slate-100 rounded-xl p-8 dark:bg-slate-800">
      <img
        class="w-24 h-24 rounded-full"
        src="https://kad-tutors-bucket.s3.us-east-2.amazonaws.com/img/yS0P7YLnWTqYSTpxwUf3sMU2WVT25nyAb2kLkq9T.jpg"
        alt=""
        width="384"
        height="512"
      />
      <span class="text-black text-xl">*</span>
    </figure>
  </div>
  -->
  <div class="container mx-auto">
    <div class="card shadow-2xl">
      <div class="card-body">
        <div class="container relative mx-auto shadow-sm">
          <h1
            class="text-black sm:text-center lg:text-left font-bold text-3xl lg:text-4xl pb-20"
          >
            Application Review
          </h1>

          <div class="flex flex-row p-8">
            <div>
              <img
                class="w-24 h-24 rounded-full drop-shadow-2xl"
                :src="tutor.profile_picture_url"
                alt=""
                width="384"
                height="512"
              />
            </div>
            <div class="mt-5 ml-6">
              <p class="text-lg font-medium">{{ tutor.full_name }}</p>
            </div>
          </div>
          <!--Tutorial Details-->
          <div class="flex sm:flex-col">
            <ul class="steps text-black">
              <li
                v-for="step in steps"
                :key="step.index"
                class="step"
                v-bind:class="{ 'step-primary': step.index == current_step }"
              >
                {{ step.name }}
              </li>
            </ul>
          </div>
          <div v-show="current_step == 1">
            <div class="grid gap-6 lg:grid-cols-3 md:grid-cols-3 text-black py-3">
              <div class="form-control">
                <label class="label">
                  <span class="label-text">First Name*</span>
                </label>
                <input
                  type="text"
                  placeholder="first name"
                  class="input input-bordered"
                  disabled="disabled"
                  v-model="tutor.first_name"
                />
              </div>

              <div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black">Middle Name</span>
                  </label>
                  <input
                    type="text"
                    placeholder="middle name"
                    disabled
                    aria-disabled="true"
                    class="input input-bordered bg-white border-black"
                    v-model="tutor.middle_name"
                  />
                </div>
              </div>
              <div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black">Last Name*</span>
                  </label>
                  <input
                    type="text"
                    placeholder="last name"
                    disabled
                    aria-disabled="true"
                    class="input input-bordered bg-white border-black"
                    v-model="tutor.last_name"
                  />
                </div>
              </div>
            </div>

            <div class="grid gap-6 lg:grid-cols-2 md:grid-cols-2 text-black py-3">
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Email Address*</span>
                </label>
                <input
                  type="text"
                  placeholder="your contactable email address"
                  disabled
                  aria-disabled="true"
                  class="input input-bordered bg-white border-black"
                  v-model="tutor.email"
                />
              </div>

              <div>
                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black">Phone Number*</span>
                  </label>
                  <input
                    type="text"
                    disabled
                    aria-disabled="true"
                    placeholder="your phone number"
                    class="input input-bordered bg-white border-black"
                    v-model="tutor.phone_number"
                  />
                </div>
              </div>
            </div>

            <div class="">
              <div class="text-black">
                <div class="lg:text-center md:text-center text-left py-3">
                  <div class="form-control">
                    <label class="label text-black">
                      <span class="label-text text-black">Bio*</span>
                    </label>
                    <textarea
                      v-model="tutor.bio"
                      disabled
                      aria-disabled="true"
                      class="textarea h-24 textarea-bordered bg-white border-black"
                      placeholder="Tell us about yourself"
                    ></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Work Experience-->
          <div v-show="current_step == 2">
            <div class="container mx-auto">
              <!-- jobs -->
              <div class="card text-black shadow-lg">
                <div class="card-body">
                  <div class="card-title flex justify-between">
                    <h2 class="order-first">Job History</h2>
                  </div>
                  <hr />
                  <div
                    class="text-black pt-9 flex justify-between"
                    v-for="(job, index) in tutor.jobs"
                    :key="index"
                  >
                    <div class="order-first">
                      <h1 class="text-2xl font-bold text-black">{{ job.title }}</h1>
                      <p>{{ job.employer }}</p>
                    </div>
                    <div class="order-last">
                      <h1 class="text-1xl font-medium">
                        Worked for {{ job.employment_duration }}
                      </h1>
                      <span v-if="job.is_current_job">(current job)</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- skills -->

              <div class="card text-black shadow-lg mt-8">
                <div class="card-body">
                  <div class="card-title flex justify-between">
                    <h2 class="order-first">Teaching Skills</h2>
                  </div>
                  <hr />
                  <div
                    class="text-black pt-9 flex justify-between"
                    v-for="(skill, index) in tutor.skills"
                    :key="index"
                  >
                    <div class="order-first">
                      <h1 class="text-md font-bold text-black">{{ skill.skill_name }}</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div v-show="current_step == 3">
            <div class="grid gap-6 lg:grid-cols-2 md:grid-cols-2 text-black py-9">
              <div>
                <!-- <div>
                  <multiselect v-model="value" :options="options"></multiselect>
                </div> -->

                <div class="form-control">
                  <h1 class="label-text text-black text-lg font-medium">
                    Subjects I Can Teach*
                  </h1>

                  <div>
                    <p
                      class="gap-y-2"
                      v-for="(subject, index) in tutor.subjects"
                      :key="index"
                    >
                      {{ subject.name }}
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div class="form-control">
                  <h1 class="label-text text-black text-lg font-medium">Specialty*</h1>
                  <p>{{ tutor.specialty.name }}</p>
                </div>
              </div>
            </div>
          </div>

          <!-- scheduling -->
          <div v-show="current_step == 4">
            <div class="container mx-auto">
              <div class="card text-black shadow-lg">
                <div class="card-body">
                  <div class="card-title flex justify-between">
                    <h2 class="order-first">On what days will you be available?*</h2>
                  </div>
                  <hr />
                  <div class="grid lg:grid-cols-3 md:grid-cols-3 text-black">
                    <div class="form-control">
                      <label
                        class="cursor-pointer label"
                        v-for="available_day in tutor.available_days"
                        :key="available_day"
                      >
                        <span class="label-text text-black">{{ available_day }}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="text-black mt-4">*indicates a required field</p>
        <div class="grid grid-cols-2 card-actions">
          <button
            class="btn place-self-start"
            :disabled="current_step <= 1"
            @click="current_step--"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 19l-7-7 7-7"
              />
            </svg>
            Previous
          </button>

          <button
            v-show="current_step < 4"
            @click="current_step++"
            class="btn place-self-end"
          >
            Next

            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </button>

          <label
            v-show="current_step == 4"
            for="submition-confirmation"
            class="modal-button btn btn-success place-self-end"
          >
            Verdict
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="inline-block w-6 h-6 ml-2 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5l7 7-7 7"
              ></path>
            </svg>
          </label>
        </div>
      </div>
    </div>

    <!--application verdict modal -->
    <input type="checkbox" id="submition-confirmation" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
       <label  for="submition-confirmation" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h1 class="text-2xl">Confirmation</h1>
        <p>Approve application?</p>
        <div class="modal-action flex justify-between">
          <!-- <label for="submition-confirmation" @click="submit()" class="btn btn-primary">Yes</label> -->
          <!-- <div class="">
            <label
              for="submition-confirmation"
              :disabled="loading"
              class="btn btn-primary order-first"
              >Close</label
            >
          </div> -->
          <div class="order-last">
            <label
              @click="approveApplication()"
              class="btn btn-primary"
              v-bind:class="{ loading: loading }"
              >Approve</label
            >
            <label for="feedback-for-declination" :disabled="loading" class="btn"
              >Decline</label
            >
          </div>
        </div>
      </div>
    </div>

    <input type="checkbox" id="feedback-for-declination" class="modal-toggle" />
    <div class="modal">
      <div class="modal-box">
        <div class="form-control">
          <label class="label text-black">
            <span class="label-text text-black">Reason for declination</span>
          </label>
          <textarea
            class="textarea h-24 textarea-bordered bg-white border-black"
            placeholder="reason"
          ></textarea>
        </div>
        <div class="modal-action">
          <!-- <label for="submition-confirmation" @click="submit()" class="btn btn-primary">Yes</label> -->
          <label
            @click="rejectApplication()"
            v-bind:class="{ loading: loading }"
            class="btn btn-primary"
            >Done</label
          >
          <label for="feedback-for-declination" :disabled="loading" class="btn"
            >Back</label
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    rejectApplication() {
      this.loading = true;

      axios
        .patch("/api/update-application-status/" + this.$route.params.tutor_id, {
          data: {
            status: 3,
          },
        })
        .then((response) => {
          this.loading = false;

          this.$router.replace("/home");
        })
        .catch((err) => {
          this.loading = false;
        });
    },
    approveApplication() {
      this.loading = true;
      axios
        .patch("/api/tutors/" + this.$route.params.tutor_id + "/update-application-status" , {
          status: 2,
        })
        .then((response) => {
          this.loading = false;
        //   this.$router.replace("/home");
        })
        .catch((err) => {
          this.loading = false;
        });
    },
  },
  created() {
    axios
      .get("/api/tutors/" + this.$route.params.tutor_id)
      .then((response) => {
        this.tutor = response.data.tutor;
      })
      .catch((err) => {});
  },
  data() {
    return {
      tutor: {},
      loading: false,
      current_step: 1,
      steps: [
        {
          name: "Personal Info",
          index: 1,
        },
        {
          name: "Skills and Work Experience",
          index: 2,
        },
        {
          name: "Preferred Subjects",
          index: 3,
        },
        {
          name: "Schedule",
          index: 4,
        },
      ],
    };
  },
  name: "ApplicationDetails",
};
</script>

<style></style>
