<template>
  <div>
    <div class="w-full shadow stats mb-10">
      <div class="stat py-20 place-items-center place-content-center">
        <div class="stat-title">Total Number Of Tutors</div>
        <div class="stat-value">{{ total_number_of_tutors }}</div>

        <!--
        <div class="stat-value">310M</div>

        <div class="stat-desc">Jan 1st - Feb 1st</div> -->
      </div>
      <div class="stat py-20 place-items-center place-content-center">
        <div class="stat-title">Total number of Applications</div>
        <!-- <div class="stat-value text-success">4,200</div>-->

        <div class="stat-value text-success">{{ total_number_of_applications }}</div>

        <!-- <div class="stat-desc text-success">↗︎ 400 (22%)</div> -->
      </div>
      <div class="stat py-20 place-items-center place-content-center">
        <div class="stat-title">Number of Approved applications</div>
        <div class="stat-value text-error">
          {{ total_number_of_approved_applications }}
        </div>

        <!--
        <div class="stat-value text-error">1,200</div>

         <div class="stat-desc text-error">↘︎ 90 (14%)</div> -->
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Recent Applications</h2>
        <div class="overflow-x-auto border border-black-600">
          <table class="table w-full">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Job</th>
                <th>Application Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="recent_pending_application in recent_pending_applications"
                :key="recent_pending_application.id"
              >
                <th>{{ recent_pending_application.id }}</th>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="w-12 h-12 mask mask-squircle">
                        <img
                          :src="recent_pending_application.tutor.profile_picture_url"
                          alt="applicant"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">
                        {{ recent_pending_application.tutor.full_name }}
                      </div>

                      <!--<div class="text-sm opacity-50">United States</div>-->
                    </div>
                  </div>
                </td>
                <td>Quality Control Specialist</td>
                <td>Blue</td>
                <th>
                  <button
                    class="btn btn-ghost btn-xs"
                    @click="
                      $router.push({
                        name: 'Application Details',
                        params: { tutor_id: `${recent_pending_application.tutor.id}` },
                      })
                    "
                  >
                    details
                  </button>
                </th>
              </tr>
            </tbody>
          </table>
          <div
            class="justify-center card-actions"
            v-if="recent_pending_applications.length === 0"
          >
            <p class="text-center text-xl text-ghost">No Data</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      total_number_of_applications: 0,
      total_number_of_approved_applications: 0,
      total_number_of_tutors: 0,
      recent_pending_applications: [],
    };
  },
  created() {
    axios
      .get("api/get-dashboard-home-data")
      .then((response) => {
        this.total_number_of_applications = response.data.total_number_of_applications;
        this.total_number_of_approved_applications =
          response.data.total_number_of_approved_applications;

        this.total_number_of_tutors = response.data.total_number_of_tutors;
        this.recent_pending_applications = response.data.recent_pending_applications;
      })
      .catch((err) => {});
  },
};
</script>

<style></style>
