<template>
  <div>
    <div class="w-full shadow stats mb-10">
      <div class="stat py-20 place-items-center place-content-center">
        <div class="stat-title">Total Number Of Offers</div>
        <div class="stat-value">{{ total_number_of_offers }}</div>

        <!--
        <div class="stat-value">310M</div>

        <div class="stat-desc">Jan 1st - Feb 1st</div> -->
      </div>
      <!-- <div class="stat py-20 place-items-center place-content-center">
        <div class="stat-title">Total number of Applications</div> -->
      <!-- <div class="stat-value text-success">4,200</div>-->

      <!-- <div class="stat-value text-success">{{ total_number_of_applications }}</div> -->

      <!-- <div class="stat-desc text-success">↗︎ 400 (22%)</div> -->
      <!-- </div> -->
      <!-- <div class="stat py-20 place-items-center place-content-center">
        <div class="stat-title">Number of Approved applications</div>
        <div class="stat-value text-error">
          {{ total_number_of_approved_applications }}
        </div> -->

      <!--
        <div class="stat-value text-error">1,200</div>

         <div class="stat-desc text-error">↘︎ 90 (14%)</div> -->
      <!-- </div> -->
    </div>

    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Recent Pending Offers</h2>
        <div class="overflow-x-auto border border-black-600">
          <table class="table w-full">
            <thead>
              <tr>
                <th></th>
                <th>Offerer</th>
                <!-- <th>Job</th> -->
                <th>Offer Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="recent_pending_offer in recent_pending_offers"
                :key="recent_pending_offer.id"
              >
                <th>{{ recent_pending_offer.id }}</th>
                <td>
                  <div class="flex items-center space-x-3">
                    <div class="avatar">
                      <div class="w-12 h-12 mask mask-squircle">
                        <img
                          :src="recent_pending_offer.tutor.profile_picture_url"
                          alt="applicant"
                        />
                      </div>
                    </div>
                    <div>
                      <div class="font-bold">
                        {{ recent_pending_offer.offererName }}
                      </div>

                      <!--<div class="text-sm opacity-50">United States</div>-->
                    </div>
                  </div>
                </td>
                <td>{{ recent_pending_offer.offerDate }}</td>
                <!-- <td>Blue</td> -->
                <th>
                  <button
                    class="btn btn-ghost btn-xs"
                    @click="
                      $router.push({
                        name: 'Offer Details',
                        params: {
                          offer_id: `${recent_pending_offer.tutor.id}`,
                        },
                      })
                    "
                  >
                    details
                  </button>
                </th>
              </tr>
            </tbody>
          </table>
          <div
            class="justify-center card-actions"
            v-if="recent_pending_offers.length === 0"
          >
            <p class="text-center text-xl text-ghost">No Offers Right Now</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <dashboard-layout> </dashboard-layout> -->
</template>

<script>
import DashboardLayout from "../../Shared/DashboardLayout.vue";

export default {
  layout: DashboardLayout,
  props: {
    tutor: {
      type: Object,
    },
    total_number_of_offers: {
      type: Number,
    },
    recent_pending_offers: {
      type: Array,
    },
  },
};
</script>

<style>
</style>
