<template>
  <div class="flex flex-row justify-center text-black">
    <Head title="Setup Your Profile"> </Head>
    <div class="flex flex-col space-y-6 min-h-screen justify-center min-w-4xl">
      <div>
        <h2 class="text-2xl text-center">
          Hello {{ user.full_name }}, Lets setup your profile
        </h2>
      </div>
      <div class="card border w-full">
        <div class="card-body md:max-w-3xl max-w-sm">
          <div class="pb-5 flex flex-row justify-center">
            <ul class="steps w-full">
              <li
                class="step"
                :class="{ 'step-primary': current_step.value == 1 }"
              >
                Bio
              </li>
              <li
                class="step"
                :class="{ 'step-primary': current_step.value == 2 }"
              >
                Skills/Subjects
              </li>
              <li
                class="step"
                :class="{ 'step-primary': current_step.value == 3 }"
              >
                Experience
              </li>
              <li
                class="step"
                :class="{ 'step-primary': current_step.value == 4 }"
              >
                Availability
              </li>
            </ul>
          </div>
          <div v-show="current_step.value == 1" class="flex flex-col space-y-9">
            <div>
              <div class="flex flex-col">
                <profile-pic-uploader :user="user"> </profile-pic-uploader>

                <p
                  class="error text-sm text-red-500 text-center"
                  v-if="$v.user.profile_picture_url.$error"
                >
                  Please select a profile picture
                </p>
              </div>
              <div class="form-control w-full">
                <label class="label text-sm text-black">
                  Enter a single sentence description of your professional
                  skills/experience (e.g. Veteran English Tutor, Expert
                  Mathematician, Linguist) *
                </label>
                <input
                  type="text"
                  v-model.trim="$v.tutor.title.$model"
                  placeholder="Type here"
                  class="input input-bordered border-black w-full bg-white"
                  :class="{
                    ' input-error border-red-500': $v.tutor.title.$error,
                  }"
                />
                <p
                  class="error text-sm text-red-500 text-left"
                  v-if="$v.tutor.title.$error"
                >
                  This field is required
                </p>
              </div>
            </div>
            <div class="">
              <div class="form-control">
                <label class="label text-black">
                  <span class="label-text text-black">Your Bio*</span>
                </label>
                <textarea
                  v-model.trim="$v.tutor.bio.$model"
                  class="textarea h-24 textarea-bordered bg-white border-black"
                  :class="{
                    'input-error border-red-500': $v.tutor.bio.$error,
                  }"
                  placeholder="Tell us about yourself"
                ></textarea>
                <span class="text-sm">
                  Use this space to show clients you have the skills and
                  experience they're looking for.
                </span>
                <p
                  class="error text-sm text-red-500 text-left"
                  v-if="$v.tutor.bio.$error"
                >
                  This field is required
                </p>
              </div>
            </div>
          </div>

          <div v-show="current_step.value == 2" class="flex flex-col space-y-5">
            <h2 class="card-title text-2xl">What subjects can you teach?</h2>
            <div class="flex flex-col space-y-10">
              <div class="">
                <div class="form-control text-black">
                  <label class="label">
                    <span class="label-text text-black">Select subjects*</span>
                    <!-- <span class="label-text-alt">Alt label</span> -->
                  </label>
                  <multiselect
                    v-model="tutor.subjects"
                    :taggable="true"
                    :options="subjects"
                    @tag="addTag"
                    :multiple="true"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Pick Subjects"
                  >
                  </multiselect>
                  <p
                    class="error text-sm text-red-500 text-left"
                    v-if="$v.tutor.subjects.$error"
                  >
                    This field is required
                  </p>
                  <!-- <span class="text-sm mt-3">select the subjects </span> -->
                </div>

                <div class="form-control pt-5">
                  <label class="label">
                    <span class="label-text text-black"
                      >Which of the subjects is your specialty?*</span
                    >
                    <!-- <span class="label-text-alt">Alt label</span> -->
                  </label>
                  <multiselect
                    :disabled="tutor.subjects.length == 0"
                    v-model="tutor.specialty_subject"
                    :taggable="true"
                    :options="tutor.subjects"
                    :multiple="false"
                    :close-on-select="true"
                    placeholder="which is your specialty?"
                  >
                  </multiselect>

                  <p
                    class="error text-sm text-red-500 text-left"
                    v-if="$v.tutor.specialty_subject.$error"
                  >
                    This field is required
                  </p>
                </div>
              </div>

              <hr />
              <div class="mt-5">
                <h2 class="card-title text-2xl">
                  Select a teaching skill that you have*
                </h2>

                <div class="form-control w-full">
                  <multiselect
                    v-model="tutor.skills"
                    :taggable="true"
                    :options="skills"
                    label="text"
                    track-by="value"
                    :multiple="true"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Pick Subjects"
                  >
                  </multiselect>
                  <p
                    class="error text-sm text-red-500 text-left"
                    v-if="$v.tutor.skills.$error"
                  >
                    This field is required
                  </p>
                  <span class="text-sm mt-3"
                    >let potential clients know what more you can offer
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div v-show="current_step.value == 3">
            <div class="card-title flex justify-between">
              <h2 class="order-first">Job History</h2>
              <button
                class="btn btn-circle mr-4 order-last rounded-full"
                @click="show_job_addition_modal = true"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                  />
                </svg>
                <!-- </label> -->
              </button>
            </div>
            <hr />
            <div class="">
              <div
                class="text-black pt-9 flex justify-between"
                v-for="(job, index) in tutor.jobs"
                :key="index"
              >
                <div class="order-first">
                  <h1 class="text-lg font-bold text-black">
                    {{ job.title }}
                  </h1>
                  <p>{{ job.employer }}</p>
                </div>
                <div class="order-last">
                  <h1 class="text-sm font-medium">
                    Worked for {{ job.employment_duration }}
                  </h1>
                  <span v-if="job.is_current_job">(current job)</span>
                  <div>
                    <button
                      class="mt-4 ml-2 btn-circle btn-xs"
                      @click="removeJob(index)"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-6 w-6 hover:fill-red-300"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- jobs modal -->

            <modal
              :show_modal="show_job_addition_modal"
              @closeModal="show_job_addition_modal = false"
            >
              <div class="">
                <div class="form-control text-black">
                  <label class="label">
                    <span class="label-text text-black">Job Title*</span>
                  </label>

                  <input
                    type="text"
                    placeholder="Job Title"
                    class="input input-bordered bg-white border-black"
                    v-model="job.title"
                  />
                  <p
                    class="error text-sm text-red-500"
                    v-if="$v.job.title.$error"
                  >
                    The job's title is required
                  </p>
                </div>

                <div>
                  <div class="form-control text-black">
                    <label class="label">
                      <span class="label-text text-black">Employer*</span>
                    </label>
                    <input
                      type="text"
                      placeholder="Name Of Employer"
                      class="input input-bordered bg-white border-black"
                      v-model="job.employer"
                    />
                    <p
                      class="error text-sm text-red-500"
                      v-if="$v.job.employer.$error"
                    >
                      This field is required
                    </p>
                  </div>
                </div>
                <div class="flex flex-col gap-3 pt-5">
                  <div class="form-control text-black">
                    <label class="label">
                      <span class="label-text text-black"
                        >How long have you worked here*</span
                      >
                    </label>
                    <multiselect
                      style="border: 1px solid #4a5364"
                      v-model="job.employment_duration"
                      :options="[
                        '<1 year',
                        '1 year',
                        '2 years',
                        '3 years',
                        '4 years',
                        '5 year',
                        `6 years+`,
                      ]"
                      :searchable="false"
                      :close-on-select="true"
                      :show-labels="false"
                      placeholder="Pick a value"
                      >How long have you worked here</multiselect
                    >
                    <label class="cursor-pointer label">
                      <span class="label-text text-black font-weight-bold"
                        >This is still my job</span
                      >
                      <input
                        type="checkbox"
                        v-model="job.is_current_job"
                        class="checkbox"
                      />
                    </label>
                    <p
                      class="error text-sm text-red-500"
                      v-if="$v.job.employment_duration.$error"
                    >
                      This field is required
                    </p>
                  </div>
                </div>

                <div class="form-control text-black">
                  <label class="label text-black">
                    <span class="label-text text-black">Job Description*</span>
                  </label>

                  <textarea
                    class="textarea h-24 textarea-bordered bg-white border-black"
                    placeholder="what's the job like? (max. 50)"
                    v-model="job.description"
                  ></textarea>
                  <p
                    class="error text-sm text-red-500"
                    v-if="$v.job.description.$error"
                  >
                    This field is required
                  </p>
                </div>
              </div>

              <template v-slot:modal-actions>
                <button @click="addJob()" class="btn btn-outline btn-primary">
                  Save
                </button>
              </template>
            </modal>
          </div>

          <div v-show="current_step.value == 4">
            <h2 class="card-title text-2xl">
              On what days are you be available to home tutor?
            </h2>
            <hr />
            <div class="">
              <div class="grid lg:grid-cols-3 md:grid-cols-3 text-black">
                <div class="form-control">
                  <label
                    class="cursor-pointer label"
                    v-for="day in days"
                    :key="day"
                  >
                    <span class="label-text text-black">{{ day }}</span>
                    <input
                      :value="day"
                      type="checkbox"
                      v-model="tutor.available_days"
                      class="checkbox"
                    />
                  </label>
                </div>
              </div>
              <p
                class="error text-sm text-red-500 text-left"
                v-if="$v.tutor.available_days.$error"
              >
                Select at least one day
              </p>
            </div>
          </div>
          <hr />
          <div class="card-actions justify-end pt-5">
            <button
              class="btn btn-outline"
              :class="{ disabled: submitting_form }"
              v-show="current_step.value > 1"
              @click="goBackOneStep()"
            >
              Back
            </button>
            <button
              class="btn btn-primary"
              @click="nextStep()"
              v-show="current_step.value < 4"
            >
              Next : {{ next_step_text }}
            </button>

            <button
              class="btn btn-success"
              :class="{ loading: submitting_form }"
              @click="submit()"
              v-show="current_step.value == 4"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import Multiselect from "vue-multiselect";
import Subjects from "../../classes/Subjects";
import ProfilePicUploader from "../Auth/FormElements/ProfilePicUploader.vue";
import Modal from "../Components/Modal.vue";
import { Head } from "@inertiajs/inertia-vue";

import {
  required,
  minLength,
  between,
  email,
  maxLength,
} from "vuelidate/lib/validators";
export default {
  components: {
    ProfilePicUploader,
    Multiselect,
    ProfilePicUploader,
    Modal,
    Head,
  },

  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    this.subjects = Subjects.getSubjects();
  },
  methods: {
    validateFirstStep() {
      if (this.$v.tutor.title.$invalid == true) return false;
      if (this.$v.tutor.bio.$invalid == true) return false;
      //   if (this.$v.tutor.image.$invalid == true) return false;
      if (this.$v.user.profile_picture_url.$invalid == true) return false;
      this.$v.tutor.$reset();
      this.current_step.value++;
      this.next_step_text = "Experience";
    },

    validateSecondStep() {
      if (this.$v.tutor.subjects.$invalid == true) return false;
      if (this.$v.tutor.specialty_subject.$invalid == true) return false;
      if (this.$v.tutor.skills.$invalid == true) return false;
      this.$v.tutor.$reset();

      this.current_step.value++;
      this.next_step_text = "Availability";
    },

    validateFourthStep() {
      if (this.$v.tutor.available_days.$invalid == true) return false;
      this.$v.tutor.$reset();
      return true;
    },

    validateJobEntry() {
      if (this.$v.tutor.subjects.$invalid == true) return false;
      if (this.$v.tutor.specialty_subject.$invalid == true) return false;
      if (this.$v.tutor.skills.$invalid == true) return false;
      this.$v.tutor.$reset();

      this.current_step.value++;
      this.next_step_text = "Availability";
    },
    nextStep() {
      //   if (this.current_step.value == 1) {
      this.$v.tutor.$touch();
      console.log(this.$v.tutor);

      if (this.current_step.value == 1) return this.validateFirstStep();
      if (this.current_step.value == 2) return this.validateSecondStep();
      if (this.current_step.value == 3) {
        this.current_step.value++;
        this.next_step_text = "Availability";
      }
      //   }
      //   this.current_step.value++;
      //   if (this.current_step.value == 1) this.next_step_text = "Skills/Subjects";
      //   if (this.current_step.value == 2) this.next_step_text = "Experience";
      //   if (this.current_step.value == 3) this.next_step_text = "Availability";
    },

    goBackOneStep() {
      this.current_step.value--;
      if (this.current_step.value == 2) this.next_step_text = "Skills/Subjects";
      if (this.current_step.value == 3) this.next_step_text = "Experience";
      if (this.current_step.value == 4) this.next_step_text = "Experience";
    },
    addTag(newTag) {
      this.tutor.subjects.push(newTag);
    },

    addJob() {
      this.$v.job.$touch();
      if (!this.$v.job.$invalid) {
        this.tutor.jobs.push(this.job);
        this.show_job_addition_modal = false;
        this.$v.job.$reset();
        this.job = {};

        //     this.tutor_details.jobs.push(this.job);
        //     console.log(this.job);
        //     console.log(this.showJobAdditionModal);

        //     this.job = {};
        //     console.log(this.tutor_details.jobs);
        //     this.showJobAdditionModal = false;
      }
    },
    removeJob(index) {
      this.tutor.jobs.splice(index, 1);
    },

    submit() {
      //determine if last step is valid
      if (this.validateFourthStep() == false) return false;

      this.submitting_form = true;

      let tutor = {
        title: this.tutor.title,
        // languages: this.tutor.languages,
        email: this.tutor.email,
        phone_number: this.tutor.phone_number,
        bio: this.tutor.bio,
        subjects: this.tutor.subjects,
        specialty: this.tutor.specialty_subject,
        skills: this.tutor.skills,
        jobs: this.tutor.jobs,
        available_days: this.tutor.available_days,
        image: this.tutor.image,
      };
      // works
      let keys = Object.keys(tutor);
      let values = Object.values(tutor);

      let fd = new FormData();
      //works

      // let tutor = this.tutor_details

      for (let i = 0; i < keys.length; i++) {
        if (values[i]) {
          fd.append(keys[i], values[i]);
        }
      }
      fd.delete("jobs");
      fd.delete("subjects");
      fd.delete("skills");
      fd.delete("specialty");

      fd.append("jobs", JSON.stringify(tutor.jobs));
      fd.append("subjects", JSON.stringify(tutor.subjects));
      fd.append("available_days", JSON.stringify(tutor.available_days));

      fd.append("skills", JSON.stringify(tutor.skills));
      fd.append("specialty", JSON.stringify(tutor.specialty));

      Inertia.post("/tutors/profile/setup", fd, {
        onStart: () => {
          this.submitting_form = true;
        },
        onFinish: () => {
          this.submitting_form = false;
        },
        onError: (errors) => {
          for (let msg in errors.response.data.errors) {
            let i = 0;
            //text += person[x] + " ";
            this.errors.push(err.response.data.errors[msg][i]);
            i++;
          }

          console.log(this.errors);
          console.log(err.response.data.errors);

          this.submitting_form = false;
        },
      });
    },
  },
  data() {
    return {
      subjects: [],
      days: [
        "Mondays",
        "Tuesdays",
        "Wednesdays",
        "Thursdays",
        "Fridays",
        "Saturdays",
        "Sundays",
      ],
      job: {},
      show_job_addition_modal: false,
      skills: [
        { text: "I can speak more than one language", value: 1 },
        { text: "Active Listening", value: 2 },
        { text: "I'm a good communicator", value: 3 },
        { text: "Technical Knowledge", value: 4 },
        { text: "Time Management", value: 5 },
        { text: "Problem-Solving", value: 6 },
        { text: "Patience", value: 7 },
        { text: "Positivity", value: 8 },
        { text: "Empathy", value: 9 },
      ],
      languages: [
        {
          text: "Arabic",
          value: "Arabic",
        },
        {
          text: "Chinese",
          value: "Chinese",
        },
        {
          text: "French",
          value: "French",
        },
        {
          text: "Fulfude",
          value: "Fulfude",
        },
        {
          text: "Igbo",
          value: "Igbo",
        },
        {
          text: "German",
          value: "German",
        },
        {
          text: "Hindi",
          value: "Hindi",
        },
        {
          text: "Hausa",
          value: "Hausa",
        },
      ],
      current_step: {
        value: 1,
        text: "",
      },
      tutor: {
        title: "",
        bio: "",
        image: "",
        skills: [],
        jobs: [],
        available_days: [],
        subjects: [],
        specialty_subject: "",
        languages: [],
      },

      next_step_text: "Skills",
      submitting_form: false,
    };
  },

  validations: {
    user: {
      profile_picture_url: {
        required,
      },
    },
    tutor: {
      subjects: {
        required,
      },
      specialty_subject: {
        required,
      },
      skills: {
        required,
      },
      title: {
        required,
        // minLength: minLength(4),
      },
      //   last_name: {
      //     required,
      //     // minLength: minLength(4),
      //   },
      //   email: {
      //     required,
      //     email,
      //     // minLength: minLength(4),
      //   },
      //   phone_number: {
      //     required,
      //     minLength: minLength(11),
      //     maxLength: maxLength(11),
      //   },
      bio: {
        required,
        // minLength: minLength(4),
      },
      image: {
        required,
        // minLength: minLength(4),
      },
      available_days: {
        required,
        //   minLength: minLength(4),
      },
    },
    job: {
      title: {
        required,
      },
      employer: {
        required,
      },
      description: {
        required,
      },
      employment_duration: {
        required,
      },
      is_current_job: {},
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
