<template>
  <div>
    <tutor-enrollment-form></tutor-enrollment-form>
  </div>
</template>

<script>
import TutorEnrollmentForm from "../TutorEnrollmentForm.vue";
export default {
  components: { TutorEnrollmentForm },
  name: "Become-A-Tutor",
};
</script>

<style></style>
