<template>
  <div>
    <!-- <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/> -->

    <div class="hero mt-52">
      <div class="text-left hero-content">
        <div class="max-w-auto lg:w-7/12">
          <div class="text-left">
            <h1 class="mb-5 text-6xl text- text-accent-1 font-bold">
              <!-- <img :src="'images/blackboard.svg'" width="450" />
            <img src="images/blackboard.svg" width="450"  alt="text"/>
            -->
              The place to hire talented home tutors from all around kaduna.
            </h1>
            <p class="mb-5 text-black text-2xl font-medium">
              Find and work with skilled tutors that fit your every description
              and needs or become one yourself.
            </p>
          </div>
          <div>
            <button
              class="
                btn btn-outline
                border-accent-1
                text-accent-1
                hover:bg-accent-1-hover
              "
              @click="
                $router.push({
                  name: 'Tutors',
                })
              "
            >
              Hire a Tutor
            </button>
            <button
              class="btn bg-accent-1 hover:bg-accent-1-hove"
              @click="
                $router.push({
                  name: 'Become A Tutor',
                })
              "
            >
              Become a Tutor
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--What we do-->
    <div class="hero mt-60">
      <div class="text-center hero-content">
        <div class="max-w-auto lg:w-7/12">
          <h1 class="mb-5 text-5xl text-black font-bold">
            <!-- <img :src="'images/blackboard.svg'" width="450" />
            <img src="images/blackboard.svg" width="450"  alt="text"/>
            -->
            What We Do
          </h1>
          <p class="mb-5 text-black text-center text-2xl font-medium">
            We help people find home tutors for themselves or their kids. Hire
            at a convinient price and meet at your own schedule.
          </p>
        </div>
      </div>
    </div>

    <!--How it works-->
    <div class="container py-60 mx-auto">
      <div class="text-center">
        <h1 class="text-black text-6xl font-bold">How It Works</h1>
      </div>
      <div class="grid lg:grid-cols-4 sm:grid-cols-1 gap-4 py-16">
        <div class="">
          <span class="badge badge-lg bg-accent-1 border-transparent"> 1 </span>
          <div class="pl-4 text-center">
            <div class="flex justify-center">
              <img :src="'images/study.svg'" width="250" />
            </div>
            <h1 class="mb-5 text-accent-1 text-2xl font-bold">
              Choose from our large array of tutors
            </h1>
            <!-- <p class="mb-5 text-black">
                        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                        exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p> -->
          </div>
        </div>
        <div class="">
          <span class="badge badge-lg bg-accent-1 border-transparent"> 2 </span>
          <div class="pl-4 text-center">
            <div class="flex justify-center">
              <img :src="'images/working-in-a-laboratory-1.svg'" width="250" />
            </div>
            <h1 class="mb-5 text-accent-1 text-2xl font-bold">
              Choose what you want to be tutored in
            </h1>
            <!-- <p class="mb-5 text-black">
                        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                        exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p> -->
          </div>
        </div>

        <div class="">
          <span class="badge badge-lg bg-accent-1 border-transparent"> 3 </span>
          <div class="pl-4 text-center">
            <div class="flex justify-center">
              <img :src="'images/time-management-1.svg'" width="250" />
            </div>
            <h1 class="mb-5 text-accent-1 text-2xl font-bold">
              Decide on a suitable schedule
            </h1>
            <!-- <p class="mb-5 text-black">
                        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                        exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p> -->
          </div>
        </div>
        <div class="">
          <span class="badge badge-lg bg-accent-1 border-transparent"> 4 </span>
          <div class="pl-4 text-center">
            <div class="flex justify-center">
              <img :src="'images/study.svg'" width="250" />
            </div>
            <h1 class="mb-5 text-accent-1 text-2xl font-bold">
              Send A Request For The Tutor.
            </h1>
            <!-- <p class="mb-5 text-black">
                        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                        exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
                    </p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="bg-background-2">
      <!--Save money on tutors-->
      <div class="container mx-auto py-20 px-4">
        <div class="grid lg:grid-cols-2 md:grid-cols-1">
          <div class="">
            <div class="pl-4">
              <h1 class="mb-5 text-black text-5xl font-bold">
                Save Money On Tutors
              </h1>
              <p class="text-black">
                Thanks to our network of tutors, we help you find the most
                talented home tutors that are cost efficient whilst also making
                all agreements open to negotiations.
              </p>
            </div>
          </div>
          <div class="">
            <div class="flex justify-center">
              <img :src="'images/save-money.svg'" width="550" />
            </div>
          </div>
        </div>
      </div>
      <!--tutorials with the finest tutors in kaduna-->
      <div class="container mx-auto px-4">
        <div class="grid lg:grid-cols-2 md:grid-cols-1">
          <div class="lg:order-last">
            <div class="pl-4">
              <h1 class="text-black text-5xl font-bold">Work With Us</h1>
              <p class="mt-4 text-black text-2xl">
                Work with us to use your teaching skills and knowledge of
                subjects to find students best suited for you.
              </p>
            </div>
          </div>
          <div class="">
            <div class="flex justify-center">
              <img :src="'images/teaching.svg'" width="550" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Our tutors network-->

    <!-- <div class="hero mt-60">
      <div class="text-center hero-content">
        <div class="max-w-auto lg:w-7/12">
          <h1 class="mb-5 text-5xl text-black font-bold">
            <img :src="'images/blackboard.svg'" width="450" />
            <img src="images/blackboard.svg" width="450"  alt="text"/>

            Our Tutors Network
          </h1>
          <p class="mb-5 text-black text-center">
            Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
            excepturi exercitationem quasi. In deleniti eaque aut repudiandae et
            a id nisi.
          </p>
          <div class="grid lg:grid-cols-4 grid-cols-2 justify-items-center">
            <div v-for="n in 8" :key="n" class="avatar">
              <div
                class="
                  mb-8
                  rounded-full
                  w-24
                  h-24
                  ring ring-primary ring-offset-base-100 ring-offset-2
                "
              >
                <img
                  src="http://daisyui.com/tailwind-css-component-profile-1@94w.png"
                />
              </div>
            </div>
          </div>
          <div>
            <button
              class="
                btn btn-wide
                bg-accent-2
                hover:bg-accent-2-hover
                btn-ghost
                text-white
              "
              @click="
                $router.push({
                  name: 'Tutors',
                })
              "
            >
              See Them All
            </button>
          </div>
        </div>
      </div>
    </div> -->

    <!--Become a tutor-->
    <div class="hero mt-60 pb-80 bg-background">
      <div class="hero-content">
        <div class="max-w-auto lg:w-7/12 mt-52">
          <h1 class="mb-5 text-5xl text-black font-bold">
            <!-- <img :src="'images/blackboard.svg'" width="450" />
            <img src="images/blackboard.svg" width="450"  alt="text"/>
            -->
            Become a tutor
          </h1>
          <p class="mb-5 text-black text-4xl">
            Are you someone who can teach and is looking to earn some money?
          </p>
          <div>
            <button
              class="
                btn
                bg-accent-1
                text-white
                btn-ghost
                hover:bg-accent-1-hover
              "
              @click="
                $router.push({
                  name: 'Become A Tutor',
                })
              "
            >
              Join Us
            </button>
            <a
              href="mailto:contactutors@gmail.com"
              class="
                btn
                bg-accent-2
                text-white
                btn-ghost
                hover:bg-accent-2-hover
              "
              @click="
                $router.push({
                  name: 'Tutors',
                })
              "
            >
              Make enquiry
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: "Home",
  components: {
    // HelloWorld
  },
};
</script>
