<template>
  <div class="flex justify-center">
    <div class="">
      <div class="card w-96 bg-primary text-primary-content">
        <div class="card-body">
          <h2 class="card-title">Job title!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Jobs",
};
</script>

<style>
</style>
