<template>
  <div>
    <tutor-request-form></tutor-request-form>
  </div>
</template>

<script>
import TutorRequestForm from "../TutorRequestForm.vue";
export default {
  components: { TutorRequestForm },
  name: "RequestTutor",
};
</script>

<style></style>
