<template>
  <div>
    <div class="hero min-h-screen text-black">
      <svg
        viewBox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg"
        class="opacity-50 w-96"
      >
        <path
          fill="#EC615B"
          d="M27.6,-26C31.9,-16.6,28.9,-5.4,28.5,10.6C28.1,26.5,30.4,47.1,22,54.5C13.6,62,-5.3,56.2,-16.5,46.2C-27.7,36.3,-31,22.1,-36,6.4C-40.9,-9.2,-47.5,-26.1,-41.8,-35.9C-36.1,-45.6,-18,-48,-3.2,-45.5C11.6,-42.9,23.3,-35.4,27.6,-26Z"
          transform="translate(100 100)"
        />
      </svg>

      <svg
        viewBox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg"
        class="opacity-50 w-96"
        style="right: 50%; bottom: 10%; position: relative"
      >
        <path
          fill="#EC615B"
          d="M42.8,-31.2C57.3,-16.1,71.8,1.8,71.8,22.2C71.8,42.7,57.3,65.6,36,76.5C14.8,87.4,-13.1,86.2,-34.7,74.7C-56.4,63.3,-71.8,41.6,-74.4,19.9C-77.1,-1.8,-66.8,-23.4,-52.3,-38.6C-37.7,-53.8,-18.9,-62.4,-2.3,-60.6C14.2,-58.7,28.4,-46.4,42.8,-31.2Z"
          transform="translate(100 100)"
        />
      </svg>

      <div class="text-center">
        <div
          class="card text-center card-bordered border-accent-1 bordered shadow bg-white"
        >
          <!-- <figure class="px-10 pt-10">
          <img src="https://picsum.photos/id/1005/400/250" class="rounded-xl" />
        </figure> -->
          <div class="card-body">
            <div class="mb-4">
              <h1 class="mb-5 text-left text-3xl font-bold">Lets Sign You Up</h1>
              <p class="text-left">
                Already have an account?
                <a class="text-accent-2" @click="$router.push({
                 name : 'Login'
                })">Sign In</a>
              </p>
            </div>
            <hr />
            <form @submit.prevent="signup()">

            <!-- <h2 class="card-title">shadow, center, padding</h2> -->
            <!-- <h2 class="card-title mt-6"> -->
            <!-- <profile-pic-uploader
            class="mt-6"
            :user="this.tutor_details"
            @input="addImageToFormData($event)"
          ></profile-pic-uploader> -->
            <!-- </h2> -->


              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">First Name*</span>
                </label>

                <input
                  type="text"
                  placeholder="first name"
                  v-model.trim="$v.user.first_name.$model"
                  class="input input-bordered bg-white border-black lg:w-96"
                  :class="{
                    'input-error border-red-500': $v.user.first_name.$error,
                  }"
                />
                <p
                  class="error text-left text-sm text-red-500"
                  v-if="$v.user.first_name.$error"
                >
                  First Name is required
                </p>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Middle name</span>
                </label>
                <input
                  type="text"
                  placeholder="middle name"
                  v-model="user.middle_name"
                  class="input input-bordered bg-white border-black"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Last name*</span>
                </label>
                <input
                  type="text"
                  placeholder="last name"
                  v-model.trim="$v.user.last_name.$model"
                  class="input input-bordered bg-white border-black"
                  :class="{
                    'input-error border-red-500': $v.user.last_name.$error,
                  }"
                />
                <p
                  class="error text-left text-sm text-red-500"
                  v-if="$v.user.last_name.$error"
                >
                  Last Name is required
                </p>
              </div>

              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Email*</span>
                </label>

                <input
                  type="email"
                  placeholder="email"
                  v-model.trim="$v.user.email.$model"
                  class="input input-bordered bg-white border-black"
                  :class="{
                    'input-error border-red-500': $v.user.email.$error,
                  }"
                />
                <p
                  class="error text-left text-sm text-red-500"
                  v-if="$v.user.email.$error"
                >
                  Email is required
                </p>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Phone Number*</span>
                </label>

                <input
                  type="tel"
                  placeholder="phone number(090...,)"
                  v-model.trim="$v.user.phone_number.$model"
                  class="input input-bordered bg-white border-black"
                  :class="{
                    'input-error border-red-500': $v.user.phone_number.$error,
                  }"
                />
                <p
                  class="error text-left text-sm text-red-500"
                  v-if="$v.user.phone_number.$error"
                >
                  Phone Number is required
                </p>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Password*</span>
                </label>
                <input
                  minlength="8"
                  :type="password_input_type"
                  placeholder="password"
                  v-model.trim="$v.user.password.$model"
                  class="input input-bordered bg-white border-black"
                  :class="{
                    'input-error border-red-500': $v.user.password.$error,
                  }"
                />
                <span class="text-gray-600 text-sm text-left"
                  >(must contain uppercase, lowercase and number)</span
                >
                <label class="label">
                  <span style="margin-right: 0" class="text-sm">show password</span>
                  <input
                    @input="showPassword"
                    style="margin-left: 0"
                    type="checkbox"
                    class="checkbox checkbox-xs label-text-alt"
                  />
                </label>
                <p
                  class="error text-left text-sm text-red-500"
                  v-if="$v.user.password.$error"
                >
                  Password is invalid
                </p>
              </div>

              <div class="form-control mt-5">
                <label class="cursor-pointer label">
                  <span class="label-text"
                    >I agree to the terms of service and privacy policy.
                  </span>
                  <input
                    type="checkbox"
                    v-model="agreed_to_terms"
                    class="checkbox checkbox-accent-1"
                  />
                </label>
              </div>

              <div class="justify-center card-actions">
                <button
                  v-show="!loading"
                  :disabled="!agreed_to_terms"
                  class="btn btn-outline text-white bg-accent-2 hover:bg-accent-2-hover btn-block"

                >
                  Sign up
                </button>
                <!-- <button
                  v-show="loading"
                  class="btn btn-outline text-white bg-accent-2 btn-block loading"
                  @click="signup()"
                >
                  Sign up
                </button> -->
                <label class="label" v-show="signupError">
                  <span class="label-text-alt text-error text-left">{{
                    error_message
                  }}</span>
                </label>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="max-w-md">
        <h1 class="mb-5 text-left text-5xl font-bold">Login</h1>
        <p class="mb-5">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
          exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AuthUser from "../../classes/AuthUser";
import { required, minLength, between, email, maxLength } from "vuelidate/lib/validators";
import ProfilePicUploader from "../ProfilePicUploader.vue";


export default {
  components: {ProfilePicUploader },

  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.from = from;
    });
  },
  data() {
    return {
      password_input_type: "password",
      user: {
        first_name: "",
        middle_name: "",
        last_name: "",
        phone_number: "",
        email: "",
        password: "",
      },
      from: "",
      agreed_to_terms: false,
      error_message: null,
      signupError: false,
      loading: false,
    };
  },
  methods: {
    // signInAfterRegistration() {
    //   //   this.loading = true;
    //   axios.get("/sanctum/csrf-cookie").then(() => {
    //     axios
    //       .post("api/login", this.user)
    //       .then(() => {
    //         AuthUser.authCheck().then((response) => {
    //           this.loading = false;
    //           this.$router.replace("/my-profile");
    //         });
    //       })
    //       .catch((error) => {
    //         this.error_message = "Invalid credentials";
    //         this.loginError = true;

    //         this.loading = false;
    //       });
    //   });
    // },
    showPassword() {
      if (this.password_input_type === "password") {
        this.password_input_type = "text";
      } else {
        this.password_input_type = "password";
      }
    },
    signup() {
      this.loading = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.loading = false;
        return false;
      }
      const details = {
        first_name: this.user.first_name,
          middle_name: this.user.middle_name,
          last_name: this.user.last_name,
        phone_number: this.user.phone_number,
        email: this.user.email,
        password: this.user.password,
      };
      axios.post("/api/users", details)
        .then((result) => {
            this.loading = false;
            this.$router.push({
                name : 'Tutors'
            });
        })
        .catch((err) => {
          this.loading = false;
        });
    },
  },
  validations: {
    user: {
      first_name: {
        required,
        // minLength: minLength(4),
      },
      last_name: {
        required,
        // minLength: minLength(4),
      },
      email: {
        required,
        email,
        // minLength: minLength(4),
      },
      phone_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
      },
      password: {
        required,
        minLength: minLength(8),
        containsUppercase: function (value) {
          return /[A-Z]/.test(value);
        },
        containsLowercase: function (value) {
          return /[a-z]/.test(value);
        },
        containsNumber: function (value) {
          return /[0-9]/.test(value);
        },
      },
    },
  },
};
</script>

<style></style>
