<template>
    <div>
        <div class="">
            <div class="card container mx-auto lg:my-20 shadow-md">
                <div class="w-full p-10 bg-background-3">
                    <h1 class="text-white text-center card-title font-bold text-4xl">
                        Tutor Details
                    </h1>
                    <div class="grid justify-center text-white">
                        <div class="avatar justify-center">
                            <div class="mb-8 rounded-full h-28 ring ring-white ring-offset-base-100 ring-offset-2">
                                <img :src="tutor.profile_picture_url" />
                            </div>
                        </div>
                        <div class="mb-5">
                            <h1 class="font-bold text-2xl text-center">
                                {{ tutor.full_name }}
                            </h1>
                        </div>
                        <div class="flex justify-center mt-5">
                            <button class="btn bg-accent-1 hover:bg-accent-1-hover" @click="hireTutor()">
                                Hire Tutor
                            </button>
                        </div>
                        <!--
            <div class="flex justify-center mt-5">
              <button
                class="btn bg-accent-1 hover:bg-accent-1-hover"
                @click="
                  $router.push({
                    name: 'Request Tutor',
                    params: { tutor_id: `${tutor.id}` },
                  })
                "
              >
                Request Tutor
              </button>
            </div>
           <div class="flex justify-center">
              <button @click="selectImage()" class="btn">Edit</button>
            </div> -->

                        <div class="mt-3 w-80">
                            <p class="text-1xl text-white text-center">
                                {{ tutor.bio }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="md:grid md:grid-cols-3 md:gap-2 justify-center mb-10">
                        <div class="card shadow-md w-auto lg:card-side">
                            <div class="card-body">
                                <h2 class="card-title">Subjects</h2>
                                <ul>
                                    <!-- <li v-for="(index, subject) in tutor.subjects" :key="index"> -->
                                    <li v-for="subject in tutor.subjects" :key="subject.id">
                                        {{ subject.name }}
                                    </li>
                                </ul>
                                <!-- <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p> -->
                                <!-- <div class="justify-end card-actions">
                    <button class="btn btn-primary">
                      More info

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 ml-2 stroke-current"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 5l7 7-7 7"
                        ></path>
                      </svg>
                    </button>
                  </div> -->
                            </div>
                        </div>
                        <div class="card shadow-md w-auto lg:card-side">
                            <div class="card-body">
                                <h2 class="card-title">Skills</h2>
                                <!-- <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p> -->
                                <ul>
                                    <!-- <li v-for="(index, subject) in tutor.subjects" :key="index"> -->
                                    <li v-for="skill in tutor.skills" :key="skill.id">
                                        {{ skill.skill_name }}
                                    </li>
                                </ul>
                                <!-- <div class="justify-end card-actions">
                    <button class="btn btn-primary">
                      More info

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 ml-2 stroke-current"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 5l7 7-7 7"
                        ></path>
                      </svg>
                    </button>
                  </div> -->
                            </div>
                        </div>
                        <div class="card shadow-md w-auto lg:card-side">
                            <div class="card-body">
                                <h2 class="card-title">Work Experience</h2>
                                <ul>
                                    <li v-for="(job, index) in tutor.jobs" :key="index">
                                        {{ job.job_title }}
                                    </li>
                                </ul>
                                <!-- <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p> -->
                                <!-- <div class="justify-end card-actions">
                    <button class="btn btn-primary">
                      More info

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        class="inline-block w-6 h-6 ml-2 stroke-current"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M9 5l7 7-7 7"
                        ></path>
                      </svg>
                    </button>
                  </div> -->
                            </div>
                        </div>
                        <div class="card shadow-md w-auto lg:card-side">
                            <div class="card-body">
                                <h2 class="card-title">Available On</h2>
                                <ul>
                                    <li v-for="(available_day, index) in tutor.available_days" :key="index">
                                        {{ available_day }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- <div class="card shadow-2xl lg:card-side bg-primary ">
                <div class="card-body">
                  <h2 class="card-title">Available On</h2>
                  <ul>
                    <li v-for="(job, index) in tutor.jobs" :key="index">
                      {{ job.job_title }}
                    </li>
                  </ul>
                </div>
              </div> -->
                    </div>
                    <!-- <div class="grid lg:grid-cols-3 gap-2 justify-center mb-10">
              <div class="card shadow-2xl lg:card-side bg-primary ">
                <div class="card-body">
                  <h2 class="card-title">Available On</h2>
                  <ul>
                    <li
                      v-for="(available_day, index) in tutor.available_days"
                      :key="index"
                    >
                      {{ available_day }}
                    </li>
                  </ul>
                </div>
              </div>
            </div> -->
                </div>
                <!--
        <div class="justify-center card-actions pb-9">
          <button
            class="btn btn-wide bg-accent-1 hover:bg-accent-1-hover"
            @click="
              $router.push({
                name: 'Request Tutor',
                params: { tutor_id: `${tutor.id}` },
              })
            "
          >
            Request Tutor
          </button>
        </div>
        -->
            </div>
        </div>
    </div>
</template>

<script>
import AuthUser from "../../classes/AuthUser";

export default {
    data() {
        return {
            tutor: {},
            is_logged_in : false

        };
    },
    created() {
        AuthUser.authCheck()
      .then((response) => {
        this.is_logged_in = true;
        // this.user = response.data.user;
        // this.user_roles = response.data.roles;
        // next();
      })
      .catch(() => {
        //    next('/login');
      });
        axios
            .get("/api/tutors/" + this.$route.params.tutor_id)
            .then((response) => {
                this.tutor = response.data.tutor;
            })
            .catch((err) => {});
    },
    name: "TutorProfile",
    methods: {
        hireTutor() {
            if (this.is_logged_in) {
                   this.$router.push({
                name: 'Request Tutor',
                params: {
                    tutor_id: `${this.$route.params.tutor_id}`
                },
            })

            } else {
                this.$router.push({
                name: 'Login',
                // params: {
                //     tutor_id: `${tutor.id}`
                // },
            })

            }



        }
    }
};
</script>

<style></style>
