<template>
  <div class="">
    <div class="flex flex-col space-y-6 justify-center min-h-screen">
      <div class="flex justify-center">
        <div class="card bg-base-100 border">
          <div class="card-body">
            <div class="pb-5 flex flex-row justify-center">
              <ul class="steps w-full">
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 1 }"
                >
                  Title
                </li>
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 2 }"
                >
                  Skills/Subjects
                </li>
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 3 }"
                >
                  Experience
                </li>
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 4 }"
                >
                  Duration
                </li>
              </ul>
            </div>
            <div v-show="current_step.value == 1">
              <h2 class="card-title text-2xl">
                Write a strong title for your job post
              </h2>
              <div class="bg-base-100">
                <!-- <h2 class="card-title">
                Write a strong headline for your job offer
              </h2> -->
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">Title</span>
                  </label>
                  <input
                    type="text"
                    placeholder="Type here"
                    class="input input-bordered w-full max-w-xs"
                  />

                  <span class="text-sm mt-3"
                    >This is the first thing tutors will see, make it a strong
                    headline.
                  </span>
                </div>
                <div class="mt-5 mr-3">
                  <h3 class="font-semibold">Example titles</h3>
                  <ul class="list-disc text-sm">
                    <li>Tutor for secondary school students</li>
                    <li>Literature tutor for college a undergraduate</li>
                    <li>
                      Highly skilled tutor needed to assist in a research for
                      secondary school classroom interaction
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div v-show="current_step.value == 2">
              <h2 class="card-title text-2xl">
                What are the that are required for the tutoring job?
              </h2>
              <div class="bg-base-100">
                <!-- <h2 class="card-title">
                Write a strong headline for your job offer
              </h2> -->
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text"
                      >Looking for tutors who can teach</span
                    >
                    <!-- <span class="label-text-alt">Alt label</span> -->
                  </label>
                  <multiselect
                    v-model="job_post.subjects"
                    :taggable="true"
                    :options="subjects"
                    @tag="addTag"
                    :multiple="true"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Pick Subjects"
                  >
                  </multiselect>
                  <span class="text-sm mt-3"
                    >select the subjects that are required for the tutoring job.
                  </span>
                </div>
              </div>
            </div>

            <div v-show="current_step.value == 3">
              <h2 class="card-title text-2xl">
                What level of teaching or tutoring experience will be needed?
              </h2>
              <div class="bg-base-100 flex flex-col space-y-2">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">Headline</span>
                  </label>
                  <multiselect
                    v-model="job_post.level_of_experience"
                    :options="[
                      '1 year',
                      '2 years',
                      '3 years',
                      '4 years',
                      '5 years',
                      `6 years+`,
                    ]"
                    :searchable="false"
                    :close-on-select="true"
                    :show-labels="false"
                    placeholder="Pick a value"
                    >How long have you worked here</multiselect
                  >

                  <span class="text-sm mt-3"
                    >This is the first thing tutors will see, make it a strong
                    headline.
                  </span>
                </div>

                <div>
                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text">Number of students</span>
                    </label>
                    <label class="input-group">
                      <input
                        type="number"
                        placeholder="0.01"
                        v-model="job_post.number_of_students"
                        class="input input-bordered"
                      />
                      <span>students</span>
                    </label>
                  </div>
                  <div>
                    <label class="label">
                      <span class="label-text"
                        >How many sessions per week?</span
                      >
                    </label>
                    <multiselect
                      v-model="job_post.number_of_sessions_per_week"
                      :options="[1, 2, 3, 4, 5, 6]"
                      :searchable="false"
                      :close-on-select="true"
                      :show-labels="false"
                      placeholder="Pick a value"
                      >How many sessions per week?</multiselect
                    >
                  </div>
                </div>

                <div class="flex flex-col justify-center mt-4 mr-6 w-64">
                  <div class="form-control grid grid-cols-2">
                    <label
                      class="cursor-pointer label lg:w-32"
                      v-for="(day, index) in available_days"
                      :key="index"
                    >
                      <span class="label-text text-black">{{ day }}</span>
                      <input
                        type="checkbox"
                        class="checkbox border-black mr-3"
                        :value="day"
                        name="day"
                        v-model="job_post.selected_days"
                        :disabled="
                          job_post.selected_days.length >=
                            job_post.number_of_sessions_per_week &&
                          !job_post.selected_days.includes(day)
                        "
                      />
                      <!-- :disabled="
                          job_post.selected_days.length >=
                            job_post.number_of_sessions_per_week &&
                          job_post.selected_days.indexOf(index) == -1 &&
                          job_post.selected_days.includes(day)
                        " -->
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div v-show="current_step.value == 4">
              <h2 class="card-title text-2xl">
                How long will this job last for?
              </h2>
              <div class="bg-base-100 flex flex-col">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text">This job will last for</span>
                  </label>
                  <label class="input-group">
                    <input
                      type="number"
                      placeholder="1"
                      v-model="job_post.job_duration"
                      class="input input-bordered w-full"
                    />
                    <!-- <span> -->
                    <select
                      class="select border"
                      @select="setIntervalText()"
                      v-model="job_post.payment_interval"
                    >
                      <option
                        selected
                        :value="{
                          text: 'Monthly',
                          value: 1,
                        }"
                      >
                        Month(s)
                      </option>
                      <option
                        :value="{
                          text: 'Weekly',
                          value: 2,
                        }"
                      >
                        Week(s)
                      </option>
                    </select>
                    <!-- </span> -->
                  </label>
                </div>

                <div class="form-control">
                  <label class="label">
                    <span class="label-text">Name a fair price</span>
                  </label>
                  <label class="input-group">
                    <span>₦</span>
                    <input
                      placeholder="10000"
                      type="number"
                      v-model="job_post.proposed_price"
                      class="input input-bordered w-full"
                    />
                    <span>{{ job_post.payment_interval.text }}</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="card-actions justify-end">
              <button
                class="btn btn-outline"
                v-show="current_step.value > 1"
                @click="current_step.value--"
              >
                Back
              </button>
              <button class="btn btn-primary" @click="nextStep()">
                Next: skills
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  required,
  minLength,
  between,
  email,
  maxLength,
} from "vuelidate/lib/validators";
import Multiselect from "vue-multiselect";
import Subjects from "../../../classes/Subjects";

export default {
  name: "CreateFirsOffer",
  mounted() {
    this.subjects = Subjects.getSubjects();
    console.log(this.subjects);
  },
  components: { Multiselect },
  data() {
    return {
      show_signup_form: false,
      current_step: {
        value: 1,
        text: "",
      },
      subjects: [],
      available_days: [
        "Mondays",
        "Tuesdays",
        "Wednesdays",
        "Thursdays",
        "Fridays",
        "Saturdays",
        "Sundays",
      ],
      job_post: {
        subjects: [],
        number_of_students: 0,
        selected_days: [],
        number_of_sessions_per_week: 0,
        payment_interval: {
          text: "Monthly",
          value: 1,
        },
        job_duration: "",
        proposed_price: "",
      },

      selected_account_type: {
        text: "",
        value: null,
      },
    };
  },
  methods: {
    // setIntervalText(){

    // }
    nextStep() {
      this.current_step.value++;
      this.current_step.text = "Skills";
    },
    addTag(newTag) {
      //   const tag = {
      //     name: newTag,
      //     // code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      //   };
      this.job_post.subjects.push(newTag);
    },
  },
  //   validations: {
  //     job_post: {
  //       //   first_name: {
  //       //     required,
  //       //     // minLength: minLength(4),
  //       //   },
  //       //   last_name: {
  //       //     required,
  //       //     // minLength: minLength(4),
  //       //   },
  //       //   email: {
  //       //     required,
  //       //     email,
  //       //     // minLength: minLength(4),
  //       //   },
  //       //   phone_number: {
  //       //     required,
  //       //     minLength: minLength(11),
  //       //     maxLength: maxLength(11),
  //       //   },
  //       //   bio: {
  //       //     required,
  //       //     // minLength: minLength(4),
  //       //   },
  //       //   image: {
  //       //     required,
  //       // minLength: minLength(4),
  //       //   },
  //       //   available_days: {
  //       //   required,
  //       // minLength: minLength(4),
  //       //   },
  //     },
  //     // job: {
  //     //   title: {
  //     //     required,
  //     //   },
  //     //   employer: {
  //     //     required,
  //     //   },
  //     //   description: {
  //     //     required,
  //     //   },
  //     //   employment_duration: {
  //     //     required,
  //     //   },
  //     //   is_current_job: {},
  //     // },
  //     selectedSubjects: {
  //       required,
  //     },
  //     // specialty: {
  //     //   required,
  //     // },
  //   },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
