<template>
  <div class="container">
    <div
      class="flex w-full place-items-center place-content-center justify-center flex-row"
    >
      <div class="tabs justify-center">
        <a
          @click="switchTab(current_tab.index)"
          class="tab tab-bordered text-black"
          v-bind:class="{
            'tab-active': current_tab.index === active_tab_index,
          }"
          v-for="(current_tab, index) in tabs"
          :key="index"
          >{{ current_tab.title }}</a
        >
      </div>
    </div>
    <div>
      <div
        class="sm:flex flex-col md:grid grid-cols-3 md:gap-4"
        v-show="active_tab_index == 0"
      >
        <div
          class="card bg-base-100 shadow-xl mb-5"
          v-for="pending_offer in pending_offers.data"
          :key="pending_offer.id"
        >
          <div class="card-body bg-white">
            <h2 class="card-title">
              <div class="avatar">
                <div class="w-24 rounded-full">
                  <img
                    :src="pending_offer.tutor.user_account.profile_pic_url"
                  />
                </div>
              </div>
            </h2>
            <p>
              Offer Sent To {{ pending_offer.tutor.user_account.full_name }}
            </p>
            <div class="card-actions justify-end">
              <Link
                as="button"
                :href="'/offers/' + pending_offer.id"
                class="btn btn-primary"
              >
                Details
              </Link>
            </div>
          </div>
        </div>
      </div>

      <div
        class="sm:flex flex-col md:grid grid-cols-3 md:gap-4"
        v-show="active_tab_index == 1"
      >
        <div
          class="card bg-base-100 shadow-xl mb-5"
          v-for="accepted_offer in accepted_offers.data.accepted_offers"
          :key="accepted_offer.id"
        >
          <div class="card-body">
            <h2 class="card-title">
              <div class="avatar">
                <div class="w-24 rounded">
                  <img
                    :src="accepted_offer.tutor.userAccount.profile_pic_url"
                  />
                </div>
              </div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
              <button
                class="btn btn-primary"
                @click="
                  $router.push({
                    name: 'Accepted Offer Payment',
                    params: { offer_id: accepted_offer.id },
                  })
                "
              >
                Make Payment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AccountLayout from "../../../Shared/AccountLayout.vue";

export default {
  layout: AccountLayout,

  props: {
    pending_offers: {
      type: Object,
      required: true,
    },
    accepted_offers: {
      type: Object,
      required: true,
    },
    // accepted_offers: Object,
  },
  methods: {
    switchTab(indexToSwitchTo) {
      this.active_tab_index = indexToSwitchTo;
    },
  },
  data() {
    return {
      user: {},
      active_tab_index: 0,
      tabs: [
        {
          title: "Pending Offers",
          index: 0,
        },
        {
          title: "Accepted Offers",
          index: 1,
        },
      ],
    };
  },
};
</script>

<style></style>
