<template>
  <div>
    <div>
      <form class="flex flex-col text-black py-3">
        <div class="form-control">
          <label class="label">
            <span class="label-text text-black">Email</span>
          </label>
          <input
            type="text"
            placeholder="email address"
            class="input input-bordered bg-white border-black"
            v-model="user.email"
          />
          <!-- <input
                  type="text"
                  placeholder="first name"
                  class="input input-bordered bg-white border-black"
                  v-model="user.first_name"
                /> -->

          <!-- <div class="error" v-if="!$v.user.first_name.minLength">
                  Name must have at least
                  {{ $v.user.first_name.$params.minLength.min }} letters.
                </div> -->
        </div>

        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">Password</span>
            </label>
            <input
              type="text"
              placeholder="***"
              class="input input-bordered bg-white border-black"
              v-model="user.password"
            />
          </div>
          <button type="submit" class="btn btn-outline justify-start mt-5">
            Update Account
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
// import { required, minLength, between, email, maxLength } from "vuelidate/lib/validators";

export default {
  created() {
    axios.get("api/get/logged-in-user-details").then((response) => {
      this.user.email = response.data.user_details.email;
    });
  },
  data() {
    return {
      user: {
        password: "",
        email: "",
      },
      //        validations: {
      //     user: {
      //       email: {
      //         required,
      //         // minLength: minLength(4),
      //       },
      //       password: {
      //         required,
      //         // minLength: minLength(4),
      //       },
      //       //   email: {
      //       //     required,
      //       //     email,
      //       //     // minLength: minLength(4),
      //       //   },
      //       phone_number: {
      //         required,
      //         minLength: minLength(11),
      //         maxLength: maxLength(11),
      //       },
      //       address: {
      //         required,
      //         // minLength: minLength(4),
      //       },
      //       //   image: {
      //       //     required,
      //       // minLength: minLength(4),
      //       //   },
      //       //   available_days: {
      //       //   required,
      //       // minLength: minLength(4),
      //       //   },
      //     },
      //   },
    };
  },
  //   created() {
  //       axios.get('api/')
  //   },
};
</script>

<style></style>
