<template>
  <div>
    <div class="container py-40 mx-auto text-black">
      <div class="flex justify-center">
        <div>
          <h1 class="text-6xl font-bold">About Contactutors</h1>
          <p class="lg:w-5/12 text-2xl mt-5">
            Contactutors was borne out of a concern over the irregular and
            sometimes, incredible fees charged by home tutors.
          </p>
        </div>
      </div>
    </div>

    <div class="py-40 mx-auto bg-background text-black">
      <div class="text-center">
        <h1 class="text-black text-6xl font-bold">Our Mission</h1>
      </div>

      <div class="flex justify-center">
        <p class="text-center lg:w-5/12 text-2xl mt-5">
          To provide students with an excellent tutoring experience at a cost
          best suited for them. And tutors, with oppurtunities to continue
          helping students grow in any way they can.
        </p>
      </div>
    </div>
    <div class="container py-40 mx-auto text-black">
      <div class="text-center pb-10">
        <h1 class="text-black text-6xl font-bold">Get To Know Us</h1>
      </div>

      <div class="md:flex md:justify-center sm:grid sm:grid-cols-1">
        <div class="text-center p-10 mt-4">
          <img src="images/ceo.png" height="100" />
          <p class="pt-5 font-bold">CEO, Mr. Bakare Samuel</p>
          <p class="font-normal">Teacher</p>
        </div>
        <div class="text-center font-bold p-10">
          <img src="images/co-founder.png" />
          <p class="pt-5">CTO & Co-Founder, Yusuf Shehu</p>
          <!-- <p class="font-normal">Teacher</p> -->
        </div>
      </div>
    </div>
  </div>
</template>
