<template>
  <div class="text-black flex flex-row justify-center">
    <Head :title="'Create A Job Post'"></Head>
    <div class="flex flex-col space-y-6 justify-center min-h-screen">
      <div class="flex justify-center">
        <div class="card bg-white border">
          <div class="card-body md:max-w-3xl max-w-sm">
            <div class="pb-5 flex flex-row justify-center">
              <ul class="steps w-full">
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 1 }"
                >
                  Details
                </li>
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 2 }"
                >
                  Skills/Subjects
                </li>
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 3 }"
                >
                  Experience
                </li>
                <li
                  class="step"
                  :class="{ 'step-primary': current_step.value == 4 }"
                >
                  Duration
                </li>
              </ul>
            </div>
            <div v-show="current_step.value == 1">
              <h2 class="card-title text-2xl">
                Write a strong headline for your job offer
              </h2>
              <div class="bg-white">
                <div class="form-control">
                  <!-- <input-field
                    :label="'Headline'"
                    :errors="$v.job_post.title.$error"
                    :inputVal="$v.job_post.title.$model"
                  ></input-field> -->

                  <label class="label">
                    <span class="label-text text-black">Headline *</span>
                  </label>
                  <input
                    v-model.trim="$v.job_post.title.$model"
                    type="text"
                    placeholder="Type here"
                    class="input bg-white border-black input-bordered"
                    :class="{
                      'input-error border-red-500': $v.job_post.title.$error,
                    }"
                  />
                  <p
                    class="error text-left text-sm text-red-500"
                    v-if="$v.job_post.title.$error"
                  >
                    Job Title is required
                  </p>

                  <span class="text-sm mt-3"
                    >This is the first thing tutors will see, make it a strong
                    headline.
                  </span>
                </div>
                <div class="mt-5 mr-3">
                  <h3 class="font-semibold">Example Titles</h3>
                  <ul class="list-disc text-sm">
                    <li>Tutor for secondary school students</li>
                    <li>Literature tutor for a college undergraduate</li>
                    <li>
                      Highly skilled tutor needed to assist in a research for
                      secondary school classroom interaction
                    </li>
                  </ul>
                </div>

                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black">Job Description *</span>
                  </label>

                  <vue-editor
                    v-model.trim="$v.job_post.job_description.$model"
                    :editorToolbar="customToolbar"
                    class="border-red-500"
                  >
                  </vue-editor>
                  <p
                    class="error text-left text-sm text-red-500"
                    v-if="$v.job_post.job_description.$error"
                  >
                    Job Description is required
                  </p>
                </div>

                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black">How To Apply *</span>
                  </label>

                  <vue-editor
                    class="border-red bordered"
                    v-model.trim="$v.job_post.how_to_apply.$model"
                    :editorToolbar="customToolbar"
                  >
                  </vue-editor>
                  <p
                    class="error text-left text-sm text-red-500"
                    v-if="$v.job_post.how_to_apply.$error"
                  >
                    You need to let potential applicants know how they can apply
                  </p>
                </div>
              </div>
            </div>

            <div v-show="current_step.value == 2">
              <h2 class="card-title text-2xl">
                What are the that are required for the tutoring job?
              </h2>
              <div class="bg-white">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text text-gray-500"
                      >Looking for tutors who can teach *</span
                    >
                  </label>
                  <multiselect
                    v-model.trim="$v.job_post.subjects.$model"
                    :taggable="true"
                    :options="subjects"
                    @tag="addTag"
                    :multiple="true"
                    :close-on-select="false"
                    :clear-on-select="false"
                    :preserve-search="true"
                    placeholder="Pick Subjects"
                  >
                  </multiselect>
                  <span class="text-sm mt-3"
                    >select the subjects that are required for the tutoring job.
                  </span>
                  <p
                    class="error text-left text-sm text-red-500"
                    v-if="$v.job_post.subjects.$error"
                  >
                    This is required
                  </p>
                </div>
              </div>
            </div>

            <div v-show="current_step.value == 3">
              <h2 class="card-title text-2xl">
                What level of teaching or tutoring experience will be needed?
              </h2>
              <div class="bg-white flex flex-col space-y-2">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text text-gray-500"
                      >Minimum years of teaching experience</span
                    >
                  </label>
                  <multiselect
                    v-model.trim="
                      $v.job_post.minimum_years_of_experience.$model
                    "
                    :options="[
                      '0+ years',
                      '1 year',
                      '2 years',
                      '3 years',
                      '4 years',
                      '5 years',
                      `6 years+`,
                    ]"
                    :searchable="false"
                    :close-on-select="true"
                    :show-labels="false"
                    placeholder="Pick a value"
                    >How long have you worked here</multiselect
                  >

                  <p
                    class="error text-left text-sm text-red-500"
                    v-if="$v.job_post.minimum_years_of_experience.$error"
                  >
                    This Field is required
                  </p>
                </div>

                <div>
                  <div class="form-control w-full">
                    <label class="label">
                      <span class="label-text text-gray-500"
                        >Number of students *</span
                      >
                    </label>
                    <label class="input-group">
                      <input
                        type="number"
                        placeholder="0.01"
                        v-model.trim="$v.job_post.number_of_students.$model"
                        class="input bg-white border-black input-bordered"
                      />
                      <span class="bg-white border-black">students</span>
                    </label>
                    <p
                      class="error text-left text-sm text-red-500"
                      v-if="$v.job_post.number_of_students.$error"
                    >
                      This Field is required
                    </p>
                  </div>
                  <div>
                    <label class="label">
                      <span class="label-text text-gray-500"
                        >How many sessions per week? *</span
                      >
                    </label>
                    <multiselect
                      v-model.trim="
                        $v.job_post.number_of_sessions_a_week.$model
                      "
                      :options="[1, 2, 3, 4, 5, 6]"
                      :searchable="false"
                      :close-on-select="true"
                      :show-labels="false"
                      placeholder="Pick a value"
                      >How many sessions per week?</multiselect
                    >
                    <p
                      class="error text-left text-sm text-red-500"
                      v-if="$v.job_post.number_of_sessions_a_week.$error"
                    >
                      This Field is required
                    </p>
                  </div>
                </div>

                <div class="flex flex-col justify-center mt-4 mr-6 w-64">
                  <div class="form-control grid grid-cols-2">
                    <label
                      class="cursor-pointer label lg:w-32"
                      v-for="(day, index) in available_days"
                      :key="index"
                    >
                      <span class="label-text text-black">{{ day }}</span>
                      <input
                        type="checkbox"
                        class="checkbox border-black mr-3"
                        :value="day"
                        name="day"
                        v-model.trim="$v.job_post.session_days.$model"
                        :disabled="
                          job_post.session_days.length >=
                            job_post.number_of_sessions_a_week &&
                          !job_post.session_days.includes(day)
                        "
                      />
                    </label>
                    <p
                      class="error text-left text-sm text-red-500"
                      v-if="$v.job_post.session_days.$error"
                    >
                      This Field is required
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div v-show="current_step.value == 4">
              <h2 class="card-title text-2xl">
                How long will this job last for?
              </h2>
              <div class="bg-white flex flex-col">
                <div class="form-control w-full">
                  <label class="label">
                    <span class="label-text text-gray-500"
                      >This job will last for *</span
                    >
                  </label>
                  <label class="input-group bg-white border-black">
                    <input
                      type="number"
                      placeholder="1"
                      v-model.trim="$v.job_post.job_duration.$model"
                      class="input input-bordered w-full bg-white border-black"
                    />
                    <!-- <span> -->
                    <select
                      class="select border bg-white border-black"
                      @select="setIntervalText()"
                      v-model="job_post.payment_interval"
                    >
                      <option
                        selected
                        :value="{
                          text: 'Monthly',
                          value: 1,
                        }"
                      >
                        Month(s)
                      </option>
                      <option
                        :value="{
                          text: 'Weekly',
                          value: 2,
                        }"
                      >
                        Week(s)
                      </option>
                    </select>
                    <!-- </span> -->
                  </label>
                  <p
                    class="error text-left text-sm text-red-500"
                    v-if="$v.job_post.job_duration.$error"
                  >
                    This Field is required
                  </p>
                </div>

                <div class="form-control">
                  <label class="label">
                    <span class="label-text text-black"
                      >Name a fair price *</span
                    >
                  </label>
                  <label class="input-group">
                    <span class="bg-white border-black">₦</span>
                    <input
                      placeholder="10000"
                      type="number"
                      v-model.trim="$v.job_post.proposed_price.$model"
                      class="input input-bordered w-full bg-white border-black"
                    />
                    <span class="bg-white border-black">{{
                      job_post.payment_interval.text
                    }}</span>
                  </label>
                  <p
                    class="error text-left text-sm text-red-500"
                    v-if="
                      $v.job_post.payment_interval.$error ||
                      $v.job_post.proposed_price.$error
                    "
                  >
                    This Field is required
                  </p>
                </div>
              </div>
            </div>

            <div class="card-actions flex flex-row">
              <div class="">
                <button
                  class="btn btn-outline"
                  v-show="current_step.value > 1"
                  @click="current_step.value--"
                >
                  Back
                </button>
                <button
                  class="btn btn-primary"
                  @click="nextStep()"
                  v-show="current_step.value < 4"
                >
                  Next
                </button>
              </div>
              <button
                class="btn btn-primary justify-end"
                @click="showSummaryModal()"
                v-show="current_step.value == 4"
              >
                Post
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <input
      type="checkbox"
      id="job-post-summary-modal"
      :checked="show_job_post_summary_modal"
      class="modal-toggle"
    />
    <div class="modal">
      <div class="modal-box bg-white relative">
        <label
          @click="show_job_post_summary_modal = false"
          class="btn btn-sm btn-circle absolute right-2 top-2"
          >✕</label
        >
        <h3 class="text-2xl font-bold">Job Post Summary</h3>
        <p class="py-4">
          <label class="font-bold text-lg"> Headline </label>
          <br />
          {{ job_post.title }}
        </p>
        <p class="py-4">
          <label class="font-bold text-lg"> Job Description </label>
          <br />
          <span v-html="job_post.job_description"></span>
        </p>

        <p class="py-4">
          <label class="font-bold text-lg"> Subjects</label>
          <br />
          <span
            class="badge badge-outline badge-lg"
            v-for="(subject, index) in job_post.subjects"
            :key="index"
            >{{ subject }}</span
          >
        </p>

        <p class="py-4">
          <label class="font-bold text-lg"
            >Minimum years of teaching experience</label
          >
          <br />
          {{ job_post.minimum_years_of_experience }}
        </p>

        <p class="py-4">
          <label>Number Of students</label>
          <br />
          {{ job_post.number_of_students }}
        </p>

        <p class="py-4">
          <label class="font-bold text-lg">Sessions Per week</label>
          <br />
          {{ job_post.number_of_sessions_a_week }}
          <br />
          <span
            class="badge badge-outline badge-lg"
            v-for="(selected_day, index) in job_post.session_days"
            :key="index"
            >{{ selected_day }}</span
          >
        </p>

        <p class="py-4">
          <label class="font-bold text-lg">Duration</label>
          <br />
          {{ job_post.job_duration }} {{ job_post.payment_interval.text }}
          <br />
        </p>

        <p class="py-4">
          <label class="font-bold text-lg">Payment</label>
          <br />
          ₦{{ job_post.proposed_price }} {{ job_post.payment_interval.text }}
          <br />
        </p>
        <div class="modal-action">
          <button @click="submit()" class="btn" :disabled="creating_job_post">
            Create
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {
  required,
  minLength,
  between,
  email,
  maxLength,
} from "vuelidate/lib/validators";
import Multiselect from "vue-multiselect";
import Subjects from "../../../classes/Subjects";
import { Inertia } from "@inertiajs/inertia";
import { VueEditor } from "vue2-editor";
import { Head } from "@inertiajs/inertia-vue";

export default {
  inject: ["toggleToast"],

  name: "CreateFirsOffer",
  mounted() {
    this.subjects = Subjects.getSubjects();
    // console.log(this.subjects);
  },
  components: { Multiselect, VueEditor, Head },
  data() {
    return {
      customToolbar: [
        ["bold", "italic", "underline"],
        [{ list: "ordered" }, { list: "bullet" }],
      ],
      show_signup_form: false,
      show_job_post_summary_modal: false,
      current_step: {
        value: 1,
        text: "",
      },

      steps: [
        {
          value: 1,
          text: "Details",
        },
        {
          value: 2,
          text: "Skills/Subjects",
        },
        {
          value: 3,
          text: "Experience",
        },
        {
          value: 4,
          text: "Duration",
        },
      ],

      subjects: [],
      available_days: [
        "Mondays",
        "Tuesdays",
        "Wednesdays",
        "Thursdays",
        "Fridays",
        "Saturdays",
        "Sundays",
      ],
      job_post: {
        subjects: [],
        number_of_students: 1,
        session_days: [],
        number_of_sessions_a_week: 1,
        job_description: "",
        payment_interval: {
          text: "Monthly",
          value: 1,
        },
        job_duration: "",
        proposed_price: "",
        title: "",
        minimum_years_of_experience: "",
        how_to_apply: "",
      },

      selected_account_type: {
        text: "",
        value: null,
      },

      //loaders
      creating_job_post: false,
    };
  },
  methods: {
    // setIntervalText(){
    stepOneIsValid() {
      if (this.$v.job_post.title.$error) return false;
      if (this.$v.job_post.how_to_apply.$error) return false;
      if (this.$v.job_post.job_description.$error) return false;
    },
    stepTwoIsValid() {
      if (this.$v.job_post.subjects.$error) return false;
    },
    stepThreeIsValid() {
      if (this.$v.job_post.minimum_years_of_experience.$error) return false;
      if (this.$v.job_post.number_of_students.$error) return false;
      if (this.$v.job_post.number_of_sessions_a_week.$error) return false;
      if (this.$v.job_post.session_days.$error) return false;
    },
    stepFourIsValid() {
      if (this.$v.job_post.job_duration.$error) return false;
      if (this.$v.job_post.proposed_price.$error) return false;
    },

    showSummaryModal() {
      this.$v.$touch();
      if (this.current_step.value == 4 && this.stepFourIsValid() == false)
        return false;
      this.show_job_post_summary_modal = true;
      this.$v.$reset();
    },

    // }
    nextStep() {
      this.$v.$touch();
      //   if (this.$v.$invalid) {
      this.loading = false;
      console.log(this.$v);
      if (this.current_step.value == 1 && this.stepOneIsValid() == false)
        return false;
      if (this.current_step.value == 2 && this.stepTwoIsValid() == false)
        return false;
      if (this.current_step.value == 3 && this.stepThreeIsValid() == false)
        return false;
      if (this.current_step.value == 4 && this.stepFourIsValid() == false)
        return false;
      this.$v.$reset();

      // console.log(this.validateStepOne());

      // return false;
      //   }
      this.current_step.value++;
      this.current_step.text = this.steps[this.current_step.value - 1].text;
    },
    addTag(newTag) {
      //   const tag = {
      //     name: newTag,
      //     // code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      //   };
      this.job_post.subjects.push(newTag);
    },
    submit() {
      this.creating_job_post = true;
      Inertia.post("/job-posts", this.job_post, {
        onStart: () => {
          this.creating_job_post = true;

          this.toggleToast("Updating", true);
        },
        onFinish: () => {
          this.creating_job_post = false;

          this.toggleToast("Job Post Updated");
        },
        onError: (errors) => {
          this.creating_job_post = false;
          this.toggleToast("Something went wrong", false, "error");
        },
      });
    },
  },
  validations: {
    // job_post: {
    //   //   first_name: {
    //   //     required,
    //   //     // minLength: minLength(4),
    //   //   },
    //   //   last_name: {
    //   //     required,
    //   //     // minLength: minLength(4),
    //   //   },
    //   //   email: {
    //   //     required,
    //   //     email,
    //   //     // minLength: minLength(4),
    //   //   },
    //   //   phone_number: {
    //   //     required,
    //   //     minLength: minLength(11),
    //   //     maxLength: maxLength(11),
    //   //   },
    //   //   bio: {
    //   //     required,
    //   //     // minLength: minLength(4),
    //   //   },
    //   //   image: {
    //   //     required,
    //   // minLength: minLength(4),
    //   //   },
    //   //   available_days: {
    //   //   required,
    //   // minLength: minLength(4),
    //   //   },
    // },
    job_post: {
      title: {
        required,
      },
      employer: {
        required,
      },
      job_description: {
        required,
      },
      how_to_apply: {
        required,
      },
      employment_duration: {
        required,
      },
      subjects: {
        required,
      },
      minimum_years_of_experience: {
        required,
      },
      number_of_students: {
        required,
      },
      number_of_sessions_a_week: {
        required,
      },
      session_days: {
        required,
      },
      job_duration: {
        required,
      },
      proposed_price: {
        required,
      },
      payment_interval: {
        required,
      },
    },
    // selectedSubjects: {
    //   required,
    // },
    // specialty: {
    //   required,
    // },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
