<template>
  <div class="container min-w-full">
    <div
      class="flex w-full place-items-center place-content-center justify-center flex-row"
    >
      <div class="tabs justify-center">
        <a
          @click="switchTab(current_tab.index)"
          class="tab tab-bordered text-black"
          v-bind:class="{
            'tab-active': current_tab.index === active_tab_index,
          }"
          v-for="(current_tab, index) in tabs"
          :key="index"
          >{{ current_tab.title }}</a
        >
      </div>
    </div>
    <div>
      <div class=" " v-show="active_tab_index == 0">
        <div v-if="drafted_job_postings.length == 0" class="mt-5">
          <p>Seems like you haven't made any job postings yet.</p>

          <Link
            class="btn btn-outline text-black mt-5"
            href="/job-posts/create"
          >
            Post a Job
          </Link>
        </div>
        <div
          class="mb-5 w-full"
          v-for="job_post in drafted_job_postings"
          :key="job_post.id"
        >
          <div
            class="flex flex-row flex-wrap space-y-4 justify-between space-x-10 w-full"
          >
            <p class="font-bold text-lg">
              {{ job_post.title }}
              <br />
              <span class="font-medium text-sm">
                Created {{ job_post.posted_at }}
              </span>
            </p>
            <div class="mt-5">
              <Link
                as="button"
                class="btn btn-outline-primary btn-sm mr-1"
                :href="'/job-posts/' + job_post.id + '/edit'"
                >Edit</Link
              >
              <button
                class="btn btn-primary btn-sm"
                @click="showDraftPostingModal(job_post.id)"
              >
                Post
              </button>
            </div>
          </div>
          <div class="mt-4">
            <hr />
          </div>
        </div>
      </div>
      <div class="" v-show="active_tab_index == 1">
        <div
          class="mb-5 w-full"
          v-for="job_post in posted_job_postings"
          :key="job_post.id"
        >
          <div
            class="flex flex-row flex-wrap space-y-4 justify-between space-x-10 w-full"
          >
            <p class="font-bold text-lg">
              {{ job_post.title }}
              <br />
              <span class="font-medium text-sm">
                Posted {{ job_post.posted_at }}
              </span>
            </p>
            <div class="mt-5">
              <Link
                as="button"
                class="btn btn-primary btn-sm"
                :href="'/job-posts/' + job_post.id"
                >View</Link
              >
              <button
                class="btn btn-ghost text-red-500 btn-danger btn-sm"
                @click="showDeletionModal(job_post)"
              >
                Delete
              </button>
            </div>
          </div>
          <div class="mt-4">
            <hr />
          </div>
        </div>
      </div>
      <modal
        :show_modal="show_deletion_modal"
        @closeModal="show_deletion_modal = false"
      >
        <template v-slot:title>
          <h2 class="text-black">Delete job post?</h2>
        </template>

        <template v-slot:modal-actions>
          <button
            @click="deleteJobPost()"
            class="btn btn-outline text-red-500"
            :disabled="deleting_job_post"
          >
            Delete
          </button>
        </template>
      </modal>

      <modal
        :show_modal="show_draft_upload_modal"
        @closeModal="show_draft_upload_modal = false"
      >
        <template v-slot:title>
          <h2 class="text-black">Post this drafted job post?</h2>
        </template>

        <template v-slot:modal-actions>
          <button
            @click="postDraft()"
            class="btn btn-outline btn-primary"
            :disabled="posting_draft"
          >
            Post
          </button>
        </template>
      </modal>
    </div>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import AccountLayout from "../../Shared/AccountLayout.vue";
import Modal from "../Components/Modal.vue";

export default {
  components: { Modal },
  inject: ["toggleToast"],

  layout: AccountLayout,

  props: {
    drafted_job_postings: {
      type: Array,
      required: true,
    },
    posted_job_postings: {
      type: Array,
      required: true,
    },
  },
  methods: {
    switchTab(indexToSwitchTo) {
      this.active_tab_index = indexToSwitchTo;
      //   Inertia.get('/account/job-postings')
    },
    postDraft() {
      Inertia.patch(
        "/job-posts/" + this.job_post_draft_to_upload + "/post-draft",
        {
          onStart: () => {
            this.posting_draft = true;

            this.toggleToast("Updating", true);
          },
          onFinish: () => {
            this.posting_draft = false;
            this.show_draft_upload_modal = false;

            this.toggleToast("Posted");
          },
          onError: (errors) => {
            this.posting_draft = false;
            this.show_draft_upload_modal = false;

            this.toggleToast("Something went wrong", false, "error");
          },
        }
      );
    },
    deleteJobPost() {
      Inertia.delete("/job-posts/" + this.job_post_to_delete.id, {
        onStart: () => {
          this.deleting_job_post = true;

          this.toggleToast("Deleting", true);
        },
        onFinish: () => {
          this.deleting_job_post = false;
          this.show_deletion_modal = false;

          this.toggleToast("Job Post Deleted");
        },
        onError: (errors) => {
          this.deleting_job_post = false;
          this.show_deletion_modal = false;

          this.toggleToast("Something went wrong", false, "error");
        },
      });
    },
    showDeletionModal(job_post_to_delete) {
      this.show_deletion_modal = true;
      this.job_post_to_delete = job_post_to_delete;
    },
    showDraftPostingModal(job_post_to_upload) {
      this.show_draft_upload_modal = true;
      this.job_post_draft_to_upload = job_post_to_upload;
    },
    // getAcceptedOffers() {
    //   axios.get("api/get-user-offers?status=2").then((response) => {
    //     this.accepted_offers = response.data.offers.data;
    //   });
    // },
    // getPendingOffers() {
    //   axios.get("api/get-user-offers?status=1").then((response) => {
    //     this.pending_offers = response.data.offers.data;
    //   });
    // },
    // getOngoingOffers() {
    //   axios.get("api/get-user-offers?status=5").then((response) => {
    //     this.ongoing_offers = response.data.offers.data;
    //   });
    // },
  },
  data() {
    return {
      user: {},
      active_tab_index: 0,
      tabs: [
        {
          title: "Drafts",
          index: 0,
        },
        {
          title: "Posted",
          index: 1,
        },
        // {
        //   title: "Pending Offers",
        //   index: 2,
        // },
      ],
      accepted_offers: {},
      pending_offers: {},

      //
      show_deletion_modal: false,
      job_post_to_delete: null,
      deleting_job_post: false,

      //
      posting_draft: false,
      job_post_draft_to_upload: null,
      show_draft_upload_modal: false,
    };
  },
  created() {
    // this.getAcceptedOffers();
    // this.getPendingOffers();
    // this.getOngoingOffers();
  },
};
</script>

<style></style>
