<template>
  <!-- <div class=""> -->
  <div class="flex flex-col">
    <div class="flex justify-start">
      <profile-pic-uploader
        :user="this.user"
        @input="addImageToFormData($event)"
      ></profile-pic-uploader>
    </div>

    <p>Joined {{ user.signedUpOn }}</p>

    <!-- <p class="text-xl font-bold">
      Active Agreements: {{ number_of_accepted_offers }}
    </p>
    <p class="text-xl font-bold">Reviews Made: 3</p> -->

    <hr />
    <div class="flex flex-col space-y-5">
      <div>
        <div>
          <form class="text-black py-3">
            <div class="flex flex-row flex-wrap">
              <div class="form-control w-full md:w-1/2 md:pr-3">
                <label class="label">
                  <span class="label-text text-black">First Name*</span>
                </label>
                <input
                  type="text"
                  placeholder="first name"
                  class="input input-bordered bg-white border-black"
                  :class="{
                    'input input-error input-bordered':
                      $v.user.first_name.$error,
                  }"
                  v-model.trim="$v.user.first_name.$model"
                />

                <p
                  class="error text-sm text-red-500"
                  v-if="$v.user.first_name.$error"
                >
                  First Name is required
                </p>
              </div>

              <div class="form-control w-full md:w-1/2">
                <label class="label">
                  <span class="label-text text-black">Last Name*</span>
                </label>
                <input
                  type="text"
                  placeholder="last name"
                  class="input input-bordered bg-white border-black"
                  :class="{
                    'input input-error input-bordered':
                      $v.user.last_name.$error,
                  }"
                  v-model.trim="$v.user.last_name.$model"
                />
                <p
                  class="error text-sm text-red-500"
                  v-if="$v.user.last_name.$error"
                >
                  Last Name is required
                </p>
              </div>
            </div>

            <div class="form-control">
              <label class="label">
                <span class="label-text text-black">Phone Number</span>
              </label>
              <input
                type="text"
                placeholder="phone number"
                class="input input-bordered bg-white border-black"
                :class="{
                  'input input-error input-bordered':
                    $v.user.phone_number.$error,
                }"
                v-model.trim="$v.user.phone_number.$model"
              />
              <p
                class="error text-sm text-red-500"
                v-if="$v.user.phone_number.$error"
              >
                a valid phone number is required
              </p>
            </div>

            <!-- <div class="form-control">
              <label class="label text-black">
                <span class="label-text text-black">Your address*</span>
              </label>
              <textarea
                v-model.trim="$v.user.address.$model"
                class="textarea h-24 textarea-bordered bg-white border-black"
                placeholder="your address"
              ></textarea>
              <p
                class="error text-sm text-red-500 text-left"
                v-if="$v.user.address.$error"
              >
                This field is required
              </p>
            </div> -->
          </form>
        </div>
        <button
          type="submit"
          @click="updateDetails()"
          class="btn btn-outline justify-start text-black"
        >
          Save Changes
        </button>
      </div>

      <hr />
    </div>
  </div>
  <!-- </div> -->
</template>

<script>
import Avatar from "../Auth/FormElements/Avatar.vue";
import AccountLayout from "../../Shared/AccountLayout.vue";
import Subjects from "../../classes/Subjects";
import Multiselect from "vue-multiselect";

import {
  required,
  minLength,
  between,
  email,
  maxLength,
} from "vuelidate/lib/validators";
import ProfilePicUploader from "../Auth/FormElements/ProfilePicUploader.vue";
import axios from "axios";
import Modal from "../Components/Modal.vue";
import { Inertia } from "@inertiajs/inertia";

export default {
  layout: AccountLayout,
  inject: ["toggleToast"],
  props: {
    user: {
      type: Object,
      required: true,
    },
  },

  mounted() {
    this.subjects = Subjects.getSubjects();
  },

  data() {
    return {
      //
      profile_updated: false,
      //
      number_of_accepted_offers: 0,

      //
      my_form_data: new FormData(),

      //
      selectedSubjects: [],

      //
      subjects: [],

      //
      edit_subjects: false,
    };
  },
  components: { Avatar, ProfilePicUploader, Multiselect, Modal },
  validations: {
    user: {
      first_name: {
        required,
        // minLength: minLength(4),
      },
      last_name: {
        required,
        // minLength: minLength(4),
      },
      //   email: {
      //     required,
      //     email,
      //     // minLength: minLength(4),
      //   },
      phone_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
      },
      address: {
        required,
      },
      selectedSubjects: {
        required,
      },
    },
  },
  methods: {
    addImageToFormData(image) {
      this.my_form_data.append("image", image);
    },

    updateDetails() {
      // let keys = Object.keys(this.user);
      // let values = Object.values(this.user);

      // let self = this;

      // let fd = new FormData();
      // for (let i = 0; i < keys.length; i++) {
      //   if (values[i] || values[i] == 0) {
      //     fd.append(keys[i], values[i]);
      //   }
      // }

      Inertia.patch("/users/" + this.user.id, this.user, {
        onStart: () => {
          this.submitting_form = true;
        },
        onFinish: () => {
          this.submitting_form = false;
          this.toggleToast("Profile Updated");
        },
        onError: (errors) => {
          //   for (let msg in errors.response.data.errors) {
          //     let i = 0;
          //     //text += person[x] + " ";
          //     this.errors.push(err.response.data.errors[msg][i]);
          //     i++;
          //   }
          //   console.log(this.errors);
          //   console.log(err.response.data.errors);
          //   this.submitting_form = false;
        },
      });
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

