<template>
  <!-- <div class=""> -->
  <div class="flex flex-col">
    <!-- <p class="text-xl font-bold">
      Active Agreements: {{ number_of_accepted_offers }}
    </p>
    <p class="text-xl font-bold">Reviews Made: 3</p> -->

    <div class="flex flex-col space-y-5">
      <div>
        <div>
          <form class="text-black py-3">
            <div class="form-control w-full md:pr-3">
              <label class="label">
                <span class="label-text text-black">Title*</span>
              </label>
              <input
                type="text"
                placeholder="Title"
                class="input input-bordered bg-white border-black"
                :class="{
                  'input input-error input-bordered': $v.user.first_name.$error,
                }"
                v-model="tutor.data.title"
              />

              <p
                class="error text-sm text-red-500"
                v-if="$v.user.first_name.$error"
              >
                First Name is required
              </p>
            </div>

            <div class="form-control">
              <label class="label text-black">
                <span class="label-text text-black">Your Bio*</span>
              </label>
              <textarea
                v-model="tutor.data.bio"
                class="textarea h-24 textarea-bordered bg-white border-black"
                placeholder="tell us about yourself"
              ></textarea>
              <p
                class="error text-sm text-red-500 text-left"
                v-if="$v.user.address.$error"
              >
                This field is required
              </p>
            </div>

            <!-- <div class="form-control">
              <label class="label text-black">
                <span class="label-text text-black">Your address*</span>
              </label>
              <textarea
                v-model.trim="$v.user.address.$model"
                class="textarea h-24 textarea-bordered bg-white border-black"
                placeholder="your address"
              ></textarea>
              <p
                class="error text-sm text-red-500 text-left"
                v-if="$v.user.address.$error"
              >
                This field is required
              </p>
            </div> -->
          </form>
        </div>
        <button
          type="submit"
          @click="updateBio()"
          class="btn btn-outline justify-start text-black"
        >
          Save Changes
        </button>
      </div>

      <hr />

      <div>
        <div class="flex flex-col">
          <h2 class="text-2xl">
            Subjects I Can Teach

            <button
              @click="edit_subjects = true"
              class="btn btn-outline btn-sm btn-circle mt-1 outline-black text-black"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                />
              </svg>
            </button>
          </h2>
        </div>
        <div class="container mt-5">
          <div
            class="badge badge-lg badge-outline mr-3"
            v-for="(subject, index) in tutor.data.subjects"
            :key="index"
          >
            {{ subject.name }}
          </div>
        </div>
      </div>

      <hr />

      <div>
        <div class="flex flex-col">
          <h2 class="text-2xl">
            My Teaching Skills

            <button
              @click="edit_skills = true"
              class="btn btn-outline btn-sm btn-circle mt-1 outline-black text-black"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                />
              </svg>
            </button>
          </h2>
        </div>
        <div class="container mt-5 space-y-6 flex flex-col">
          <div
            class="badge badge-lg badge-outline md:mr-3"
            v-for="(skill, index) in tutor.data.skills"
            :key="index"
          >
            {{ skill.name }}
          </div>
        </div>
      </div>

      <hr />

      <div>
        <div class="flex flex-col">
          <h2 class="text-2xl">
            My Schedule

            <button
              @click="edit_schedule = true"
              class="btn btn-outline btn-sm btn-circle mt-1 outline-black text-black"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-4 h-4"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                />
              </svg>
            </button>
          </h2>

          <div class="">
            <div class="grid lg:grid-cols-3 md:grid-cols-3 text-black">
              <div class="form-control">
                <p
                  class="cursor-pointer label"
                  v-for="day in tutor.data.available_days"
                  :key="day"
                >
                  <span class="label-text text-black">{{ day.name }}</span>
                  <!-- <input
                    :value="day"
                    type="checkbox"
                    v-model="tutor.data.available_days"
                    class="checkbox"
                  />
                </label> -->
                </p>
              </div>
            </div>
            <button
              type="submit"
              @click="updateBio()"
              class="btn btn-outline justify-start text-black"
            >
              Update My Schedule
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="toast toast-end" v-show="profile_updated">
      <div class="alert alert-success">
        <div>
          <span>Profile Updated</span>
        </div>
      </div>
    </div>

    <modal :show_modal="edit_subjects" @closeModal="edit_subjects = false">
      <template v-slot:title>
        <h2 class="text-black">Edit your subjects</h2>
      </template>

      <multiselect
        v-model="tutor.data.subjects"
        :taggable="true"
        :options="subjects"
        label="name"
        track-by="id"
        :multiple="true"
        :close-on-select="false"
        :clear-on-select="false"
        :preserve-search="true"
        placeholder="Pick Subjects"
      >
      </multiselect>

      <template v-slot:modal-actions>
        <button
          @click="edit_subjects = false"
          class="btn btn-outline btn-black"
          :disabled="updating"
        >
          Cancel
        </button>
        <button
          @click="updateTutorSubjects()"
          class="btn btn-outline btn-primary"
          :disabled="updating"
        >
          Submit
        </button>
      </template>
    </modal>

    <modal :show_modal="edit_skills" @closeModal="edit_skills = false">
      <template v-slot:title>
        <h2 class="text-black">Edit your skills</h2>
      </template>

      <multiselect
        v-model="tutor.data.skills"
        :options="skills"
        label="name"
        track-by="id"
        :multiple="true"
        :close-on-select="false"
        :clear-on-select="false"
        :preserve-search="true"
        placeholder="Pick Skills"
      >
      </multiselect>

      <template v-slot:modal-actions>
        <button
          @click="edit_skills = false"
          class="btn btn-outline btn-black"
          :disabled="updating"
        >
          Cancel
        </button>
        <button
          @click="updateTutorSkills()"
          class="btn btn-outline btn-primary"
          :disabled="updating"
        >
          Submit
        </button>
      </template>
    </modal>

    <modal :show_modal="edit_schedule" @closeModal="edit_schedule = false">
      <template v-slot:title>
        <h2 class="text-black">Edit your schedule</h2>
      </template>

      <div class="grid lg:grid-cols-3 md:grid-cols-3 text-black">
        <div class="form-control">
          <label class="cursor-pointer label" v-for="day in days" :key="day">
            <span class="label-text text-black">{{ day.name }}</span>
            <input
              :value="day"
              :checked="isTutorAvailableOn(day)"
              type="checkbox"
              v-model="tutor.data.available_days"
              class="checkbox"
            />
          </label>
        </div>
      </div>

      <template v-slot:modal-actions>
        <button
          @click="edit_schedule = false"
          class="btn btn-outline btn-black"
          :disabled="updating"
        >
          Cancel
        </button>
        <button
          @click="updateTutorSkills()"
          class="btn btn-outline btn-primary"
          :disabled="updating"
        >
          Submit
        </button>
      </template>
    </modal>
  </div>
  <!-- </div> -->
</template>

<script>
import Avatar from "../Auth/FormElements/Avatar.vue";
import AccountLayout from "../../Shared/AccountLayout.vue";
import Subjects from "../../classes/Subjects";
import Multiselect from "vue-multiselect";

import {
  required,
  minLength,
  between,
  email,
  maxLength,
} from "vuelidate/lib/validators";
import ProfilePicUploader from "../Auth/FormElements/ProfilePicUploader.vue";
import axios from "axios";
import Modal from "../Components/Modal.vue";
import { Inertia } from "@inertiajs/inertia";

export default {
  layout: AccountLayout,
  props: {
    tutor: {
      type: Object,
      required: true,
    },

    tutor_subjects: {
      type: Object,
      required: false,
    },

    skills: {
      type: Array,
      required: false,
    },
  },

  mounted() {
    this.subjects = Subjects.getSubjectsObject();
  },

  data() {
    return {
      //
      profile_updated: false,
      //
      number_of_accepted_offers: 0,

      //
      my_form_data: new FormData(),

      //
      selectedSubjects: [],

      //
      subjects: [],

      //
      edit_subjects: false,
      edit_skills: false,
      edit_schedule: false,

      //
      updating: false,

      //
      days: [
        "Mondays",
        "Tuesdays",
        "Wednesdays",
        "Thursdays",
        "Fridays",
        "Saturdays",
        "Sundays",
      ],
    };
  },
  components: { Avatar, ProfilePicUploader, Multiselect, Modal },
  validations: {
    user: {
      first_name: {
        required,
        // minLength: minLength(4),
      },
      last_name: {
        required,
        // minLength: minLength(4),
      },
      //   email: {
      //     required,
      //     email,
      //     // minLength: minLength(4),
      //   },
      phone_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
      },
      address: {
        required,
      },
      selectedSubjects: {
        required,
      },
    },
  },
  methods: {
    addImageToFormData(image) {
      this.my_form_data.append("image", image);
    },
    toggleToast(toggle) {
      this.profile_updated = toggle;
      console.log("That was 1 second.", this.profile_updated);
    },

    isTutorAvailableOn(day) {
      //   this.tutor.data.available_days.filter((available_day) => {
      //     available_day == day;
      //   });
      this.tutor.data.available_days.forEach((available_day) => {
        if (available_day.name == day) return true;
      });
      return false;
    },

    updateTutorSubjects() {
      Inertia.patch(
        "/tutors/tutor/update-subjects",
        { subjects: this.tutor.data.subjects },
        {
          onStart: () => {
            this.submitting_form = true;
          },
          onFinish: () => {
            this.submitting_form = false;
          },
          onError: (errors) => {},
        }
      );
    },

    updateTutorSkills() {
      Inertia.patch(
        "/tutors/tutor/update-skills",
        { skills: this.tutor.data.skills },
        {
          onStart: () => {
            this.submitting_form = true;
          },
          onFinish: () => {
            this.submitting_form = false;
          },
          onError: (errors) => {},
        }
      );
    },
    updateBio() {
      Inertia.patch(
        "/tutors/tutor/update-bio",
        {
          bio: this.tutor.data.bio,
          title: this.tutor.data.title,
        },
        {
          onStart: () => {
            this.submitting_form = true;
          },
          onFinish: () => {
            this.submitting_form = false;
          },
          onError: (errors) => {},
        }
      );
    },
  },
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

