<template>
  <div id="app" class="">
    <!-- <div id="nav"> -->
    <div class="shadow drawer flex-none">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content">
        <div
          class="w-full navbar sticky top-0 lg:hidden shadow-lg text-neutral-content z-10 bg-white"
        >
          <div class="flex-none lg:hidden">
            <label for="my-drawer" class="btn btn-square drawer-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
          </div>
          <div class="flex-1 navbar-end px-2 mx-2">
            <div class="flex flex-row" v-if="logged_in">
              <p class="text-black mt-4">
                {{ user.name }}
              </p>
              <div class="dropdown dropdown-end">
                <div
                  tabindex="0"
                  class="text-black m-1 btn btn-square btn-ghost"
                >
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      class="inline-block w-6 h-6 stroke-current"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                      ></path>
                    </svg>
                  </span>
                </div>

                <ul
                  tabindex="0"
                  class="p-2 shadow menu dropdown-content text-black bg-base-100 rounded-box w-52"
                >
                  <li>
                    <a
                      @click="
                        $router.push({
                          name: 'My Profile',
                        })
                      "
                      >Profile</a
                    >
                  </li>
                  <li>
                    <a
                      @click="
                        $router.push({
                          name: 'My Settings',
                        })
                      "
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a @click="logout()">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <span v-else>
              <a href="/">
                <img src="/images/glasses.svg" width="80" height="10" /></a
            ></span>
          </div>
        </div>
        <div
          class="navbar hidden lg:flex sticky top-0 py-5 mb-2 px-5 bg-white shadow-md text-neutral-content w-full z-10"
        >
          <div class="flex-1 px-2 mx-2">
            <div class="flex flex-row space-x-4">
              <a href="/home">
                <img src="images/glasses.svg" width="80" height="10"
              /></a>
              <router-link
                v-for="(navItem, index) in navItemsLeft"
                :key="index"
                :disabled="$route.name === navItem.name"
                v-bind:class="{
                  'text-accent-1-hover': $route.name === navItem.name,
                }"
                class="hidden px-3 py-2 lg:flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                :to="{ name: navItem.name }"
              >
                {{ navItem.text }}
              </router-link>
            </div>
          </div>
          <div class="flex-none hidden px-2 mx-2 lg:flex navbar-center">
            <div class="flex items-stretch" v-if="!logged_in">
              <router-link
                :disabled="$route.name === 'Login'"
                v-bind:class="{
                  'text-accent-1-hover': $route.name === 'Login',
                }"
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                :to="{ name: 'Login' }"
              >
                Login
              </router-link>

              <router-link
                :disabled="$route.name === 'Sign Up'"
                v-bind:class="{
                  'text-accent-1-hover': $route.name === 'Sign Up',
                }"
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                :to="{ name: 'Sign Up' }"
              >
                Sign Up
              </router-link>

              <button
                class="btn bg-accent-1 btn-ghost hover:bg-accent-1-hover"
                @click="
                  $router.push({
                    name: 'Create Job Post',
                  })
                "
              >
                Post A Job
              </button>

              <!-- <div v-else>
                <router-link class="leading-6 text-white" :to="{ name: 'Login' }">
                </router-link>

                <router-link class="leading-6 text-white" :to="{ name: 'Sign Up' }">
                </router-link>
              </div> -->
            </div>
          </div>
          <div class="flex-none hidden lg:flex" v-if="!logged_in">
            <button
              class="btn bg-accent-1 btn-ghost hover:bg-accent-1-hover"
              @click="
                $router.push({
                  name: 'Become A Tutor',
                })
              "
            >
              Become A Tutor
            </button>
          </div>
          <div class="flex-none hidden lg:flex" v-if="logged_in">
            <p class="text-black">
              {{ user.name }}
            </p>
            <div class="dropdown dropdown-end">
              <div tabindex="0" class="text-black m-1 btn btn-square btn-ghost">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="inline-block w-6 h-6 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                    ></path>
                  </svg>
                </span>
                <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="inline-block w-6 h-6 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                  ></path>
                </svg> -->
              </div>
              <!-- <div  class="m-1 btn">Dropdown</div> -->
              <ul
                tabindex="0"
                class="p-2 shadow menu dropdown-content text-black bg-base-100 rounded-box w-52"
              >
                <li v-if="user_roles.includes('Admin')">
                  <a
                    @click="
                      $router.push({
                        name: 'Admin Home',
                      })
                    "
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a
                    @click="
                      $router.push({
                        name: 'My Profile',
                      })
                    "
                    >Profile</a
                  >
                </li>
                <li>
                  <a
                    @click="
                      $router.push({
                        name: 'My Settings',
                      })
                    "
                    >Settings</a
                  >
                </li>
                <li>
                  <a @click="logout()">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <main class="">
          <router-view :key="$route.fullPath" />
        </main>
        <footer
          class="bg-footer-bg w-full footer mt-4"
          style="width: 100%; position: static"
        >
          <div
            class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8 text-white"
          >
            <nav
              v-if="!logged_in"
              class="flex flex-wrap justify-center -mx-5 -my-2 text-white"
            >
              <div
                class="px-5 py-2 text-white"
                v-for="(navItem, index) in navItemsLeft"
                :key="index"
              >
                <router-link
                  class="leading-6 text-white"
                  :to="{ name: navItem.name }"
                >
                  {{ navItem.text }}
                </router-link>

                <div v-if="!logged_in">
                  <router-link
                    class="leading-6 text-white"
                    :to="{ name: 'Login' }"
                  >
                  </router-link>

                  <router-link
                    class="leading-6 text-white"
                    :to="{ name: 'Sign Up' }"
                  >
                  </router-link>
                </div>
              </div>
            </nav>
            <p><a href="mailto:contactutors@gmail.com">Mail Us</a></p>

            <p class="mt-8 text-base leading-6 text-center text-gray-400">
              © 2021 Contactutors. All rights reserved.
            </p>
          </div>
        </footer>
      </div>

      <!-- drawer contents -->
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <div>
            <label for="my-drawer" class="btn btn-square drawer-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-4 h-4 stroke-current md:w-6 md:h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </label>
          </div>
          <!-- <li v-for="(navItem, index) in navItemsLeft" :key="index">
            <router-link
              class="
                px-3
                py-2
                flex
                items-center
                text-xs
                uppercase
                font-bold
                leading-snug
                text-black
                hover:opacity-75
              "
              :to="{ name: navItem.name }"
            >
              {{ navItem.text }}
            </router-link>
          </li> -->
          <div v-if="!logged_in">
            <li>
              <router-link
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                :to="{ name: 'Login' }"
              >
                Login
              </router-link>
            </li>
            <li>
              <router-link
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                :to="{ name: 'Sign Up' }"
              >
                Sign Up
              </router-link>
            </li>
          </div>
          <div v-else>
            <li>
              <router-link
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                :to="{ name: 'Login' }"
              >
              </router-link>
            </li>
            <li>
              <router-link
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                :to="{ name: 'Sign Up' }"
              >
              </router-link>
            </li>
          </div>
        </ul>
      </div>
    </div>

    <!-- The button to open modal -->
    <!-- <label for="my-modal" class="btn modal-button">open modal</label> -->

    <!-- Put this part before </body> tag -->
    <input
      type="checkbox"
      id="my-modal"
      :checked="open_user_details_modal"
      class="modal-toggle"
    />
    <div class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Congratulations random Interner user!</h3>
        <p class="py-4">
          You've been selected for a chance to get one year of subscription to
          use Wikipedia for free!
        </p>
        <div class="modal-action">
          <label for="my-modal" class="btn">Yay!</label>
        </div>
      </div>
    </div>

    <!-- Foooter -->
  </div>
</template>

<script>
import AuthUser from "../classes/AuthUser";

export default {
  created() {
    AuthUser.authCheck()
      .then((response) => {
        this.logged_in = true;
        this.user = response.data.user;
        this.user_roles = response.data.roles;
        // next();
      })
      .catch(() => {
        //    next('/login');
      });
  },
  name: "App",
  data() {
    return {
      showMenu: false,
      user_roles: [],
      open_user_details_modal: false,
      user: "",
      logged_in: false,
      navItemsLeft: [
        {
          text: "Home",
          url: "/home",
          name: "Home",
        },
        {
          text: "Jobs",
          url: "/jobs",
          name: "Jobs",
        },
        // {
        //   text: "Contact",

        // },
        {
          text: "Our Tutors",
          url: "/tutors",
          name: "Tutors",
        },
        {
          text: "About Us",
          url: "/about-us",
          name: "About",
        },
        // {
        //   text: "Become A Tutor",
        //   url: "/become-a-tutor",
        //   name: "Become A Tutor",
        // },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },
  methods: {
    toggleNavbar: function () {
      this.showMenu = !this.showMenu;
    },
    logout() {
      //   AuthUser.authCheck().then((response) => {
      axios
        .post("/api/logout")
        .then((response) => {
          this.$router.replace("/login");
        })
        .catch((err) => {});
      //   });
      // $user =
    },
  },
};
</script>

<style></style>
