<template>
  <div>
    <div class="md:flex md:flex-row justify-end">
      <button
        class="btn mr-5 mt-5 lg:mt-0 md:mt-0 btn-ghost hidden md:block"
        @click="openCollapsable"
      >
        Filters

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>
      </button>
      <div class="relative lg:w-96">
        <input
          type="text"
          v-model="search"
          placeholder="Search By name"
          class="w-full pr-16 input input-primary bg-background"
        />
        <button
          @click="searchTutors"
          class="absolute top-0 right-0 rounded-l-none btn text-white bg-accent-2 hover:bg-accent-2-hover"
        >
          search
        </button>
      </div>
      <button
        class="btn mr-5 mt-5 lg:mt-0 md:mt-0 btn-ghost block md:hidden"
        @click="openCollapsable"
      >
        Filters

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
          />
        </svg>
      </button>
    </div>
    <div
      class="collapse w-auto lg:w-full rounded-box border-base-300 collapse-arrow mt-4 text-black bg-white"
      v-bind:class="{
        'collapse-open': collapse_open,
      }"
    >
      <div class="collapse-content">
        <div class="lg:flex lg:flex-row justify-center md:gap-x-3">
          <div class="form-control w-full max-w-xs text-black bg-white">
            <label class="label text-black bg-white">
              <span class="label-text text-black">Subjects</span>
            </label>
            <select
              @select="filterTutors"
              class="select select-bordered w-full text-black bg-white border-black"
              v-model="filters.subject"
            >
              <option disabled="" selected="">Choose your superpower</option>
              <option
                v-for="(subject, index) in subjects"
                :key="index"
                :value="subject.id"
              >
                {{ subject.name }}
              </option>
              <!--
              <option>telekinesis</option>
              <option>time travel</option>
              <option>invisibility</option>
              -->
            </select>
          </div>
          <!-- <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Number Of Stars</span>
            </label>
            <select class="select select-bordered w-full">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div> -->
          <!-- <div class="form-control w-full max-w-xs">
            <label class="label">
              <span class="label-text">Years Of Experience</span>
            </label>
            <select
              @input="filterTutors"
              class="select select-bordered w-full"
              v-model="filters.years_of_experience"
            >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>5+</option>
            </select>
          </div> -->
          <div class="form-control w-full max-w-xs">
            <label class="label text-black bg-white">
              <span class="label-text text-black">Availability</span>
              <span class="label-text-alt btn-link" @click="clearFilters()"
                >Clear</span
              >
            </label>
            <select
              @select="filterTutors"
              class="select select-bordered border-black w-full text-black bg-white"
              v-model="filters.day_available"
            >
              <option disabled="" selected="">Availability</option>
              <option value="1">Mondays</option>
              <option value="2">Tuesdays</option>
              <option value="3">Wednesdays</option>
              <option value="4">Mondays</option>
              <option value="5">Thursdays</option>
              <option value="6">Fridays</option>
              <option value="7">Saturdays</option>
              <option value="8">Sundays</option>
              <option>All week</option>
            </select>
          </div>
          <div class="mt-10">
            <button class="btn" @click="filterTutors">Filter</button>
            <!-- <button
              @click="searchTutors"
              class="
                absolute
                top-0
                right-0
                rounded-l-none
                btn
                text-white
                bg-accent-2
                hover:bg-accent-2-hover
              "
            >
              search
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
// import { router } from "@inertiajs/vue2";

export default {
  props: ["subjects"],

  methods: {
    openCollapsable() {
      if (this.collapse_open === true) {
        this.collapse_open = false;
      } else {
        this.collapse_open = true;
      }
    },
    searchTutors() {
      axios
        .get("api/search-tutors?search=" + this.search)
        .then((response) => {
          this.$emit("searchTutors", response.data);
          //   this.tutors = response.data.data;
          //   console.log(response);
        })
        .catch((err) => {});
      //   this.$emit("searchTutors", this.tutors);
      //   console.log(this.tutors);
    },
    filterTutors() {
      Inertia.get("/tutors", [this.filters, this.search], {
        preserveScroll: true,
        preserveState: true,
        onFinish: () => {
          this.submitting_form = false;
        },
      });
      // let day_available = this.day_available : day_available
      // axios
      //   .get("/api/tutors", {
      //     params: {
      //       day_available: this.filters.day_available,
      //       subject: this.filters.subject,
      //       years_of_experience: this.filters.years_of_experience,
      //     },
      //   })
      //   .then((response) => {
      //     this.$emit("searchTutors", response.data.tutors);
      //     //   this.tutors = response.data.data;
      //     //   console.log(response);
      //   })
      //   .catch((err) => {});
      //   this.$emit("searchTutors", this.tutors);
      //   console.log(this.tutors);
      //   axios
      //     .get("api/fliter-tutors", {
      //       params: {},
      //     })
      //     .then((response) => {
      //       this.$emit("searchTutors", response.data.data);
      //       //   this.tutors = response.data.data;
      //       //   console.log(response);
      //     })
      //     .catch((err) => {});
      //   //   this.$emit("searchTutors", this.tutors);
      //   //   console.log(this.tutors);
    },
    nextPage(page) {
      axios
        .get("api/search-tutors", {
          params: {
            search: this.search,
            page: page,
          },
        })
        .then((response) => {
          this.$emit("searchTutors", response.data);
          //   this.tutors = response.data.data;
          //   console.log(response);
        })
        .catch((err) => {});
      //   this.$emit("searchTutors", this.tutors);
      //   console.log(this.tutors);
    },
    previousPage(page) {
      axios
        .get("api/search-tutors", {
          params: {
            search: this.search,
            page: page,
          },
        })
        .then((response) => {
          this.$emit("searchTutors", response.data);
          //   this.tutors = response.data.data;
          //   console.log(response);
        })
        .catch((err) => {});
      //   this.$emit("searchTutors", this.tutors);
      //   console.log(this.tutors);
    },
    clearFilters() {
      this.filters.day_available = null;
      this.filters.subject = null;
      this.filters.years_of_experience = null;
      Inertia.get("/tutors");
    },
  },
  data() {
    return {
      collapse_open: false,
      search: null,
      filters: {
        day_available: null,
        subject: null,
        years_of_experience: null,
      },
      tutors: [],
    };
  },
  name: "FiltersCollapsable",
};
</script>

<style scoped></style>
