<template>
  <div>
    <div class="hero h-auto text-black mt-20" style="margin-bottom: 15rem">
      <svg
        viewBox="0 0 200 200"
        xmlns="http://www.w3.org/2000/svg"
        class="opacity-50 w-96"
        style="top: 40%; bottom: 10%; position: relative"
      >
        <path
          fill="#3A1DA3"
          d="M37.5,-36.9C46.5,-18.6,50.3,-3.2,50.3,17.5C50.4,38.1,46.8,63.9,34.1,69.5C21.4,75.1,-0.4,60.6,-17.7,48C-35,35.3,-47.9,24.6,-50,12.3C-52.1,0,-43.4,-13.9,-33.3,-32.4C-23.2,-50.9,-11.6,-74.1,1.3,-75.1C14.3,-76.2,28.5,-55.2,37.5,-36.9Z"
          transform="translate(100 100)"
        />
      </svg>

      <div class="text-center">
        <div
          class="card text-center card-bordered border-black lg:w-96 w-80 shadow bg-white"
        >
          <!-- <figure class="px-10 pt-10">
          <img src="https://picsum.photos/id/1005/400/250" class="rounded-xl" />
        </figure> -->
          <div class="card-body">
            <!-- <h2 class="card-title">shadow, center, padding</h2> -->
            <div class="text-left mb-5">
              <h1 class="text-3xl font-bold">Welcome Back</h1>
              <p class="mt-4">
                or,
                <a href="/signup" class="link"> Create an account </a>
              </p>
            </div>
            <hr />
            <div class="form-control">
              <label class="label">
                <span class="label-text text-black">Email</span>
              </label>

              <input
                type="text"
                placeholder="email"
                v-model="user.email"
                class="input input-bordered bg-white border-black"
              />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-black">Password</span>
              </label>
              <input
                type="password"
                placeholder="password"
                v-model="user.password"
                class="input input-bordered bg-white border-black"
              />
            </div>

            <div class="justify-center card-actions">
              <button
                v-show="!loading"
                class="btn bg-accent-2 hover:bg-accent-2-hover btn-block"
                @click="login()"
              >
                Login
              </button>
              <button
                v-show="loading"
                class="btn btn-outline bg-accent-2 hover:bg-accent-2-hover btn-block loading"
                @click="login()"
              >
                Login
              </button>
              <label class="label" v-show="loginError">
                <span class="label-text-alt text-error text-left">{{
                  error_message
                }}</span>
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="max-w-md">
        <h1 class="mb-5 text-left text-5xl font-bold">Login</h1>
        <p class="mb-5">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
          exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import AuthUser from "../classes/AuthUser";

export default {
  data() {
    return {
      user: {
        email: "",
        password: "",
      },
      error_message: null,
      loginError: false,
      loading: false,
    };
  },
  methods: {
    login() {
      this.loading = true;
      axios.get("/sanctum/csrf-cookie").then(() => {
        axios
          .post("api/login", this.user)
          .then(() => {
            AuthUser.authCheck().then((response) => {
              this.loading = false;
              const roles = response.data.roles;
              if (roles.includes("Tutor")) {
                // this.$router.replace("/tutor");
                this.$router.push({ name: "Tutor Home" });
                // console.log(roles);
              }
              if (roles.length == 0) {
                this.$router.replace("/tutors");
              }

              if (roles.includes("Admin")) {
                this.$router.push({ name: "Admin Home" });
              }
              // this.$router.replace("/tutors");
            });
          })
          .catch((error) => {
            this.error_message = "Invalid credentials";
            this.loginError = true;

            this.loading = false;
          });
      });
    },
  },
};
</script>

<style></style>
