<template>
  <div>
    <!-- <a href="#my-modal-2" class="btn">open modal</a> -->
    <!-- Put this part before </body> tag -->
    
    

    <div class="container card card-bordered shadow-xl">
      <div class="flex flex-col card-body">
        <h1 class="text-3xl card-title font-bold">
          offer from {{ offer.offererName }}
          <br />

          for
          <span class="mt-10">{{ tutor.full_name }}</span>
        </h1>
        <div class="avatar mt-5">
          <div
            class="mb-8 rounded-full h-28 ring ring-black ring-offset-base-100 ring-offset-2"
          >
            <img :src="tutor.profile_picture_url" />
          </div>
        </div>
        <div>
          <h2 class="text-2xl font-semibold mb-5">Offer Details</h2>

          <div class="gap-y-9">
            <!-- <p>Submit request?</p>
         -->
            <div class="container flex-row space-y-2">
              <p>
                <span class="font-semibold">To tutor:</span>
                {{ offer.number_of_students }} students
              </p>
              <p>
                <span class="font-semibold">subjects:</span>
                <span v-for="subject in JSON.parse(offer.subjects)" :key="subject">
                  {{ subject }},
                </span>
              </p>

              <p>
                <span class="font-semibold"> Number Of Sessions Per Week:</span>
                {{ offer.number_of_sessions_a_week }}
              </p>
              <p>
                <span class="font-semibold"> Days For Sessions:</span>
                <span v-for="day in JSON.parse(offer.session_days)" :key="day">
                  {{ day }},
                </span>
              </p>

              <p>
                <span class="font-semibold"> Time of sessions:</span>
                {{ offer.time_of_day }}
              </p>

              <p>
                <span class="font-semibold"> Duration Per Session:</span>
                {{ offer.duration_per_session }}
              </p>

              <p>
                <span class="font-semibold">Agreement Duration:</span>
                {{ offer.agreement_duration }} Months
              </p>

              <p>
                <span class="font-semibold">Starting Date:</span>
                {{ offer.starting_date }}
              </p>

              <div style="margin-top: 2rem">
                <span class="font-normal">Price</span>
                <br />
                <span class="text-4xl"> ₦{{ offer.proposed_price }} </span>
              </div>

              <!-- <div class="form-control">
              <label class="label">
                <span class="label-text">Name a fair price</span>
              </label>
              <label class="input-group input-group-md">
                <span>₦</span>
                <input
                  :placeholder="proposed_price"
                  type="text"
                  v-model="proposed_price"
                  class="input input-bordered input-sm"
                />
                <span>monthly</span>
              </label>
            </div> -->
            </div>
            <div v-if="offer.status !== '1'">
              <div class="modal-action justify-start md:justify-end">
                <label
                  class="btn btn-secondary btn-outline"
                  @click="show_offer_cancelation_modal = true"
                  >Cancel Offer</label
                >
                <label class="btn btn-primary" @click="initialiseSubscription()"
                  >Make Payment</label
                >
                <paystack
                class="hidden"
                  id="paystack_button"
                  email="testing@123.com"
                  ref="paystack_button"
                  :paystackkey="paystackkey"
                  :plan="plan_code"
                  :reference="reference"
                  :callback="callback"
                  amount="0.00"
                  :close="close"
                  :embed="false"
                >
                </paystack>
              </div>

              <input
                type="checkbox"
                :checked="show_offer_cancelation_modal"
                class="modal-toggle"
              />
              <div class="modal">
                <div class="modal-box gap-y-9">
                  <h1 class="text-2xl font-bold mb-5">
                   Are you sure you want to cancel this offer?
                  </h1>

                  <div class="modal-action">
                    <label
                      class="btn btn-secondary btn-outline"
                      :disabled="accepting_offer"
                      @click="show_offer_cancelation_modal = false"
                      >No</label
                    >
                    <label
                      class="btn btn-primary"
                      v-bind:class="{ loading: accepting_offer }"
                      @click="cancelOffer()"
                      >Yes</label
                    >

                    <!-- <label
            @click="submit()"
            class="btn btn-primary"
            v-bind:class="{ loading: submitingRequest === true }"
            >Yes</label
          > -->
                    <!-- <label for="submition-confirmation" class="btn">No</label> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AuthUser from "../classes/AuthUser";
import paystack from "vue-paystack";

export default {
  methods: {
  
    retrieveOfferDetails() {
      axios
        .get("api/offer/" + this.$route.params.offer_id)
        .then((response) => {
          this.offer = response.data.tutor_offer;
          this.tutor = response.data.tutor;
          // this.tutor = response.data.tutor;
        })
        .catch((err) => {
          this.error.exists = true;
          this.error.message = err;
        });
    },
    initialiseSubscription() {
      axios
        .post("api/offer/create/plan", {
          id: this.$route.params.offer_id,
        })
        .then((response) => {
          this.plan_code = response.data.plan_code;
          this.paystackkey = response.data.key;
          document.getElementById("paystack_button").click();
        });
    },
  },
  data() {
    return {
      error_message: null,
      loginError: false,
      loading: false,
      plan_code: "",
      paystackkey: "",
      error: {
        exists: false,
        message: null,
      },
      user_is_logged_in: false,
      show_offer_cancelation_modal: false,
      user: {
        email: "",
        password: "",
      },
      offer: {},
      tutor: {},
    };
  },
  created() {
    AuthUser.authCheck()
      .then((response) => {
        // this.user_is_logged_in = true;
        this.retrieveOfferDetails();
        // this.user = response.data.user;
        // this.user_roles = response.data.roles;
        // next();
      })
      .catch(() => {
        //    next('/login');
      });
  },
  components: {
    paystack,
  },
};
</script>

<style></style>
