<template>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Pending Offers</h2>
      <div class="overflow-x-auto border border-black-600">
        <table class="table w-full">
          <thead>
            <tr>
              <th></th>
              <th>Offerer's Name</th>
              <!-- <th>Job</th> -->
              <th>Offer Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="offer in pending_offers" :key="offer.id">
              <th>{{ offer.id }}</th>
              <td>
                <div class="flex items-center space-x-3">
                  <!-- <div class="avatar">
                    <div class="w-12 h-12 mask mask-squircle">
                      <img :src="request.tutor.profile_picture_url" alt="applicant" />
                    </div>
                  </div> -->
                  <div>
                    <div class="font-bold">
                      {{ offer.offererName }}
                    </div>

                    <!--<div class="text-sm opacity-50">United States</div>-->
                  </div>
                </div>
              </td>
              <!-- <td>Quality Control Specialist</td> -->
              <td>{{ offer.offerDate }}</td>
              <th>
                <button
                  class="btn btn-ghost btn-xs"
                  @click="
                    $router.push({
                      name: 'Tutor Offer Details',
                      params: { offer_id: `${offer.id}` },
                    })
                  "
                >
                  details
                </button>
              </th>
            </tr>
          </tbody>
        </table>
        <div
          class="justify-center card-actions"
          v-if="pending_offers.length === 0"
        >
          <p class="text-center text-xl text-ghost">No Data</p>
        </div>
      </div>
      <div class="justify-center card-actions">
        <button
          class="btn btn-outline btn-wide"
          :disabled="current_page <= 1"
          @click="previousPage(current_page - 1)"
        >
          Previous Page
        </button>
        <button
          class="btn btn-outline btn-wide"
          :disabled="current_page === total_pages"
          @click="nextPage(current_page + 1)"
        >
          Next Page
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  methods: {
    nextPage(page) {
      axios
        .get("api/get-pending-offers", {
          params: {
            // status: 1,
            page: page,
          },
        })
        .then((response) => {
          this.pending_offers = response.data.pending_offers.data;
          this.current_page = response.data.pending_offers.current_page;
          this.total_pages = response.data.pending_offers.last_page;
        })
        .catch((err) => {});
    },
    previousPage(page) {
      axios
        .get("api/get-pending-offers", {
          params: {
            // status: 1,
            page: page,
          },
        })
        .then((response) => {
          this.pending_offers = response.data.pending_offers.data;
          this.current_page = response.data.pending_offers.current_page;
          this.total_pages = response.data.pending_offers.last_page;
        })
        .catch((err) => {});
    },
  },
  data() {
    return {
      pending_offers: [],
      current_page: null,
      total_pages: 0,
    };
  },
  mounted() {
    // this.nextPage(1);
    axios
      .get("api/get-pending-offers")
      .then((response) => {
        this.pending_offers = response.data.pending_offers.data;
        this.current_page = response.data.pending_offers.current_page;
        this.total_pages = response.data.pending_offers.last_page;
      })
      .catch((err) => {});
    // console.log(this.current_page);
  },
  name: "PendingOffersTable",
};
</script>

<style></style>
