<template>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Approved Applications</h2>
      <div class="overflow-x-auto border border-black-600">
        <table class="table w-full">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Job</th>
              <th>Application Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="application in applications" :key="application.id">
              <th>{{ application.id }}</th>
              <td>
                <div class="flex items-center space-x-3">
                  <div class="avatar">
                    <div class="w-12 h-12 mask mask-squircle">
                      <img :src="application.tutor.profile_picture_url" alt="applicant" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">
                      {{ application.tutor.full_name }}
                    </div>

                    <!--<div class="text-sm opacity-50">United States</div>-->
                  </div>
                </div>
              </td>
              <td>Quality Control Specialist</td>
              <td>Blue</td>
              <th>
                <button
                  class="btn btn-ghost btn-xs"
                  @click="
                    $router.push({
                      name: 'Application Details',
                      params: { tutor_id: `${application.tutor.id}` },
                    })
                  "
                >
                  details
                </button>
              </th>
            </tr>
          </tbody>
        </table>
        <div class="justify-center card-actions" v-if="applications.length === 0">
          <p class="text-center text-xl text-ghost">No Data</p>
        </div>
      </div>
      <div class="justify-center card-actions">
        <button
          class="btn btn-outline btn-wide"
          :disabled="current_page <= 1"
          @click="previousPage(current_page - 1)"
        >
          Previous Page
        </button>
        <button
          class="btn btn-outline btn-wide"
          :disabled="current_page === total_pages"
          @click="nextPage(current_page + 1)"
        >
          Next Page
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  methods: {
    nextPage(page) {
      axios
        .get("api/get-applications", {
          params: {
            status: 1,
            page: page,
          },
        })
        .then((response) => {
          this.applications = response.data.applications.data;
          this.current_page = response.data.applications.current_page;
          this.total_pages = response.data.applications.last_page;
        })
        .catch((err) => {});
    },
    previousPage(page) {
      axios
        .get("api/get-applications", {
          params: {
            status: 1,
            page: page,
          },
        })
        .then((response) => {
          this.applications = response.data.applications.data;
          this.current_page = response.data.applications.current_page;
          this.total_pages = response.data.applications.last_page;
        })
        .catch((err) => {});
    },
  },
  data() {
    return {
      applications: [],
      current_page: null,
      total_pages: 0,
    };
  },
  mounted() {
    // this.nextPage(1);
    axios
      .get("api/get-applications?status=1")
      .then((response) => {
        this.applications = response.data.applications.data;
        this.current_page = response.data.applications.current_page;
        this.total_pages = response.data.applications.last_page;
      })
      .catch((err) => {});
    console.log(this.current_page);
  },
  name: "PendingApplicationsTable",
};
</script>

<style></style>
