<template>
  <div class="">
    <div
      class="card bordered border-black shadow md:w-auto lg:card-side bg-background-1 text-black lg:w-96"
    >
      <div class="card-body">
        <div class="avatar justify-center">
          <div
            class="mb-8 rounded-full w-24 h-24 ring ring-black ring-offset-base-100 ring-offset-2"
          >
            <img :src="tutor.profile_picture_url" />
            <!-- <img src="http://daisyui.com/tailwind-css-component-profile-1@94w.png" /> -->
          </div>
        </div>
        <div class="mb-3">
          <h1 class="font-bold text-2xl text-center">{{ tutor.full_name }}</h1>
        </div>

        <ul class="list-disc">
          <li>
            <span class="font-bold"> Can teach: </span>
            <span v-for="(subject, index) in tutor.subjects" :key="index">
              {{ subject.name }},
            </span>
          </li>
          <li>
            <span class="font-bold"
              >Specialty:
              <!----></span
            >
            <span>{{ tutor.specialty_subject }}</span>
          </li>
          <!-- <li>Has Been Tutoring For: 2 years</li> -->
          <li>
            <span class="font-bold"> Availability:</span>
            <span
              v-for="(available_day, index) in tutor.available_days"
              :key="index"
            >
              {{ available_day.name }}
            </span>
          </li>
        </ul>
        <div class="justify-center card-actions">
          <Link
            as="button"
            class="btn btn-md bg-accent-3"
            :href="'/tutors/' + tutor.id"
          >
            See Profile
          </Link>

          <Link
            class="btn btn-md bg-accent-2 hover:bg-accent-2-hover"
            :href="'/tutors/show/request-form/' + tutor.id"
          >
            Hire Tutor
          </Link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["tutor"],

  name: "TutorCard",
};
</script>

<style></style>
