<template>
  <div>
    <div
      class="flex w-full place-items-center place-content-center justify-center flex-row"
    >
      <div class="tabs justify-center">
        <a
          @click="switchTab(current_tab.index)"
          class="tab tab-bordered text-black"
          v-bind:class="{
            'tab-active': current_tab.index === active_tab_index,
          }"
          v-for="(current_tab, index) in tabs"
          :key="index"
          >{{ current_tab.title }}</a
        >
      </div>
    </div>
    <div class="">
      <PendingOffersTable v-if="active_tab_index === 0"></PendingOffersTable>
      <AcceptedOffersTable v-if="active_tab_index === 1"></AcceptedOffersTable>
      <!-- <PendingApplicationsTable v-if="active_tab_index === 0"></PendingApplicationsTable>
      <ApprovedApplicationsTable
        v-if="active_tab_index === 1"
      ></ApprovedApplicationsTable>
      <RejectedApplicationsTable
        v-if="active_tab_index === 2"
      ></RejectedApplicationsTable> -->
    </div>
  </div>
</template>

<script>
import PendingOffersTable from "../../Components/PendingOffersTable.vue";
import AcceptedOffersTable from "../../Components/AcceptedOffersTable.vue";
// import ApprovedApplicationsTable from "../ApprovedApplicationsTable.vue";
// import PendingApplicationsTable from "../PendingApplicationsTable.vue";
// import RejectedApplicationsTable from "../RejectedApplicationsTable.vue";
export default {
  methods: {
    switchTab(indexToSwitchTo) {
      this.active_tab_index = indexToSwitchTo;
    },
  },
  data() {
    return {
      active_tab_index: 0,
      tabs: [
        {
          title: "Pending Offers",
          index: 0,
        },
        {
          title: "Accepted Offers",
          index: 1,
        },
        // {
        //   title: "Rejected Applications",
        //   index: 2,
        // },
      ],
    };
  },
  components: {
    // ApprovedApplicationsTable,
    // PendingApplicationsTable,
    // RejectedApplicationsTable,
    PendingOffersTable,
    AcceptedOffersTable,
  },
};
</script>

<style></style>
