<template>
  <div class="card w-96 bg-neutral text-neutral-content">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Cookies!</h2>
      <p>We are using cookies for no reason.</p>
      <div class="justify-end card-actions">
        <button class="btn btn-primary">Accept</button>
        <button class="btn btn-ghost">Deny</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    axios
      .get("api/get-ongoing-user-agreements/")
      .then((response) => {
        // this.offer = response.data.tutor_offer;
        this.user = response.data.user;
      })
      .catch((err) => {
        this.error.exists = true;
        this.error.message = err;
      });
  },
};
</script>

<style></style>
