<template>
  <div class="flex flex-row justify-center">
    <div class="shadow drawer flex-none">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content">
        <div
          class="
            w-full
            navbar
            sticky
            top-0
            lg:hidden
            shadow-lg
            text-neutral-content
            z-10
            bg-white
          "
        >
          <div class="flex-none lg:hidden">
            <label for="my-drawer" class="btn btn-square drawer-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
          </div>
          <div class="flex-1 navbar-end px-2 mx-2">
            <div class="flex flex-row">
              <p class="text-black mt-4">
                {{ user.name }}
              </p>
              <div class="dropdown dropdown-end">
                <div
                  tabindex="0"
                  class="text-black m-1 btn btn-square btn-ghost"
                >
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      class="inline-block w-6 h-6 stroke-current"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                      ></path>
                    </svg>
                  </span>
                </div>

                <ul
                  tabindex="0"
                  class="
                    p-2
                    shadow
                    menu
                    dropdown-content
                    text-black
                    bg-base-100
                    rounded-box
                    w-52
                  "
                >
                  <li>
                    <a
                      @click="
                        $router.push({
                          name: 'My Profile',
                        })
                      "
                      >Profile</a
                    >
                  </li>
                  <li>
                    <a
                      @click="
                        $router.push({
                          name: 'My Settings',
                        })
                      "
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a @click="logout()">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <span>
              <a href="/home"> <img src="images/glasses.svg" width="80" height="10" /></a
            ></span> -->
          </div>
        </div>
        <div
          class="
            navbar
            hidden
            lg:flex
            sticky
            top-0
            py-5
            mb-2
            px-5
            bg-white
            shadow-md
            text-neutral-content
            w-full
            z-10
          "
        >
          <div class="flex-1 px-2 mx-2">
            <a href="/">
              <img src="images/glasses.svg" width="80" height="10"
            /></a>
          </div>
          <div class="flex-none hidden px-2 mx-2 lg:flex">
            <div class="flex items-stretch" v-if="!logged_in">
              <router-link
                v-for="(navItem, index) in navItemsLeft"
                :key="index"
                :disabled="$route.name === navItem.name"
                v-bind:class="{
                  'text-accent-1-hover': $route.name === navItem.name,
                }"
                class="
                  px-3
                  py-2
                  flex
                  items-center
                  text-xs
                  uppercase
                  font-bold
                  leading-snug
                  text-black
                  hover:opacity-75
                "
                :to="{ name: navItem.name }"
              >
                {{ navItem.text }}
              </router-link>

              <router-link
                :disabled="$route.name === 'Login'"
                v-bind:class="{
                  'text-accent-1-hover': $route.name === 'Login',
                }"
                class="
                  px-3
                  py-2
                  flex
                  items-center
                  text-xs
                  uppercase
                  font-bold
                  leading-snug
                  text-black
                  hover:opacity-75
                "
                :to="{ name: 'Login' }"
              >
                Login
              </router-link>

              <router-link
                :disabled="$route.name === 'Sign Up'"
                v-bind:class="{
                  'text-accent-1-hover': $route.name === 'Sign Up',
                }"
                class="
                  px-3
                  py-2
                  flex
                  items-center
                  text-xs
                  uppercase
                  font-bold
                  leading-snug
                  text-black
                  hover:opacity-75
                "
                :to="{ name: 'Sign Up' }"
              >
                Sign Up
              </router-link>
            </div>
          </div>
          <div class="flex-none hidden lg:flex" v-if="!logged_in">
            <button
              class="btn bg-accent-1 btn-ghost hover:bg-accent-1-hover"
              @click="
                $router.push({
                  name: 'Become A Tutor',
                })
              "
            >
              Become A Tutor
            </button>
          </div>
          <div class="flex-none hidden lg:flex" v-if="logged_in">
            <p class="text-black">
              {{ user.name }}
            </p>
            <div class="dropdown dropdown-end">
              <div tabindex="0" class="text-black m-1 btn btn-square btn-ghost">
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="inline-block w-6 h-6 stroke-current"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                    ></path>
                  </svg>
                </span>
              </div>
              <!-- <div  class="m-1 btn">Dropdown</div> -->
              <ul
                tabindex="0"
                class="
                  p-2
                  shadow
                  menu
                  dropdown-content
                  text-black
                  bg-base-100
                  rounded-box
                  w-52
                "
              >
                <li>
                  <a
                    @click="
                      $router.push({
                        name: 'User Details',
                      })
                    "
                    >Profile</a
                  >
                </li>
                <li>
                  <a>Settings</a>
                </li>
                <li>
                  <a @click="logout()">Logout</a>
                </li>
              </ul>
            </div>
            <!-- <button
              class="btn bg-accent-1 btn-ghost hover:bg-accent-1-hover"
              @click="
                $router.push({
                  name: 'Become A Tutor',
                })
              "
            >
              Dashboard
            </button> -->
          </div>
        </div>

        <!-- <div class="flex flex-row justify-center whitespace-pre-line"> -->
        <div class="flex flex-row justify-center" style="height: min-content">
          <div
            class="card card-side bg-white shadow-xl text-black md:w-1/2"
            style="height: 110%"
          >
            <ul
              class="
                menu
                p-4
                overflow-y-auto
                hidden
                md:block
                bg-white
                text-black
                mt-10
              "
            >
              <!-- Sidebar content here -->
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Profile',
                    })
                  "
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    /></svg
                  >Profile
                </a>
              </li>

              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Offers',
                    })
                  "
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
                    /></svg
                  >My Offers</a
                >
              </li>
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Invoices',
                    })
                  "
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 14l6-6m-5.5.5h.01m4.99 5h.01M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16l3.5-2 3.5 2 3.5-2 3.5 2zM10 8.5a.5.5 0 11-1 0 .5.5 0 011 0zm5 5a.5.5 0 11-1 0 .5.5 0 011 0z"
                    /></svg
                  >Invoices</a
                >
              </li>
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Settings',
                    })
                  "
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    /></svg
                  >Settings</a
                >
              </li>
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'Become A Tutor',
                    })
                  "
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path
                      d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    /></svg
                  >Become A Tutor</a
                >
              </li>
              <li>
                <a
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    /></svg
                  >Logout</a
                >
              </li>
            </ul>
            <!-- small screens -->
            <ul class="menu md:hidden bg-white text-black mt-10" style="">
              <!-- Sidebar content here -->
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Profile',
                    })
                  "
                  ><svg
                    id="profile-nav-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    /></svg
                ></a>
              </li>
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Offers',
                    })
                  "
                  ><svg
                    id="profile-nav-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    /></svg
                ></a>
              </li>
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Invoices',
                    })
                  "
                  ><svg
                    id="profile-nav-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
                    /></svg
                ></a>
              </li>
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Settings',
                    })
                  "
                  ><svg
                    id="profile-nav-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 14l6-6m-5.5.5h.01m4.99 5h.01M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16l3.5-2 3.5 2 3.5-2 3.5 2zM10 8.5a.5.5 0 11-1 0 .5.5 0 011 0zm5 5a.5.5 0 11-1 0 .5.5 0 011 0z"
                    /></svg
                ></a>
              </li>
              <!-- <li>
                <a
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path
                      d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    /></svg
                ></a>
              </li> -->
              <!-- <li><a>Sidebar Item 2</a></li>
              <li><a>Sidebar Item 2</a></li> -->
            </ul>
            <div class="divider divider-horizontal"></div>
            <div class="card-body">
              <h2 class="card-title text-2xl">{{ $route.name }}</h2>
              <hr />
              <div class="container">
                <router-view></router-view>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- drawer contents -->
      <div class="drawer-side" style="height: 100vh">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <div>
            <label for="my-drawer" class="btn btn-square drawer-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-4 h-4 stroke-current md:w-6 md:h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </label>
          </div>
          <li v-for="(navItem, index) in navItemsLeft" :key="index">
            <router-link
              class="
                px-3
                py-2
                flex
                items-center
                text-xs
                uppercase
                font-bold
                leading-snug
                text-black
                hover:opacity-75
              "
              :to="{ name: navItem.name }"
            >
              {{ navItem.text }}
            </router-link>
          </li>
        </ul>
      </div>
    </div>

    <!-- Foooter -->

    <input
      type="checkbox"
      id="login-form-modal"
      :checked="!user_is_logged_in"
      class="modal-toggle"
    />
    <div class="modal" id="login-form-modal">
      <div class="modal-box">
        <div class="text-center">
          <div
            class="
              card
              text-center
              card-bordered
              border-black
              lg:w-96
              w-80
              shadow
              bg-white
            "
          >
            <div class="card-body">
              <h1 class="mb-5 text-left text-3xl font-bold">Welcome Back</h1>
              <hr />
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Email</span>
                </label>

                <input
                  type="text"
                  placeholder="email"
                  v-model="user.email"
                  class="input input-bordered bg-white border-black"
                />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Password</span>
                </label>
                <input
                  type="password"
                  placeholder="password"
                  v-model="user.password"
                  class="input input-bordered bg-white border-black"
                />
              </div>

              <div class="justify-center card-actions">
                <button
                  v-show="!loading"
                  class="btn bg-accent-2 hover:bg-accent-2-hover btn-block"
                  @click="login()"
                >
                  Login
                </button>
                <button
                  v-show="loading"
                  class="
                    btn btn-outline
                    bg-accent-2
                    hover:bg-accent-2-hover
                    btn-block
                    loading
                  "
                  @click="login()"
                >
                  Login
                </button>
                <label class="label" v-show="loginError">
                  <span class="label-text-alt text-error text-left">{{
                    error_message
                  }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-action">
          <a href="#" class="btn">Yay!</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import AuthUser from "../../classes/AuthUser";

export default {
  name: "UserDetails",
  created() {
    AuthUser.authCheck()
      .then((response) => {
        // this.logged_in = true;
        this.user = response.data.user;
        // this.user_roles = response.data.roles;
        // next();
      })
      .catch(() => {
        //    next('/login');
        this.user_is_logged_in = false;
      });
  },
  data() {
    return {
      error_message: null,
      loginError: false,
      loading: false,
      error: {
        exists: false,
        message: null,
      },
      user_is_logged_in: true,
      user: {
        email: "",
        password: "",
      },
      open: false,
      user: {},
      dimmer: true,
      right: false,
      logged_in: true,
      navItemsLeft: [
        {
          text: "Home",
          url: "/home",
          name: "Home",
        },
        {
          text: "Contact",
          url: "/contact",
          name: "Tutors",
        },
        {
          text: "Our Tutors",
          url: "/tutors",
          name: "Tutors",
        },
        {
          text: "About Us",
          url: "/about-us",
          name: "About",
        },
        {
          text: "Become A Tutor",
          url: "/become-a-tutor",
          name: "Become A Tutor",
        },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },
  methods: {
    toggle() {
      this.open = !this.open;
    },
    login() {
      this.loading = true;
      axios.get("/sanctum/csrf-cookie").then(() => {
        axios
          .post("api/login", this.user)
          .then(() => {
            AuthUser.authCheck().then((response) => {
              this.loading = false;
              this.user_is_logged_in = true;
              this.$router.go();
            });
          })
          .catch((error) => {
            this.error_message = "Invalid credentials";
            this.loginError = true;

            this.loading = false;
          });
      });
    },
    logout() {
      AuthUser.authCheck().then((response) => {
        axios
          .post("/api/logout")
          .then((response) => {
            this.$router.replace("/login");
          })
          .catch((err) => {});
      });
      // $user =
    },
  },
};
</script>

<style scoped>
#profile-nav-icon {
  width: 64px;
}
#nav a.router-link-exact-active {
  background-color: lightgray;
  color: black;
}
</style>
