<template>
  <div class="card card-bordered mb-28">
    <div class="card-body text-black">
      <div class="container mx-auto">
        <div class="flex justify-center pb-7">
          <h1 class="card-title text-center text-4xl">Our Tutors</h1>
        </div>
        <div class="mb-6">
          <div class="text-black">
            <filters-collapsable :subjects="subjects">
              ref="filterSearchCollapsible" @searchTutors="setSearchedForTutors"
              ></filters-collapsable
            >
          </div>
        </div>

        <div class="container mx-auto">
          <div
            class="grid lg:grid-cols-3 md:grid-cols-2 gap-y-9 lg:gap-x-4 sm:grid-cols-1 justify-items-center"
          >
            <tutor-card
              v-for="(tutor, index) in tutors.data"
              :tutor="tutor"
              :key="index"
            ></tutor-card>
          </div>
          <div class="justify-center card-actions">
            <button
              class="btn btn-outline btn-wide"
              :disabled="current_page <= 1"
              @click="previousPage(current_page - 1)"
            >
              Previous Page
            </button>
            <button
              class="btn btn-outline btn-wide"
              :disabled="current_page === total_pages"
              @click="nextPage(current_page + 1)"
            >
              Next Page
            </button>
          </div>
        </div>
      </div>
    </div>
    <Head title="Tutors"></Head>
  </div>
</template>

<script>
import TutorCard from "../../components/TutorCard.vue";
import FiltersCollapsable from "../../components/FiltersCollapsable.vue";
import { Head } from "@inertiajs/inertia-vue";

export default {
  props: {
    tutors: {
      type: Object,
    },
    subjects: {
      type: Array,
    },
  },
  methods: {
    nextPage(page) {
      if (!this.searched_results) {
        axios
          .get("/api/tutors?page=" + page)
          .then((response) => {
            this.tutors = response.data.tutors.data;
            this.current_page = response.data.tutors.current_page;
            this.total_pages = response.data.tutors.last_page;
          })
          .catch((err) => {});
      } else {
        this.$refs.filterSearchCollapsible.previousPage(page);
      }
    },
    previousPage(page) {
      if (!this.searched_results) {
        axios
          .get("/api/tutors?page=" + page)
          .then((response) => {
            this.tutors = response.data.tutors.data;
            this.current_page = response.data.tutors.current_page;
            this.total_pages = response.data.tutors.last_page;
          })
          .catch((err) => {});
      } else {
        this.$refs.filterSearchCollapsible.previousPage(page);
      }
    },
    setSearchedForTutors(tutors) {
      this.tutors = tutors.data;
      this.current_page = tutors.current_page;
      this.total_pages = tutors.last_page;
      this.searched_results = true;
    },
  },
  //   created() {
  //     axios
  //       .get("/api/tutors")
  //       .then((response) => {
  //         this.tutors = response.data.tutors.data;
  //         this.current_page = response.data.tutors.current_page;
  //         this.total_pages = response.data.tutors.last_page;
  //       })
  //       .catch((err) => {});
  //   },
  name: "Tutors",
  components: { TutorCard, FiltersCollapsable, Head },

  data() {
    return {
      current_page: null,
      total_pages: 0,
      searched_results: false,
    };
  },
};
</script>

<style></style>
