<template>
  <div>
    <Head title="Request Tutor"> </Head>

    <tutor-request-form :tutor="tutor.data"></tutor-request-form>
  </div>
</template>

<script>
import TutorRequestForm from "../Components/TutorRequestForm.vue";
import { Head } from "@inertiajs/inertia-vue";

export default {
  props: {
    tutor: Object,
  },
  components: { TutorRequestForm, Head },
  name: "RequestTutor",
};
</script>

<style></style>
