<template>
  <div>
    <Head
      :title="tutor.data.full_name"
      meta="General page"
      head-key="general"
    />

    <div class="">
      <div class="card container mx-auto lg:my-20 shadow-md">
        <div class="w-full p-10 bg-background-3">
          <h1 class="text-white text-center card-title font-bold text-4xl">
            Tutor Details
          </h1>
          <div class="grid justify-center text-white">
            <div class="avatar justify-center">
              <div
                class="mb-8 rounded-full h-28 ring ring-white ring-offset-base-100 ring-offset-2"
              >
                <img :src="tutor.data.profile_picture_url" />
              </div>
            </div>
            <div class="mb-5 text-center">
              <h1 class="font-bold text-2xl">
                {{ tutor.data.full_name }}
              </h1>
              <h3>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-5 h-5 inline-block"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"
                  />
                </svg>
                {{ tutor.data.state_of_residence }},
                {{ tutor.data.lga_of_residence }}
              </h3>
            </div>
            <div class="flex justify-center mt-5">
              <Link
                :href="'/tutors/show/request-form/' + tutor.data.id"
                class="btn bg-accent-1 hover:bg-accent-1-hover text-white"
              >
                Hire Tutor
              </Link>
            </div>

            <div class="mt-3 w-80">
              <p class="text-1xl text-white text-center">
                {{ tutor.data.bio }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-body text-black">
          <div class="md:grid md:grid-cols-3 md:gap-2 justify-center mb-10">
            <div class="card shadow-md w-auto lg:card-side">
              <div class="card-body">
                <h2 class="card-title">Subjects</h2>
                <ul>
                  <!-- <li v-for="(index, subject) in tutor.subjects" :key="index"> -->
                  <li
                    v-for="(subject, index) in tutor.data.subjects"
                    :key="index"
                  >
                    {{ subject.name }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="card shadow-md w-auto lg:card-side">
              <div class="card-body">
                <h2 class="card-title">Teaching Skills</h2>

                <ul>
                  <li v-for="(skill, index) in tutor.data.skills" :key="index">
                    {{ skill.name }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="card shadow-md w-auto lg:card-side">
              <div class="card-body">
                <h2 class="card-title">Work Experience</h2>
                <ul>
                  <li
                    v-for="(job, index) in tutor.data.jobs"
                    :key="index"
                    class="flex flex-row justify-between"
                  >
                    {{ job.job_title }}
                    <button
                      class="inline-block btn btn-ghost btn-danger btn-sm"
                      @click="
                        () => {
                          job_details_to_show = job;
                          show_job_details_modal = true;
                        }
                      "
                    >
                      Read More
                    </button>
                  </li>
                </ul>
              </div>
            </div>
            <div class="card shadow-md w-auto lg:card-side">
              <div class="card-body">
                <h2 class="card-title">Available On</h2>
                <ul>
                  <li
                    v-for="(available_day, index) in tutor.data.available_days"
                    :key="index"
                  >
                    {{ available_day.name }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal
      :show_modal="show_job_details_modal"
      @closeModal="show_job_details_modal = false"
    >
      <template v-slot:title>
        {{ job_details_to_show.job_title }}
      </template>

      <p>Employer: {{ job_details_to_show.employer }}</p>
      <p>Employed For: {{ job_details_to_show.employment_duration }}</p>

      <p>Job Description: {{ job_details_to_show.job_description }}</p>
    </modal>
  </div>
</template>
</modal>
  </div>
</template>

<script>
import { Head } from "@inertiajs/inertia-vue";
import Modal from "../Components/Modal.vue";

export default {
  components: {
    Head,
    Modal,
  },
  props: {
    tutor: {
      type: Object,
    },
  },
  data() {
    return {
      //   tutor: {},
      show_job_details_modal: false,
      is_logged_in: false,

      job_details_to_show: {},
    };
  },
  name: "TutorProfile",
  methods: {
    hireTutor() {
      if (this.is_logged_in) {
        this.$router.push({
          name: "Request Tutor",
          params: {
            tutor_id: `${this.$route.params.tutor_id}`,
          },
        });
      } else {
        this.$router.push({
          name: "Login",
          // params: {
          //     tutor_id: `${tutor.id}`
          // },
        });
      }
    },
  },
};
</script>

<style></style>
