<template>
  <div class="">
    <div class="flex flex-col">
      <div class="flex justify-start">
        <profile-pic-uploader
          :user="this.user"
          @input="addImageToFormData($event)"
        ></profile-pic-uploader>
      </div>

      <p>Joined {{ user.signedUpOn }}</p>

      <p class="text-xl font-bold">
        Active Agreements: {{ number_of_accepted_offers }}
      </p>
      <p class="text-xl font-bold">Reviews Made: 3</p>

      <hr />
      <div class="flex flex-col space-y-5">
        <div>
          <div>
            <form class="text-black py-3">
              <div class="flex flex-row flex-wrap">
                <div class="form-control w-full md:w-1/2 md:pr-3">
                  <label class="label">
                    <span class="label-text text-black">First Name*</span>
                  </label>
                  <input
                    type="text"
                    placeholder="first name"
                    class="input input-bordered bg-white border-black"
                    :class="{
                      'input input-error input-bordered':
                        $v.user.first_name.$error,
                    }"
                    v-model.trim="$v.user.first_name.$model"
                  />

                  <p
                    class="error text-sm text-red-500"
                    v-if="$v.user.first_name.$error"
                  >
                    First Name is required
                  </p>
                </div>

                <div class="form-control w-full md:w-1/2">
                  <label class="label">
                    <span class="label-text text-black">Last Name*</span>
                  </label>
                  <input
                    type="text"
                    placeholder="last name"
                    class="input input-bordered bg-white border-black"
                    :class="{
                      'input input-error input-bordered':
                        $v.user.last_name.$error,
                    }"
                    v-model.trim="$v.user.last_name.$model"
                  />
                  <p
                    class="error text-sm text-red-500"
                    v-if="$v.user.last_name.$error"
                  >
                    Last Name is required
                  </p>
                </div>
              </div>

              <div class="form-control">
                <label class="label">
                  <span class="label-text text-black">Phone Number</span>
                </label>
                <input
                  type="text"
                  placeholder="phone number"
                  class="input input-bordered bg-white border-black"
                  :class="{
                    'input input-error input-bordered':
                      $v.user.phone_number.$error,
                  }"
                  v-model.trim="$v.user.phone_number.$model"
                />
                <p
                  class="error text-sm text-red-500"
                  v-if="$v.user.phone_number.$error"
                >
                  a valid phone number is required
                </p>
              </div>

              <div class="form-control">
                <label class="label text-black">
                  <span class="label-text text-black">Your address*</span>
                </label>
                <textarea
                  v-model.trim="$v.user.address.$model"
                  class="textarea h-24 textarea-bordered bg-white border-black"
                  placeholder="your address"
                ></textarea>
                <p
                  class="error text-sm text-red-500 text-left"
                  v-if="$v.user.address.$error"
                >
                  This field is required
                </p>
                <!-- <textarea
                      v-model="user.address"
                      class="textarea h-24 textarea-bordered bg-white border-black"
                      placeholder="Tell us about yourself"
                    ></textarea> -->
              </div>
            </form>
          </div>
          <button
            type="submit"
            @click="updateDetails()"
            class="btn btn-outline justify-start"
          >
            Save Changes
          </button>
        </div>

        <hr />

        <div>
          <div>
            <h2 class="text-2xl">Subjects</h2>
          </div>
          <div class="container mt-5">
            <div class="badge badge-lg badge-outline">987,654</div>
            <div class="badge badge-lg">987,654</div>
            <div class="badge badge-lg">987,654</div>
            <div class="badge badge-lg">987,654</div>
            <div class="badge badge-lg">987,654</div>
            <div class="badge badge-lg">987,654</div>
            <div class="badge badge-lg">987,654</div>
            <div class="badge badge-lg">987,654</div>
            <div class="badge badge-lg">987,654</div>
          </div>
        </div>
      </div>
      <div class="toast toast-end" v-show="profile_updated">
        <div class="alert alert-success">
          <div>
            <span>Profile Updated</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Avatar from "../Auth/FormElements/Avatar.vue";
import AccountLayout from "../../Shared/AccountLayout.vue";
import {
  required,
  minLength,
  between,
  email,
  maxLength,
} from "vuelidate/lib/validators";
import ProfilePicUploader from "../Auth/FormElements/ProfilePicUploader.vue";
import axios from "axios";

export default {
  layout: AccountLayout,
  created() {
    axios.get("api/get/logged-in-user-details").then((response) => {
      this.user = response.data.user_details;
      this.number_of_accepted_offers = response.data.number_of_accepted_offers;
      console.log(this.user);
    });
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      //
      profile_updated: false,
      //
      number_of_accepted_offers: 0,

      //
      //   user: {},
      my_form_data: new FormData(),
    };
  },
  components: { Avatar, ProfilePicUploader },
  validations: {
    user: {
      first_name: {
        required,
        // minLength: minLength(4),
      },
      last_name: {
        required,
        // minLength: minLength(4),
      },
      //   email: {
      //     required,
      //     email,
      //     // minLength: minLength(4),
      //   },
      phone_number: {
        required,
        minLength: minLength(11),
        maxLength: maxLength(11),
      },
      address: {
        required,
        // minLength: minLength(4),
      },
      //   image: {
      //     required,
      // minLength: minLength(4),
      //   },
      //   available_days: {
      //   required,
      // minLength: minLength(4),
      //   },
    },
  },
  methods: {
    addImageToFormData(image) {
      this.my_form_data.append("image", image);
    },
    toggleToast(toggle) {
      this.profile_updated = toggle;
      console.log("That was 1 second.", this.profile_updated);
    },
    updateDetails() {
      let keys = Object.keys(this.user);
      let values = Object.values(this.user);

      let self = this;

      let fd = new FormData();
      for (let i = 0; i < keys.length; i++) {
        if (values[i] || values[i] == 0) {
          fd.append(keys[i], values[i]);
        }
      }
      axios
        .patch("/api/users/" + this.user.id, this.user)
        .then((response) => {
          this.profile_updated = true;
          setTimeout(function () {
            self.toggleToast(0);
          }, 2000);
        })
        .catch((err) => {});
    },
  },
};
</script>

<style></style>
