<template>
  <div class="flex flex-row justify-center bg-white">
    <Head :title="'My Account'"></Head>

    <div class="shadow drawer flex-none">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content">
        <nav-bar></nav-bar>

        <div
          class="flex flex-row justify-center md:px-28"
          style="height: min-content"
        >
          <div
            class="card card-side bg-white shadow-xl text-black w-full"
            style="height: 110%"
          >
            <ul
              class="menu p-4 overflow-y-auto hidden md:block bg-white text-black mt-10"
            >
              <!-- Sidebar content here -->
              <li>
                <Link href="/account/profile"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    /></svg
                  >Profile
                </Link>
              </li>

              <li>
                <Link href="/account/job-offers"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 00.75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 00-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0112 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 01-.673-.38m0 0A2.18 2.18 0 013 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 013.413-.387m7.5 0V5.25A2.25 2.25 0 0013.5 3h-3a2.25 2.25 0 00-2.25 2.25v.894m7.5 0a48.667 48.667 0 00-7.5 0M12 12.75h.008v.008H12v-.008z"
                    />
                  </svg>
                  Job Offers
                </Link>
              </li>

              <li v-if="$page.props.auth.user.roles.includes('Client')">
                <Link href="/account/job-postings"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
                    /></svg
                  >Job Posts</Link
                >
              </li>

              <hr />
              <li v-if="$page.props.auth.user.roles.includes('Tutor')">
                <Link href="/account/tutor-profile"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
                    />
                  </svg>
                  Tutoring Details</Link
                >
              </li>
              <!-- <hr />
              <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Settings',
                    })
                  "
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    /></svg
                  >Settings</a
                >
              </li> -->
              <!-- <li>
                <a
                  @click="
                    $router.push({
                      name: 'Become A Tutor',
                    })
                  "
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path d="M12 14l9-5-9-5-9 5 9 5z" />
                    <path
                      d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222"
                    /></svg
                  >Become A Tutor</a
                >
              </li> -->
              <!-- <li>
                <a
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    /></svg
                  >Logout</a
                >
              </li> -->
            </ul>
            <!-- small screens -->
            <ul class="menu md:hidden bg-white text-black mt-10" style="">
              <!-- Sidebar content here -->
              <li>
                <Link href="/account/profile" class="flex flex-col text-center"
                  ><svg
                    id="profile-nav-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                  <span> Profile</span>
                </Link>
              </li>
              <li v-if="$page.props.auth.user.roles.includes('Client')">
                <Link
                  href="/account/job-postings"
                  class="flex flex-col text-center"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
                    />
                  </svg>
                  <span> Job Posts</span>
                </Link>
              </li>

              <hr />
              <li v-if="$page.props.auth.user.roles.includes('Tutor')">
                <Link
                  href="/account/tutor-profile"
                  class="flex flex-col text-center"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5"
                    />
                  </svg>
                  <span> Tutoring Details</span></Link
                >
              </li>
              <!-- <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Invoices',
                    })
                  "
                  ><svg
                    id="profile-nav-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z"
                    /></svg
                ></a>
              </li> -->
              <!-- <li>
                <a
                  @click="
                    $router.push({
                      name: 'My Settings',
                    })
                  "
                  ><svg
                    id="profile-nav-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 14l6-6m-5.5.5h.01m4.99 5h.01M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16l3.5-2 3.5 2 3.5-2 3.5 2zM10 8.5a.5.5 0 11-1 0 .5.5 0 011 0zm5 5a.5.5 0 11-1 0 .5.5 0 011 0z"
                    /></svg
                ></a>
              </li> -->
            </ul>
            <div class="divider divider-horizontal"></div>
            <div class="card-body">
              <h2 class="card-title text-2xl">{{ $page.url }}</h2>
              <hr />
              <div class="">
                <slot> </slot>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- drawer contents -->
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 overflow-y-auto w-80 bg-white text-base-content">
          <div>
            <label for="my-drawer" class="btn btn-square drawer-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-4 h-4 stroke-current md:w-6 md:h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </label>
          </div>
          <li v-for="(navItem, index) in navItemsLeft" :key="index">
            <Link
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
              :href="navItem.url"
            >
              {{ navItem.text }}
            </Link>
          </li>
        </ul>
      </div>
    </div>

    <!-- Foooter -->
    <div class="toast transition delay-50" v-show="toast.show_toast">
      <div :class="'alert alert-' + toast.type">
        <div class="flex flex-col">
          <p>{{ toast.toast_text }}</p>
          <progress v-show="toast.show_loader" class="progress w-56"></progress>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
// import AuthUser from "../../classes/AuthUser";
import Layout from "./Layout";
import { Inertia } from "@inertiajs/inertia";
import { Head } from "@inertiajs/inertia-vue";
import NavBar from "./NavBar.vue";

export default {
  name: "UserDetails",
  components: { Head, NavBar },

  layout: Layout,
  data() {
    return {
      error_message: null,
      loginError: false,
      user_roles: [],
      loading: false,
      error: {
        exists: false,
        message: null,
      },
      user_is_logged_in: true,
      toast: {
        toast_text: "",
        show_toast: false,
        show_loader: false,
        type: "",
      },
      user: {
        email: "",
        password: "",
      },
      open: false,
      user: {},
      dimmer: true,
      right: false,
      logged_in: true,
      navItemsLeft: [
        {
          text: "Home",
          url: "/",
          name: "Home",
        },
        {
          text: "Job Postings",
          url: "/job-posts",
          name: "Job Posts",
        },
        {
          text: "Our Tutors",
          url: "/tutors",
          name: "Tutors",
        },
        {
          text: "About Us",
          url: "/about-us",
          name: "About",
        },
        // {
        //   text: "Become A Tutor",
        //   url: "/become-a-tutor",
        //   name: "Become A Tutor",
        // },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },

  provide() {
    return {
      toggleToast: this.toggleToast,
    };
  },
  methods: {
    toggle() {
      this.open = !this.open;
    },
    toggleToast(text, show_loader = false, type = "success") {
      this.toast.show_toast = true;
      this.toast.toast_text = text;
      this.toast.show_loader = show_loader;
      this.toast.type = type;
      setTimeout(() => {
        this.toast.show_toast = false;
      }, 3000);
    },
  },
};
</script>

<style scoped>
#profile-nav-icon {
  width: 64px;
}
</style>
