<template>
  <div>
    <div class="rounded-lg shadow bg-base-200 drawer drawer-mobile h-screen">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="flex flex-col drawer-content">
        <div class="w-full navbar bg-base-300">
          <div class="flex-none lg:hidden">
            <label for="my-drawer-2" class="btn btn-square btn-ghost">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"
                ></path>
              </svg>
            </label>
          </div>
          <div class="flex-1 px-2 mx-2">
            <!-- <span> Down Here </span> -->
          </div>
          <!-- <div class="flex-none">
            <ul class="menu horizontal">
              <li>
                <div class="flex-none">
                  <div class="avatar">
                    <div class="rounded-full w-10 h-10 m-1">
                      <img src="https://i.pravatar.cc/500?img=32" />
                    </div>
                  </div>
                </div>
                <a class="rounded-btn">nav 1</a>
              </li>
              <li>
                <div class="dropdown">
                  <div tabindex="0" class="m-1 btn">Dropdown</div>
                  <ul
                    tabindex="0"
                    class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52"
                  >
                    <li>
                      <a>Item 1</a>
                    </li>
                    <li>
                      <a>Item 2</a>
                    </li>
                    <li>
                      <a>Item 3</a>
                    </li>
                  </ul>
                </div>

                <a class="rounded-btn">nav 2</a>
              </li>
            </ul>
          </div> -->
          <!-- <div class="flex-1 lg:flex-none">
            <div class="form-control">
              <input type="text" placeholder="Search" class="input input-ghost" />
            </div>
          </div> -->
          <!-- <div class="flex-none">
            <button class="btn btn-square btn-ghost">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
            </button>
          </div> -->
          <div class="flex-none">
            <div class="dropdown dropdown-end">
              <div tabindex="0" class="btn btn-square btn-ghost m-1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="inline-block w-6 h-6 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                  ></path>
                </svg>
              </div>
              <!-- <div  class="m-1 btn">Dropdown</div> -->
              <ul
                tabindex="0"
                class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52"
              >
                <li>
                  <a>Profile</a>
                </li>
                <li>
                  <a>Settings</a>
                </li>
                <li>
                  <a @click="logout()">Logout</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex-none">
            <div class="avatar">
              <div class="rounded-full w-10 h-10 m-1">
                <p></p>
                <!--<img src="https://i.pravatar.cc/500?img=32" />-->
              </div>
            </div>
          </div>
        </div>
        <!--     <label for="my-drawer-2" class="mb-4 btn btn-primary drawer-button lg:hidden">open menu</label>
    <div class="hidden text-xs text-center lg:block">Menu is always open on desktop size.
      <br>Resize the browser to see toggle button on mobile size
    </div>
    <div class="text-xs text-center lg:hidden">Menu can be toggled on mobile size.
      <br>Resize the browser to see fixed sidebar on desktop size
    </div>
    -->
        <div class="container mx-auto p-5">
          <!-- <div class="card text-center"> -->
          <!-- <div class="container"> -->
          <!-- <router-view /> -->
          <slot> </slot>
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer-2" class="drawer-overlay"></label>
        <!---
        <div id="nav" class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <router-link
            v-for="(navItem, index) in navItems"
            :key="index"
            class="leading-6"
            :to="{ name: navItem.name }"
          >
            {{ navItem.text }}
          </router-link>
        </div>
        -->

        <ul class="menu p-4 overflow-y-auto w-80 bg-base-100 text-base-content">
          <li id="nav" v-for="(navItem, index) in navItems" :key="index">
            <router-link
              class="leading-6 text-black"
              :to="{ name: navItem.name }"
            >
              {{ navItem.text }}
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import { Inertia } from "@inertiajs/inertia";

export default {
  data() {
    return {
      open: false,
      dimmer: true,
      right: false,
      navItems: [
        {
          text: "Home",
          url: "/home",
          name: "Admin Home",
        },
        {
          text: "Applications",
          url: "/applications",
          name: "Applications",
        },
        // {
        //   text: "Our Tutors",
        //   url: "/tutors",
        //   name: "Tutors",
        // },
        // {
        //   text: "About Us",
        //   url: "/about-us",
        //   name: "About",
        // },
        // {
        //   text: "Login",
        //   url: "/Login",
        //   name: "Login",
        // },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },
  methods: {
    toggle() {
      this.open = !this.open;
    },
    logout() {
      // AuthUser.authCheck().then((response) => {
      Inertia.post("/logout");
      // });
      // $user =
    },
  },
};
</script>

<style scoped>
html {
  background: #efefef;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease-out;
}

#nav a.router-link-exact-active {
  background-color: lightgray;
  color: black;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
