<template>
  <div id="app" class="bg-white">
    <Head title="Contactutors" meta="General page" head-key="general" />
    <!-- <div id="nav"> -->
    <div class="shadow drawer flex-none">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />

      <div class="drawer-content flex flex-col">
        <nav-bar></nav-bar>

        <main class="flex-grow">
          <slot> </slot>
        </main>
        <footer class="bg-footer-bg w-full footer mt-4" style="width: 100%">
          <div
            class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8 text-white"
          >
            <nav
              v-if="!is_logged_in"
              class="flex flex-wrap justify-center -mx-5 -my-2 text-white"
            >
              <div
                class="px-5 py-2 text-white"
                v-for="(navItem, index) in navItemsLeft"
                :key="index"
              >
                <Link class="leading-6 text-white" :to="{ name: navItem.name }">
                  {{ navItem.text }}
                </Link>

                <div v-if="!is_logged_in">
                  <Link class="leading-6 text-white" :to="{ name: 'Login' }">
                  </Link>

                  <Link class="leading-6 text-white" :to="{ name: 'Sign Up' }">
                  </Link>
                </div>
              </div>
            </nav>
            <p><a href="mailto:contactutors@gmail.com">Mail Us</a></p>

            <p class="mt-8 text-base leading-6 text-center text-gray-400">
              © 2021 Contactutors. All rights reserved.
            </p>
          </div>
        </footer>
      </div>

      <!-- drawer contents -->
      <side-bar></side-bar>
      <!-- <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 overflow-y-auto w-80 bg-white text-base-content">
          <div>
            <label for="my-drawer" class="btn btn-square drawer-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-4 h-4 stroke-current md:w-6 md:h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"
                ></path>
              </svg>
            </label>
          </div>
          <li v-for="(navItem, index) in navItemsLeft" :key="index">
            <Link
              class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
              :href="navItem.url"
            >
              {{ navItem.text }}
            </Link>
          </li>
          <div v-if="!is_logged_in">
            <li>
              <Link
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                href="/login"
              >
                Login
              </Link>
            </li>
            <li>
              <Link
                class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
                href="/sign-up"
              >
                Sign Up
              </Link>
            </li>
          </div>
        </ul>
      </div> -->
    </div>

    <!-- Foooter -->

    <div class="toast transition delay-50" v-show="toast.show_toast">
      <div :class="'alert alert-' + toast.type">
        <div class="flex flex-col">
          <p>{{ toast.toast_text }}</p>
          <progress v-show="toast.show_loader" class="progress w-56"></progress>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import { Head } from "@inertiajs/inertia-vue";
import NavBar from "./NavBar.vue";
import SideBar from "./SideBar.vue";

export default {
  components: {
    Head,
    NavBar,
    SideBar,
  },

  provide() {
    return {
      toggleToast: this.toggleToast,
    };
  },
  name: "Layout",
  data() {
    return {
      toast: {
        toast_text: "",
        show_toast: false,
        show_loader: false,
        type: "",
      },
      showMenu: false,
      user_roles: [],
      open_user_details_modal: false,
      user: "",
      is_logged_in: false,
      navItemsLeft: [
        {
          text: "Home",
          url: "/",
          name: "Home",
        },
        {
          text: "Job Postings",
          url: "/job-posts",
          name: "Jobs",
        },
        // {
        //   text: "Contact",

        // },
        {
          text: "Our Tutors",
          url: "/tutors",
          name: "Tutors",
        },
        {
          text: "About Us",
          url: "/about-us",
          name: "About",
        },
        // {
        //   text: "Become A Tutor",
        //   url: "/become-a-tutor",
        //   name: "Become A Tutor",
        // },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },
  computed: {
    // user() {
    //   return (this.is_logged_in =
    //     this.$page.props.auth.user == "" ? false : true);
    // },
  },
  methods: {
    toggleNavbar: function () {
      this.showMenu = !this.showMenu;
    },
    logout() {
      //   AuthUser.authCheck().then((response) => {
      Inertia.post("/logout");
      // .then((response) => {
      //   this.$router.replace("/login");
      // })
      // .catch((err) => {});
      //   });
      // $user =
    },
    toggleToast(text, show_loader = false, type = "success") {
      this.toast.show_toast = true;
      this.toast.toast_text = text;
      this.toast.show_loader = show_loader;
      this.toast.type = type;
      setTimeout(() => {
        this.toast.show_toast = false;
      }, 3000);
    },
  },
};
</script>

<style></style>
