<template>
  <nav>
    <div
      class="w-full navbar sticky top-0 lg:hidden shadow-lg text-neutral-content z-10 bg-white"
    >
      <div class="flex-none lg:hidden">
        <label for="my-drawer" class="btn btn-square drawer-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-6 h-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <div class="flex-1 navbar-end px-2 mx-2">
        <div class="flex flex-row" v-if="is_logged_in">
          <Link
            v-if="$page.props.auth.user.roles.includes('Client')"
            as="button"
            href="/job-posts/create"
            class="btn border-accent-1 bg-white text-black btn-ghost hover:bg-accent-1-hover"
          >
            Post a job
          </Link>
          <p class="text-black mt-4">
            {{ user.name }}
          </p>
          <div class="dropdown dropdown-end">
            <div tabindex="0" class="text-black m-1 btn btn-square btn-ghost">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="inline-block w-6 h-6 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                  ></path>
                </svg>
              </span>
            </div>

            <ul
              tabindex="0"
              class="p-2 shadow menu dropdown-content text-black bg-white rounded-box w-52"
            >
              <li>
                <Link as="a" href="/account/profile">Profile</Link>
              </li>
              <li v-if="$page.props.auth.user.roles.includes('Tutor')">
                <Link as="a" href="/account/tutor-profile"
                  >My Tutor Profile</Link
                >
              </li>
              <li v-if="$page.props.auth.user.roles.includes('Client')">
                <Link as="a" href="/account/job-postings">My Job Posts</Link>
              </li>
              <!-- <li>
                    <Link as="a" href="/account/setting">Settings</Link>
                  </li> -->
              <li>
                <a @click="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
        <span v-else>
          <a href="/">
            <img src="/images/glasses.svg" width="0" height="10" /></a
        ></span>
      </div>
    </div>
    <div
      class="navbar hidden lg:flex sticky top-0 py-5 mb-2 px-5 bg-white shadow-md text-neutral-content w-full z-10"
    >
      <div class="flex-1 px-2 mx-2">
        <div class="flex flex-row space-x-4">
          <a href="/">
            <img src="/images/glasses.svg" width="80" height="10"
          /></a>
          <Link
            v-for="(navItem, index) in navItemsLeft"
            :key="index"
            :disabled="$page.url === navItem.url"
            v-bind:class="{
              'text-accent-1-hover': $page.url === navItem.url,
            }"
            class="hidden px-3 py-2 lg:flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
            :href="navItem.url"
          >
            {{ navItem.text }}
          </Link>
        </div>
      </div>
      <div class="flex-none hidden px-2 mx-2 lg:flex navbar-center">
        <div class="flex items-stretch" v-if="!$page.props.auth.user">
          <Link
            as="a"
            :disabled="$page.url === '/login'"
            v-bind:class="{
              'text-accent-1-hover': $page.url === '/login',
            }"
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
            href="/login"
          >
            Login
          </Link>

          <Link
            :disabled="$page.url === '/sign-up'"
            v-bind:class="{
              'text-accent-1-hover': $page.url === '/sign-up',
            }"
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
            href="/sign-up"
          >
            Sign Up
          </Link>
        </div>
      </div>
      <div class="flex-none hidden lg:flex" v-if="!is_logged_in">
        <!-- <button
              class="btn bg-accent-1 btn-ghost hover:bg-accent-1-hover"
              @click="
                $router.push({
                  name: 'Become A Tutor',
                })
              "
            >
              Become A Tutor
            </button> -->
      </div>
      <div class="flex-none hidden lg:flex" v-if="$page.props.auth.user">
        <Link
          v-if="$page.props.auth.user.roles.includes('Client')"
          as="button"
          href="/job-posts/create"
          class="btn border-accent-1 bg-white text-black btn-ghost hover:bg-accent-1-hover"
        >
          Post a job
        </Link>
        <p class="text-black">
          {{ user.name }}
        </p>
        <div class="dropdown dropdown-end">
          <div tabindex="0" class="text-black m-1 btn btn-square btn-ghost">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                ></path>
              </svg>
            </span>
            <!-- <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  class="inline-block w-6 h-6 stroke-current"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                  ></path>
                </svg> -->
          </div>
          <!-- <div  class="m-1 btn">Dropdown</div> -->
          <ul
            tabindex="0"
            class="p-2 shadow menu dropdown-content bg-white text-black rounded-box w-52"
          >
            <li v-if="user_roles.includes('Admin')">
              <a
                @click="
                  $router.push({
                    name: 'Admin Home',
                  })
                "
                >Dashboard</a
              >
            </li>
            <li>
              <Link :href="'/account/profile'">Profile</Link>
            </li>
            <li v-if="$page.props.auth.user.roles.includes('Tutor')">
              <Link as="a" href="/account/tutor-profile">My Tutor Profile</Link>
            </li>
            <li v-if="$page.props.auth.user.roles.includes('Client')">
              <Link as="a" href="/account/job-postings">My Job Posts</Link>
            </li>
            <!-- <li>
                  <Link :href="'account/settings'">Settings</Link>
                </li> -->
            <li>
              <a @click="logout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
export default {
  created() {
    this.is_logged_in = this.$page.props.auth === "" ? false : true;
  },
  computed: {
    user() {
      return (this.is_logged_in =
        this.$page.props.auth.user == "" ? false : true);
    },
  },
  methods: {
    logout() {
      //   AuthUser.authCheck().then((response) => {
      Inertia.post("/logout");
      // .then((response) => {
      //   this.$router.replace("/login");
      // })
      // .catch((err) => {});
      //   });
      // $user =
    },
  },
  data() {
    return {
      is_logged_in: false,
      user_roles: [],

      navItemsLeft: [
        {
          text: "Home",
          url: "/",
          name: "Home",
        },
        {
          text: "Job Postings",
          url: "/job-posts",
          name: "Jobs",
        },
        // {
        //   text: "Contact",

        // },
        {
          text: "Our Tutors",
          url: "/tutors",
          name: "Tutors",
        },
        {
          text: "About Us",
          url: "/about-us",
          name: "About",
        },
        // {
        //   text: "Become A Tutor",
        //   url: "/become-a-tutor",
        //   name: "Become A Tutor",
        // },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },
};
</script>

<style>
</style>
