<template>
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 overflow-y-auto w-80 bg-white text-base-content">
      <div>
        <label for="my-drawer" class="btn btn-square drawer-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block w-4 h-4 stroke-current md:w-6 md:h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </label>
      </div>
      <li v-for="(navItem, index) in navItemsLeft" :key="index">
        <Link
          class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
          :href="navItem.url"
        >
          {{ navItem.text }}
        </Link>
      </li>
      <div v-if="!isLoggedIn">
        <li>
          <Link
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
            href="/login"
          >
            Login
          </Link>
        </li>
        <li>
          <Link
            class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-black hover:opacity-75"
            href="/sign-up"
          >
            Sign Up
          </Link>
        </li>
      </div>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    isLoggedIn() {
      return this.$page.props.auth === "" ? false : true;
    },
  },
  data() {
    return {
      navItemsLeft: [
        {
          text: "Home",
          url: "/",
          name: "Home",
        },
        {
          text: "Job Postings",
          url: "/job-posts",
          name: "Jobs",
        },
        // {
        //   text: "Contact",

        // },
        {
          text: "Our Tutors",
          url: "/tutors",
          name: "Tutors",
        },
        {
          text: "About Us",
          url: "/about-us",
          name: "About",
        },
        // {
        //   text: "Become A Tutor",
        //   url: "/become-a-tutor",
        //   name: "Become A Tutor",
        // },
        // {
        //   text: "Sign Up",
        //   url: "/signup",
        //   name: "Sign Up",
        // },
      ],
    };
  },
};
</script>

<style>
</style>
