<template>
  <div></div>
</template>

<script>
export default {
  data() {
    return {
      user: {},
    };
  },
  //   created() {
  //       axios.get('api/')
  //   },
};
</script>

<style></style>
