<template>
  <div class="container">
    <div
      class="
        flex
        w-full
        place-items-center place-content-center
        justify-center
        flex-row
      "
    >
      <div class="tabs justify-center">
        <a
          @click="switchTab(current_tab.index)"
          class="tab tab-bordered text-black"
          v-bind:class="{
            'tab-active': current_tab.index === active_tab_index,
          }"
          v-for="(current_tab, index) in tabs"
          :key="index"
          >{{ current_tab.title }}</a
        >
      </div>
    </div>
    <div>
      <div
        class="sm:flex flex-col md:grid grid-cols-3 md:gap-4"
        v-show="active_tab_index == 0"
      >
        <div v-if="ongoing_offers.length == 0" class="mt-5">
          <p>Seems like you haven't made any offers yet.</p>

          <button
            class="btn mt-5"
            @click="
              {
                $router.push({
                  name: 'Tutors',
                });
              }
            "
          >
            Find a tutor
          </button>
        </div>
        <div
          class="card bg-base-100 shadow-xl mb-5"
          v-for="ongoing_offer in ongoing_offers"
          :key="ongoing_offer.id"
        >
          <div class="card-body">
            <h2 class="card-title">
              <div class="avatar">
                <div class="w-24 rounded">
                  <img :src="ongoing_offer.tutor.profile_pic_url" />
                </div>
              </div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">Details</button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="sm:flex flex-col md:grid grid-cols-3 md:gap-4"
        v-show="active_tab_index == 1"
      >
        <div
          class="card bg-base-100 shadow-xl mb-5"
          v-for="accepted_offer in accepted_offers"
          :key="accepted_offer.id"
        >
          <div class="card-body">
            <h2 class="card-title">
              <div class="avatar">
                <div class="w-24 rounded">
                  <img :src="accepted_offer.tutor.profile_pic_url" />
                </div>
              </div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
              <button
                class="btn btn-primary"
                @click="
                  $router.push({
                    name: 'Accepted Offer Payment',
                    params: { offer_id: accepted_offer.id },
                  })
                "
              >
                Make Payment
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="sm:flex flex-col md:grid grid-cols-3 md:gap-4"
        v-show="active_tab_index == 2"
      >
        <div
          class="card bg-base-100 shadow-xl mb-5"
          v-for="pending_offer in pending_offers"
          :key="pending_offer.id"
        >
          <div class="card-body">
            <h2 class="card-title">
              <div class="avatar">
                <div class="w-24 rounded">
                  <img :src="pending_offer.tutor.profile_pic_url" />
                </div>
              </div>
            </h2>
            <p>If a dog chews shoes whose shoes does he choose?</p>
            <div class="card-actions justify-end">
              <button
                @click="
                  $router.push({
                    name: 'Offer Details',
                    params: { offer_id: pending_offer.id },
                  })
                "
                class="btn btn-primary"
              >
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    switchTab(indexToSwitchTo) {
      this.active_tab_index = indexToSwitchTo;
    },
    getAcceptedOffers() {
      axios.get("api/get-user-offers?status=2").then((response) => {
        this.accepted_offers = response.data.offers.data;
      });
    },
    getPendingOffers() {
      axios.get("api/get-user-offers?status=1").then((response) => {
        this.pending_offers = response.data.offers.data;
      });
    },
    getOngoingOffers() {
      axios.get("api/get-user-offers?status=5").then((response) => {
        this.ongoing_offers = response.data.offers.data;
      });
    },
  },
  data() {
    return {
      user: {},
      active_tab_index: 0,
      tabs: [
        {
          title: "Ongoing Offers",
          index: 0,
        },
        {
          title: "Accepted Offers",
          index: 1,
        },
        {
          title: "Pending Offers",
          index: 2,
        },
      ],
      accepted_offers: {},
      pending_offers: {},
      ongoing_offers: {},
    };
  },
  created() {
    this.getAcceptedOffers();
    this.getPendingOffers();
    this.getOngoingOffers();
  },
};
</script>

<style></style>
