<template>

    <div class="flex flex-col">
        <form class="  text-black py-3">
          <div class="form-control">
            <label class="label">
              <span class="label-text text-black">First Name*</span>
            </label>
            <input
              type="text"
              placeholder="first name"
              class="input input-bordered bg-white border-black"
              :class="{
                'input input-error input-bordered': $v.user.first_name.$error,
              }"
              v-model.trim="$v.user.first_name.$model"
            />
            <!-- <input
                  type="text"
                  placeholder="first name"
                  class="input input-bordered bg-white border-black"
                  v-model="user.first_name"
                /> -->
            <p class="error text-sm text-red-500" v-if="$v.user.first_name.$error">
              First Name is required
            </p>
            <!-- <div class="error" v-if="!$v.user.first_name.minLength">
                  Name must have at least
                  {{ $v.user.first_name.$params.minLength.min }} letters.
                </div> -->
          </div>

          <div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-black">Middle Name</span>
              </label>
              <input
                type="text"
                placeholder="middle name"
                class="input input-bordered bg-white border-black"
                v-model="user.middle_name"
              />
            </div>
          </div>
          </div>

</template>

<script>
export default {
  data() {
    return {
      user: null,
    };
  },

  mounted() {
    axios
      .get("api/get-ongoing-user-agreements/")
      .then((response) => {
        // this.offer = response.data.tutor_offer;
        this.user = response.data.user;
      })
      .catch((err) => {
        this.error.exists = true;
        this.error.message = err;
      });
  },
};
</script>

<style></style>
