<template>
  <div class="text-black md:p-12 p-6 flex flex-col space-y-4">
    <div>
      <h2 class="text-4xl font-bold mb-3">
        Find The best tutoring jobs on kaduna
      </h2>
      <p class="text-gray-600">Browse through our list of home tutoring jobs</p>
    </div>

    <div class="flex flex-row space-x-4 min-h-ful">
      <div
        class="grid md:grid-cols-3 md:gap-y-4 gap-y-5 md:gap-x-6 w-full min-h-full"
      >
        <job-card
          v-for="job_post in job_posts.data"
          :key="job_post.id"
          :job_details="job_post"
        >
        </job-card>
      </div>
    </div>
    <Head title="Job Posts"></Head>
  </div>
</template>

<script>
import JobCard from "../Components/JobCard.vue";
import { Head } from "@inertiajs/inertia-vue";

export default {
  components: { JobCard, Head },
  props: {
    job_posts: {
      type: Object,
    },
  },
};
</script>

<style>
</style>
