<template>
  <div class="text-black p-5 md:p-12 flex flex-col space-y-10">
    <div class="flex flex-row space-x-4 py-5">
      <h1 class="text-4xl font-bold">
        {{ job_post.data.title }}
        <br />
        <span class="text-sm font-light">
          Posted {{ job_post.data.posted_at }}
        </span>
      </h1>
      <div>
        <a @click="copyToClipboard" class="mt-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
            />
          </svg>
        </a>
      </div>
    </div>

    <div class="flex flex-row flex-wrap">
      <div class="pr-5 md:w-1/3">
        <div
          class="flex flex-col space-y-5 border p-5 h-fit rounded-md border-primary"
        >
          <div>
            <h4 class="font-medium mb-2">Subjects</h4>
            <ul class="font-light">
              <li
                v-for="(subject, index) in job_post.data.subjects"
                :key="index"
              >
                {{ subject }}
              </li>
            </ul>
          </div>

          <div>
            <h4 class="font-medium mb-2">Sessions</h4>
            <ul class="font-light">
              <li
                v-for="(day, index) in job_post.data.session_days"
                :key="index"
              >
                {{ day }}
              </li>
            </ul>
          </div>

          <div>
            <h4 class="font-medium mb-2">
              Number Of Students : {{ job_post.data.number_of_students }}
            </h4>
            <h4 class="mb-2">
              <span class="font-medium"> Proposed Salary </span> : ₦{{
                job_post.data.proposed_price
              }}
              {{ job_post.data.payment_interval }}
            </h4>
            <h4 class="mb-2">
              <span class="font-medium">
                Minimum Years Of Teaching Experience
              </span>
              : {{ job_post.data.minimum_years_of_experience }}
            </h4>
          </div>
        </div>
      </div>
      <div class="md:w-2/3 flex flex-col space-y-7">
        <div>
          <h2 class="text-2xl font-medium mb-3">Job Description</h2>
          <p v-html="job_post.data.job_description"></p>
        </div>

        <div>
          <h2 class="text-2xl font-medium mb-3">How To Apply</h2>
          <p v-html="job_post.data.how_to_apply"></p>
        </div>
      </div>
    </div>
    <Head title="Job Post Details"></Head>
  </div>
</template>

<script>
import { Head } from "@inertiajs/inertia-vue";

export default {
  components: { Head },

  props: {
    job_post: {
      type: Object,
    },
  },
  methods: {
    copyToClipboard() {
      // Create a textarea element to hold the text to be copied
      const textArea = document.createElement("textarea");
      textArea.value = window.location.href; // Replace with the text you want to copy

      // Append the textarea to the document
      document.body.appendChild(textArea);

      // Select the text in the textarea
      textArea.select();

      // Copy the selected text to the clipboard
      document.execCommand("copy");

      // Remove the textarea from the document
      document.body.removeChild(textArea);

      // Optionally, you can show a success message to the user
      alert("Link copied to clipboard!");
    },
  },
};
</script>

<style>
</style>
