<template>
  <div class="text-black">
    <div
      class="flex flex-col space-y-6 justify-center min-h-screen"
      v-show="show_signup_form == false"
    >
      <div class="text-center">
        <h1 class="text-4xl font-medium">Select your account type</h1>
        <p>Join as a Client or a Tutor</p>
      </div>
      <div
        class="flex flex-wrap flex-row justify-center space-y-2 md:space-y-0"
      >
        <div class="">
          <div>
            <div
              :class="{
                'bg-gray-100 shadow-xl border-accent-1':
                  selected_account_type.value == 1,
              }"
              class="card w-96 border transition dela"
              @click="setAccountType(1, 'Client')"
            >
              <div class="card-body">
                <h2 class="card-title">
                  I'm a student or parent looking for a home tutor in Kaduna and
                  post job offers
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="divider divider-horizontal sm:only:hidden"></div>
        <div>
          <div>
            <div
              :class="{
                'bg-gray-100 shadow-xl border-accent-1':
                  selected_account_type.value == 2,
              }"
              class="card w-96 border transition"
              @click="setAccountType(2, 'Tutor')"
            >
              <div class="card-body">
                <h2 class="card-title">
                  I'm a tutor in Kaduna looking for work
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <button
          @click="show_signup_form = true"
          class="btn btn-accent-1"
          :disabled="selected_account_type.value == null"
        >
          Sign Up as a {{ selected_account_type.text }}
        </button>
        <br />
      </div>

      <div class="flex justify-center">
        <p>
          I already have an account,
          <Link class="text-accent-2" href="/login">Sign In</Link>
        </p>
      </div>
    </div>
    <sign-up-form
      @changeAccountType="changeAccountType($event)"
      v-show="show_signup_form"
      :account_type="selected_account_type"
    >
    </sign-up-form>
  </div>
</template>

<script>
import SignUpForm from "./FormElements/SignUpForm.vue";
export default {
  components: { SignUpForm },
  data() {
    return {
      show_signup_form: false,
      selected_account_type: {
        text: "",
        value: null,
      },
    };
  },
  methods: {
    setAccountType(value, text) {
      this.selected_account_type.text = text;
      this.selected_account_type.value = value;
    },
    changeAccountType(event) {
      this.selected_account_type.text = event.text;
      this.selected_account_type.value = event.value;
    },
  },
};
</script>

<style>
</style>
