<template>
  <div>
    <div class="avatar">
      <div
        class="mb-8 rounded-full h-28 ring ring-black ring-offset-base-100 ring-offset-2"
      >
        <img :src="url" />
      </div>
    </div>
    <div class="mb-5">
      <h1 class="font-bold text-2xl">
        {{ name }}
      </h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "Avatar",
  props: ["url", "name"],
};
</script>

<style></style>
