<template>
  <div>
    <label class="label">
      <span class="label-text text-black">
        {{ label }} <span v-show="isRequired"> * </span></span
      >
    </label>

    <input
      :type="inputType"
      :placeholder="placeholder"
      :required="isRequired"
      :readonly="isReadonly"
      v-model="bindedValue"
      class="input input-bordered bg-white border-black w-full"
      :class="{
        'input-error border-red-500': errors,
      }"
    />
    <!-- @keydown="$emit('clearError')" -->
    <!-- <input
      type="text"
      placeholder="first name"
      v-model.trim="$v.user.first_name.$model"
      class="input input-bordered bg-white border-black w-full"
      :class="{
        'input-error border-red-500': $v.user.first_name.$error,
      }"
    /> -->
    <!-- <p
      class="error text-left text-sm text-red-500"
      v-if="$v.user.first_name.$error"
    >
      First Name is required
    </p> -->
  </div>
</template>

<script>
export default {
  computed: {
    bindedValue: {
      get() {
        return this.inputVal;
      },
      set(val) {
        this.$emit("input", val);
      },
    },
  },
  props: {
    inputType: {
      type: String,
      default: "text",
    },
    isRequired: {
      type: Boolean,
      default: true,
    },
    label: {
      type: String,
      required: false,
    },
    placeholder: {
      type: String,
      required: false,
    },
    inputVal: {
      type: String,
      required: false,
    },
    isReadonly: {
      type: Boolean,
      default: false,
    },
    errors: {
      required: false,
    },
  },
};
</script>

<style>
</style>
