<template>
  <div>
    <input
      ref="fileInput"
      type="file"
      hidden
      @input="pickFile()"
      accept="image/png, image/jpeg"
    />
    <div class="grid justify-center mb-10">
      <div class="avatar justify-center">
        <div
          class="rounded-full w-24 h-24 ring ring-black ring-offset-base-100 ring-offset-2"
        >
          <img
            v-if="user.profile_picture_url == null"
            :src="'/images/blank-profile-picture.svg'"
          />

          <!-- <img v-if="previewImage" :src="`${previewImage}`" /> -->
          <img
            v-if="user.profile_picture_url"
            :src="`${user.profile_picture_url}`"
          />
        </div>
        <!-- <span class="text-black text-xl">*</span> -->
      </div>
      <div class="flex justify-center">
        <button @click="selectImage()" class="btn mt-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
            />
          </svg>
        </button>
      </div>
      <!-- <div class="mt-3 w-80">
              <p class="text-1xl text-black text-center">
                Available everyday of the week, for up to 3 hours a day. To tutor 3
                students in any of my subjects.
              </p>
            </div> -->
    </div>
  </div>
</template>

<script>
// import { required, minLength, between, email } from "vuelidate/lib/validators";
import { Inertia } from "@inertiajs/inertia";

export default {
  inject: ["toggleToast"],

  data() {
    return {
      previewImage: null,
    };
  },
  props: ["user"],
  name: "ProfilePicUploader",
  methods: {
    setPreviewImage(image) {
      let reader = new FileReader();
      reader.onload = (e) => {
        this.previewImage = e.target.result;
      };
      reader.readAsDataURL(image);
      this.$emit("input", image);
    },
    selectImage() {
      this.$refs.fileInput.click();
    },

    pickFile() {
      let input = this.$refs.fileInput;
      let file = input.files;
      if (file && file[0]) {
        let reader = new FileReader();
        reader.onload = (e) => {
          this.previewImage = e.target.result;
        };
        reader.readAsDataURL(file[0]);
        // this.$emit("input", file[0]);
        this.updateUserProfilePicture(file[0]);
        // this.user.profile_picture = file[0];
        // this.image_validation_failed = false;

        // if (this.user_errors.has('image')) {
        //   this.user_errors.delete('image')
        // }
      }
      // console.log(this.tutor_details.image)
    },

    updateUserProfilePicture(image) {
      let fd = new FormData();
      fd.append("profile_picture", image);
      Inertia.post("/users/" + this.user.id + "/update-profile-pic", fd, {
        onStart: () => {
          this.submitting_form = true;
          this.toggleToast("Updating", true);
        },
        onFinish: () => {
          this.submitting_form = false;
          this.toggleToast("Profile Picture Updated");
        },
        onError: (errors) => {
          this.toggleToast("Something went wrong", false, "danger");
          //   for (let msg in errors.response.data.errors) {
          //     let i = 0;
          //     //text += person[x] + " ";
          //     this.errors.push(err.response.data.errors[msg][i]);
          //     i++;
          //   }
          //   console.log(this.errors);
          //   console.log(err.response.data.errors);
          //   this.submitting_form = false;
        },
      });
    },
  },
  //   validations: {
  //     previewImage: { required },
  //   },
};
</script>

<style></style>
